<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <title>{{ title }}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../../resources/css/main.css"/>
        <link rel="stylesheet" href="../vendor/prism.css">
        <link rel="stylesheet" href="../resources/guideStyle.css">
    </head>

    <body>
        <div class="guide">
            <div class="head">
                <h1 class="head__logo">
                    <a href="#none" alt="홈 바로가기">
                        <img src="../../resources/images/logo.png" alt="신한은행 UXW"/>
                        <span>신한은행 UXW 가이드</span>
                    </a>
                </h1>
            </div>
            <div class="guide__wrap">
                {% include "../templates/menu.njk" %}
                <div class="guide__content">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.14.0/beautify.min.js"></script>
        <script src="../../resources/js/uxw.ui.js"></script>
        <script src="../vendor/prism.js"></script>
        <script src="../resources/guideCommon.js"></script>
    </body>

</html>