//default
$white: #fff;
$black: #000;
$colors: (
    grey: (50: #F8F9FC,
        // 100: #f8f8f8,
        // 150: #f6f6f6,
        200: #EBEFF5 // 300: #ddd,
        // 400: #ccc,
        // 500: #aaa,
        // 600: #888,
        // 700: #666,
        // 800: #444,
        // 900: #222
    ),
    yellow: (50: #fffee6,
        100: #fffcc5,
        200: #fff8a5,
        300: #fff28b,
        400: #ffeb74,
        500: #ffe261,
        600: #ffd851,
        700: #ffcc45,
        800: #f4c342,
        900: #e8ba3f),
    light-green: (50: #effbed,
        100: #dbf5d7,
        200: #c7eec1,
        300: #b3e7ab,
        400: #a0e096,
        500: #8cd981,
        600: #7ad16c,
        700: #67c858,
        800: #62be54,
        900: #5db44f),
    red: (50: #fce9e9,
        100: #f8d3d3,
        200: #f5bdbd,
        300: #f1a7a7,
        400: #ee9191,
        500: #eb7a7a,
        600: #e76464,
        700: #e44e4e,
        800: #e03838,
        900: #d22),
    orange: (50: #fff7ef,
        100: #fce4c8,
        200: #fbd8b0,
        300: #facc98,
        400: #f9c07f,
        500: #f8b467,
        600: #f6a84f,
        700: #f59c36,
        800: #f4901e,
        900: #ed840c),
    purple: (50: #f5f2ff,
        100: #dfd4ff,
        200: #c9b6ff,
        300: #b597ff,
        400: #a179ff,
        500: #8d5bff,
        600: #7b3dff,
        700: #6a1ef7,
        800: #5902e8,
        900: #5003d0),
    darkblue: (50: #f4f4f9,
        100: #dbdbe5,
        200: #bcbdd1,
        300: #a3a5c0,
        400: #8b8d80,
        500: #73759f,
        600: #5f618b,
        700: #4e5072,
        800: #3e3f5a,
        900: #2d2e42),
    blue: ( // 30: #f5f5f7,
        // 50: #e6effb,
        // 100: #c5dbf4,
        // 200: #a4c7ed,
        // 300: #83b2e5,
        // 400: #629edd,
        // 500: #428ad3,
        // 600: #2275ca,
        // 700: #0461bf,
        800: #0471E9,
        // 900: #004ea8
    ),
    turquoise: (50: #e6faf8,
        100: #c6f2ee,
        200: #a7eae3,
        300: #88e1d8,
        400: #6ad8cd,
        500: #4dcec1,
        600: #30c385,
        700: #14b8a8,
        800: #0bad9d,
        900: #03a091),
    natural: (1: #2175d3,
        2: #5902e8,
        3: #f4f4f4,
        4: #5656dc)
);

//example:  get-color(gray, 150)
@function color($color, $value: 0) {
    @return map-get(map-get($colors, $color), $value);
}