@charset "utf-8";

/* font */
@font-face {
    font-family: 'oneshinhan'; // 볼드체 700
    font-weight: 700;
    font-display: fallback;
    font-style: normal;
    src: url('../fonts/OneShinhanBold.eot');
    src: local('OneShinhanBold'),
        url('../fonts/OneShinhanBold.woff2') format('woff2'),
        url('../fonts/OneShinhanBold.woff') format('woff'),
        url('../fonts/OneShinhanBold.ttf') format('truetype');
}

@font-face {
    font-family: 'oneshinhan'; // 미디엄 500
    font-weight: 500;
    font-display: fallback;
    font-style: normal;
    src: url('../fonts/OneShinhanMedium.eot');
    src: local('OneShinhanMedium'),
        url('../fonts/OneShinhanMedium.woff2') format('woff2'),
        url('../fonts/OneShinhanMedium.woff') format('woff'),
        url('../fonts/OneShinhanMedium.ttf') format('truetype');
}

@font-face {
    font-family: 'oneshinhan'; // 라이트 300
    font-weight: 300;
    font-display: fallback;
    font-style: normal;
    src: url('../fonts/OneShinhanLight.eot');
    src: local('OneShinhanLight'),
        url('../fonts/OneShinhanLight.woff2') format('woff2'),
        url('../fonts/OneShinhanLight.woff') format('woff'),
        url('../fonts/OneShinhanLight.ttf') format('truetype');
}