{% set navigation = [
    {
        'id': 'accordion__content0',
        'header': 'accordion__header0',
        'name': '화면목록',
        'url': 'index.html'
    }, {
        'id': 'accordion__content1',
        'header': 'accordion__header1',
        'name': 'Layout',
        'children': [
            {
                'name': 'Header',
                'url': 'header.html',
                'alt': '헤더 바로가기'
            }
        ]
    }, {
        'id': 'accordion__content2',
        'header': 'accordion__header2',
        'name': 'Components',
        'children': [
            {
                'name': 'Tabs',
                'url': './tabs.html',
                'alt': '탭 바로가기',
                'id': 'accordion__content2-1',
                'header': 'accordion__header2-1'
            }, {
                'name': 'Accordion',
                'url': './accordion.html',
                'alt': '아코디언 바로가기',
                'id': 'accordion__content2-2',
                'header': 'accordion__header2-2'
            }, {
                'name': 'Title',
                'url': './title.html',
                'alt': '타이틀 바로가기',
                'id': 'accordion__content2-3',
                'header': 'accordion__header2-3'
            }, {
                'name': 'tooltip',
                'url': './tooltip.html',
                'alt': '툴팁 바로가기',
                'id': 'accordion__content2-4',
                'header': 'accordion__header2-4'
            }
        ]
    }, {
        'id': 'accordion__content3',
        'header': 'accordion__header3',
        'name': 'Elements',
        'children': [
            {
                'name': 'Button',
                'url': './button.html',
                'alt': '버튼 바로가기',
                'id': 'accordion__content5',
                'header': 'accordion__header5'
            }, {
                'name': 'Text',
                'url': './text.html',
                'alt': '텍스트 바로가기',
                'id': 'accordion__content6',
                'header': 'accordion__header6'
            }, {
                'name': 'Form',
                'url': './form.html',
                'alt': '폼 바로가기',
                'id': 'accordion__content7',
                'header': 'accordion__header7'
            }, {
                'name': 'Input',
                'url': './input.html',
                'alt': '인풋 바로가기',
                'id': 'accordion__content8',
                'header': 'accordion__header8'
            }, {
                'name': 'Radio',
                'url': './radio.html',
                'alt': '라디오 바로가기',
                'id': 'accordion__content9',
                'header': 'accordion__header9'
            }, {
                'name': 'Checkbox',
                'url': './checkbox.html',
                'alt': '체크박스 바로가기',
                'id': 'accordion__content10',
                'header': 'accordion__header10'
            }, {
                'name': 'TextArea',
                'url': './textarea.html',
                'alt': '텍스트아레아 바로가기',
                'id': 'accordion__content10',
                'header': 'accordion__header10'
            }, {
                'name': 'Icon',
                'url': './icon.html',
                'alt': '아이콘 바로가기',
                'id': 'accordion__content11',
                'header': 'accordion__header11'
            }, {
                'name': 'Grid',
                'url': './grid.html',
                'alt': '체크박스 바로가기',
                'id': 'accordion__content12',
                'header': 'accordion__header12'
            }
        ]
    }
] %}

{% block content %}
    <div class="guide__menu">
        <nav class="guide__menu__nav">
            <div class="accordion" data-ui-accordion data-accordion-onlyone="true">
                <div class="accordion__box">
                    {% for item in navigation %}
                        <div class="accordion__item">
                            {% if item.children %}
                                <div class="accordion__head">
                                    <button class="accordion__button" id="{{item.header}}" type="button" aria-expanded="false" aria-controls="{{item.id}}" aria-label="버튼"></button>
                                    <strong>{{item.name}}</strong>
                                </div>
                                <div class="accordion__panel expand" id="{{item.id}}" aria-labelledby="{{item.header}}">
                                    {% for child in item.children %}
                                        <a class="text-link" href="{{child.url}}" alt="{{child.alt}}">{{child.name}}</a>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <div class="accordion__head">
                                    <a class="text-link" href="{{item.url}}" alt="{{item.alt}}">{{item.name}}</a>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </nav>
    </div>
{% endblock %}