<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8"/>
		<title>{{ title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<link rel="stylesheet" href="/res/css/styles.css"/>
		<link
		rel="stylesheet" href="/res/js/lib/swiper.css"/>
	<!--  
    기존 css : main.css, default.css, guide.css 개발측에서 필요없을시 제거 예정
    기존 js : common.js => _common.js로 변경 필요없을시 제거예정 
    ※ styles.css, uxw.ui.js와 필요한 vendor만 import해서 사용 uxw.ui.js의 원본파일 필요시 제공예정 
    ※ 추후 가이드페이지 제작하여 제공예정 모든 등록된 이벤트들은 console.log('UXW', : UXW);로 확인가능합니다.
    ※ 하단 스크립트 들은 모두 예시이며 개발시 변경해야합니다. UXW로 시작된 모든이벤트들은 사용가능합니다.
    ※ UXW 메소드 필요시 제작예정 기획상에 변경사항 없으면 유지
    ※ styles.css는 현재 진행중이므로 수정X : 개발측 CSS 필요시 따로 정리해서 관리,
  -->
	</head>
	<body style="overflow:auto; min-width:1049px;" data-scrollbar> 
  {% block guide %}{% endblock %}
		<script src="/res/js/lib/swiper.min.js"></script>
		<script src="/res/js/uxw.ui.js"></script>
		{% block scripts %}{% endblock %}
	</body>
</html>
