{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "browsers": "> 0.5%, ie >= 11"
                },
                "useBuiltIns": "usage",
                "corejs": 3
            }
        ]
    ]
}