.info {
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
  + .info {
    margin-top: 10px;
  }
  .ic {
    min-width: 24px;
  }

  .text {
    padding-top: 2px;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    margin-left: 8px;
    color: color(grey, 600);
  }

  &--type2 {
    .text {
      padding-top: 0;
      margin-left: 0;

      &-blue {
        &:before {
          color: color(blue, 800);
        }
        color: color(blue, 800);
      }
      &:before {
        top: 8px;
        position: relative;
        content: '';
        border-radius: 50%;
        width: 2px;
        height: 2px;
        background-color: color(grey, 600);
        display: inline-block;
        vertical-align: top;
        margin: 0 8px 0 10px;
      }
    }
  }
}

.guide-writing {
  padding: 40px;
  background-color: color(grey, 100);
  strong {
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    + p {
      margin-top: 20px;
    }
  }
  p {
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
  }
}

.user-personal {
  h4 {
    line-height: 28px;
  }
  padding: 0 24px;
}

.cumulative {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: color(blue, 800);
  border-radius: 8px;
  padding: 33px 24px;
  justify-content: space-between;
  &__list {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: $white;
  }
  &__date {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: color(blue, 500);
  }

  + .user-personal {
    margin-top: 30px;
  }
}

.total {
  font-weight: 500;
  font-size: 14px;
  color: color(grey, 600);
  &__count {
    color: color(blue, 800);
  }
}

.thumnail {
  visibility: hidden;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 80, 197, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    .ic-button {
      margin-left: 20px;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}

.divider {
  position: relative;
  width: 100%;
  margin: 20px 0;
  height: 1px;
  background-color: color(grey, 200);
}

.none-data {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  &--view {
    p {
      font-weight: 300;
      font-size: 14px;
      line-height: 24px;
    }
  }

  &--info {
    padding: 0 20px;
    p {
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;
      color: color(grey, 900);

      &:before {
        content: '';
        width: 72px;
        height: 72px;
        margin: 0 auto;
        display: block;
        background: url('../images/ic-exclamation_large_off.png') no-repeat;
      }
    }

    &__type2 {
      flex-flow: column;
      p {
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        color: color(grey, 600);
        + .button-group {
          margin-top: 26px;
        }
      }

      > span {
        display: block;
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;
        margin-top: 16px;

        + .button-group {
          margin-top: 26px;
        }
      }
      p:before {
        content: '';
        width: 72px;
        height: 72px;
        margin: 0px auto 8px;
        display: block;
        background: url('../images/ic-exclamation_large_disabled.png') no-repeat;
      }
    }
  }

  &--beinfo {
    p {
      font-weight: 300;
      font-size: 14px;
      line-height: 24px;
      &:before {
        display: none;
      }
    }

    &__type2 {
      background-color: color(grey, 50);
      width: 100%;
      flex-flow: column;
      p {
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        color: color(grey, 900);
        + .button-group {
          margin-top: 26px;
        }
      }

      > span {
        display: block;
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;
        margin-top: 16px;

        + .button-group {
          margin-top: 26px;
        }
      }
    }
  }

  &--qa {
    min-height: 208px;

    p {
      font-weight: 300;
      font-size: 14px;
      line-height: 24px;
      color: color(grey, 900);
    }
  }
}

.label-cate {
  color: #627aff;
  display: flex;
  align-items: center;
  padding-top: 6px;

  button {
    margin-left: 16px;
    &.is-active {
      .ic-bookmark-y {
        background: url('../images/ic-bookmark-g.png') no-repeat;
      }
    }
  }
}
