.expresstion {
    $root: expresstion;
    margin-top: 40px;

    &-wrap {
        .#{$root} {
            //
        }
    }

    &-group {
        color: $white;
        .#{$root}-list {
            min-height: 48px;
            width: 100%;

            span {
                &:first-child {
                    color: color(blue, 300);
                }
            }
        }
    }

    &-list {
        display: flex;
        align-items: center;
        width: calc(100% - 32px);
        border-bottom: 1px dashed color(blue, 300);
        padding: 12px 0;

        &:first-child {
            padding-top: 0;
        }

        &:last-child {
            padding-bottom: 0;
            border-bottom: 0;
        }

        &:before {
            content: '';
            display: inline-block;
            vertical-align: top;
            width: 4px;
            min-width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: $white;
            margin-right: 24px;
        }

        > span {
            width: 126px;
            line-height: 20px;
            font-size: 14px;
            font-weight: 500;
            display: flex;
        }
    }
}
