{% set user = "logout" %}
{% extends "../templates/layout.njk" %}
{% block content %}
    <!-- floting 네비게이션 영역 -->
    <div class="floating-menu-wrap">
        <nav class="nav" role="navigation">
            <ul class="nav__box" aria-expanded="false">
                <li class="nav__list">
                    <div class="nav__item" data-ui-tooltip>
                        <button type="button" class="ic-button-nav" aria-describedby="tooltip1" aria-label="용어/표현 검색">
                            <i class="ic ic-search" aria-hidden="true"></i>
                        </button>
                        <a class="text" href="#none" alt="용어사전검색 바로가기">용어/표현 검색</a>
                    </div>
                </li>
                <li class="nav__list">
                    <div class="nav__item" data-ui-tooltip>
                        <button type="button" class="ic-button-nav" aria-describedby="tooltip2" aria-label="UXW라이팅 가이드">
                            <i class="ic ic-guidebook" aria-hidden="true"></i>
                        </button>
                        <a class="text" href="#none" alt="용어사전검색 바로가기">UXW라이팅 가이드</a>
                    </div>
                </li>
                <li class="nav__list">
                    <div class="nav__item" data-ui-tooltip>
                        <button type="button" class="ic-button-nav" aria-describedby="tooltip3" aria-label="교정된 콘텐츠">
                            <i class="ic ic-edition" aria-hidden="true"></i>
                        </button>
                        <a class="text" href="#none" alt="용어사전검색 바로가기">교정된 콘텐츠</a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>

    <div class="tooltip__box">
        <div id="tooltip1" role="tooltip" class="tooltip" data-visible data-placement="right">
            <span class="tooltip__title">용어/표현 검색</span>
        </div>
        <div id="tooltip2" role="tooltip" class="tooltip" data-visible data-placement="right">
            <span class="tooltip__title">UXW라이팅 가이드</span>
        </div>
        <div id="tooltip3" role="tooltip" class="tooltip" data-visible data-placement="right">
            <span class="tooltip__title">교정된 콘텐츠</span>
        </div>
    </div>

    <!-- //floting 네비게이션 영역 -->

    <div class="ly-content">
        <div class="ly-content-box">
            <div class="tab" data-ui-tab>
                <div class="title">
                    <h2 class="text ft24 bold">교정하기</h2>
                    <div class="tab__list" role="tablist">
                        <button type="button" role="tab" id="tablist1" class="tab__button" aria-controls="tabpanel1" aria-selected="false">일반</button>
                        <button type="button" role="tab" id="tablist2" class="tab__button" aria-controls="tabpanel2" aria-selected="false">앱푸시</button>
                        <button type="button" role="tab" id="tablist3" class="tab__button" aria-controls="tabpanel3" aria-selected="false">스마트오퍼</button>
                    </div>
                </div>
                <div id="tabpanel1" class="tab__panel" role="tabpanel" aria-labelledby="tablist1" tabindex="-1">
                    <div class="tab__inner">
                        <div class="form">
                            <div class="fields">
                                <div class="field">
                                    <label class="dpb medium ft14">내용</label>
                                    <textarea data-bytes-check class="textarea textarea--base" maxlength="5000" placeholder="내용을 입력해주세요. 한글 2,500자(5,000 Byte)"></textarea>
                                    <div class="textarea__lengths">
                                        <label class="error" aria-hidden="true">입력 가능한 글자수를 초과했어요. 글자수를 조정해주세요.</label>
                                        <div class="textarea__lengths__box">
                                            <span class="textarea__lengths--current">0</span>/ <span class="textarea__lengths--total">5,000</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tabpanel2" class="tab__panel" role="tabpanel" aria-labelledby="tablist2" tabindex="-1">앱푸시</div>
                <div id="tabpanel3" class="tab__panel" role="tabpanel" aria-labelledby="tablist3" tabindex="-1">스마트오퍼</div>
            </div>

            <div class="ly-bottom-group">
                <div class="button-group">
                    <div class="tooltip__list" data-ui-tooltip>
                        <input id="btnupload" type="file" role="button" aria-label="File Upload" tabindex="-1" accept=".docx, .txt"/>
                        <label class="ic-button-edit" tabindex="0" for="btnupload" role="button" aria-label="업로드" aria-describedby="tooltip4">
                            <i class="ic ic-upload" aria-hidden="true"></i>
                        </label>
                    </div>
                    <div class="tooltip__list" data-ui-tooltip>
                        <button id="btncopy" type="button" class="ic-button-edit" aria-label="복사" aria-describedby="tooltip5">
                            <i class="ic ic-copy" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="tooltip__list" data-ui-tooltip>
                        <button id="btndownload" type="button" class="ic-button-edit" aria-label="다운로드" aria-describedby="tooltip6">
                            <i class="ic ic-download" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="tooltip__list" data-ui-tooltip>
                        <button id="btndelete" type="button" class="ic-button-edit hide" aria-label="삭제" aria-describedby="tooltip7">
                            <i class="ic ic-delete" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>

                <div class="message">
                    <p class="message__text text-blue">텍스트 복사가 완료되었어요.</p>
                </div>

                <div class="button-group">
                    <button type="button" onclick="currectEvent.OPEN(this)" data-target="currect" id="btncurrect" aria-expanded="true" class="button button--type1" disabled>교정하기</button>
                    <button type="button" id="btnsave" aria-hidden="true" class="button button--type2">완료하기</button>
                </div>
            </div>

            <div class="tooltip__box">
                <div id="tooltip4" role="tooltip" class="tooltip" data-placement="bottom" data-visible>
                    <span class="tooltip__title">MS Word(.docx) 또는 텍스트(.txt) 파일을 업로드하세요.</span>
                </div>
                <div id="tooltip5" role="tooltip" class="tooltip" data-placement="bottom" data-visible>
                    <span class="tooltip__title">마우스 오버 시 해당 영역에 대한 텍스트 노출</span>
                </div>
                <div id="tooltip6" role="tooltip" class="tooltip" data-placement="bottom" data-visible>
                    <span class="tooltip__title">마우스 오버 시 해당 영역에 대한 텍스트 노출</span>
                </div>
                <div id="tooltip7" role="tooltip" class="tooltip" data-placement="bottom" data-visible>
                    <span class="tooltip__title">마우스 오버 시 해당 영역에 대한 텍스트 노출</span>
                </div>
            </div>
        </div>
    </div>

    <!-- 사이드 영역 -->
    <div class="side">
        <div class="side__wrap is-active">
            <h3 class="sr-only">교정 가이드</h3>
            <div class="side__inner">
                <!-- html이 들어갈 영역 -->
                <div class="side__frame__html">
                    <div class="swiper swiper--autoheight">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="side__frame__wrap">
                                    <h4 class="ft18 medium">김픽스님, 이런 표현들을 조심하세요!</h4>
                                    <div class="expresstion">
                                        <ul class="expresstion-group">
                                            <li class="expresstion-list">
                                                <span>네비게이션</span>
                                                <i class="ic ic-expresstion-arrow" aria-hidden="true"></i>
                                                <span>내비게이션</span>
                                            </li>
                                            <li class="expresstion-list">
                                                <span>개인종합자산관리계좌 (ISA)</span>
                                                <i class="ic ic-expresstion-arrow" aria-hidden="true"></i>
                                                <span>ISA (개인종합자산관리계좌)</span>
                                            </li>
                                            <li class="expresstion-list">
                                                <span>라이센스</span>
                                                <i class="ic ic-expresstion-arrow" aria-hidden="true"></i>
                                                <span>라이선스</span>
                                            </li>
                                            <li class="expresstion-list">
                                                <span>휴대폰 인증서 서비스(UBIKey)</span>
                                                <i class="ic ic-expresstion-arrow" aria-hidden="true"></i>
                                                <span>휴대폰 인증서 서비스(유비키)</span>
                                            </li>
                                            <li class="expresstion-list">
                                                <span>텍스트가 길어질때 테스트중입니다텍스트가 길어질때 테스트중입니다텍스트가 길어질때 테스트중입니다</span>
                                                <i class="ic ic-expresstion-arrow" aria-hidden="true"></i>
                                                <span>텍스트가 길어질때 테스트중입니다텍스트가 길어질때 테스트중입니다텍스트가 길어질때 테스트중입니다</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="side__frame__wrap">
                                    <h4 class="ft18 medium">김픽스님, 이런 표현들을 조심하세요!</h4>
                                    <div class="expresstion">
                                        <ul class="expresstion-group">
                                            <li class="expresstion-list">
                                                <span>네비게이션</span>
                                                <i class="ic ic-expresstion-arrow" aria-hidden="true"></i>
                                                <span>내비게이션</span>
                                            </li>
                                            <li class="expresstion-list">
                                                <span>개인종합자산관리계좌 (ISA)</span>
                                                <i class="ic ic-expresstion-arrow" aria-hidden="true"></i>
                                                <span>ISA (개인종합자산관리계좌)</span>
                                            </li>
                                            <li class="expresstion-list">
                                                <span>라이센스</span>
                                                <i class="ic ic-expresstion-arrow" aria-hidden="true"></i>
                                                <span>라이선스</span>
                                            </li>
                                            <li class="expresstion-list">
                                                <span>휴대폰 인증서 서비스(UBIKey)</span>
                                                <i class="ic ic-expresstion-arrow" aria-hidden="true"></i>
                                                <span>휴대폰 인증서 서비스(유비키)</span>
                                            </li>
                                            <li class="expresstion-list">
                                                <span>추산</span>
                                                <i class="ic ic-expresstion-arrow" aria-hidden="true"></i>
                                                <span>어림잡다</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="side__frame__wrap">
                                    <h4 class="ft18 medium">김픽스님, 이런 표현들을 조심하세요!</h4>
                                    <div class="expresstion">
                                        <ul class="expresstion-group">
                                            <li class="expresstion-list">
                                                <span>네비게이션</span>
                                                <i class="ic ic-expresstion-arrow" aria-hidden="true"></i>
                                                <span>내비게이션</span>
                                            </li>
                                            <li class="expresstion-list">
                                                <span>개인종합자산관리계좌 (ISA)</span>
                                                <i class="ic ic-expresstion-arrow" aria-hidden="true"></i>
                                                <span>ISA (개인종합자산관리계좌)</span>
                                            </li>
                                            <li class="expresstion-list">
                                                <span>라이센스</span>
                                                <i class="ic ic-expresstion-arrow" aria-hidden="true"></i>
                                                <span>라이선스</span>
                                            </li>
                                            <li class="expresstion-list">
                                                <span>휴대폰 인증서 서비스(UBIKey)</span>
                                                <i class="ic ic-expresstion-arrow" aria-hidden="true"></i>
                                                <span>휴대폰 인증서 서비스(유비키)</span>
                                            </li>
                                            <li class="expresstion-list">
                                                <span>추산</span>
                                                <i class="ic ic-expresstion-arrow" aria-hidden="true"></i>
                                                <span>어림잡다</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="side__frame__wrap">
                                    <h4 class="ft18 medium">김픽스님, 이런 표현들을 조심하세요!</h4>
                                    <div class="expresstion">
                                        <ul class="expresstion-group">
                                            <li class="expresstion-list">
                                                <span>네비게이션</span>
                                                <i class="ic ic-expresstion-arrow" aria-hidden="true"></i>
                                                <span>내비게이션</span>
                                            </li>
                                            <li class="expresstion-list">
                                                <span>개인종합자산관리계좌 (ISA)</span>
                                                <i class="ic ic-expresstion-arrow" aria-hidden="true"></i>
                                                <span>ISA (개인종합자산관리계좌)</span>
                                            </li>
                                            <li class="expresstion-list">
                                                <span>라이센스</span>
                                                <i class="ic ic-expresstion-arrow" aria-hidden="true"></i>
                                                <span>라이선스</span>
                                            </li>
                                            <li class="expresstion-list">
                                                <span>휴대폰 인증서 서비스(UBIKey)</span>
                                                <i class="ic ic-expresstion-arrow" aria-hidden="true"></i>
                                                <span>휴대폰 인증서 서비스(유비키)</span>
                                            </li>
                                            <li class="expresstion-list">
                                                <span>추산</span>
                                                <i class="ic ic-expresstion-arrow" aria-hidden="true"></i>
                                                <span>어림잡다</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="side__frame__wrap">
                                    <h4 class="ft18 medium">김픽스님, 이런 표현들을 조심하세요!</h4>
                                    <div class="expresstion">
                                        <ul class="expresstion-group">
                                            <li class="expresstion-list">
                                                <span>네비게이션</span>
                                                <i class="ic ic-expresstion-arrow" aria-hidden="true"></i>
                                                <span>내비게이션</span>
                                            </li>
                                            <li class="expresstion-list">
                                                <span>개인종합자산관리계좌 (ISA)</span>
                                                <i class="ic ic-expresstion-arrow" aria-hidden="true"></i>
                                                <span>ISA (개인종합자산관리계좌)</span>
                                            </li>
                                            <li class="expresstion-list">
                                                <span>라이센스</span>
                                                <i class="ic ic-expresstion-arrow" aria-hidden="true"></i>
                                                <span>라이선스</span>
                                            </li>
                                            <li class="expresstion-list">
                                                <span>휴대폰 인증서 서비스(UBIKey)</span>
                                                <i class="ic ic-expresstion-arrow" aria-hidden="true"></i>
                                                <span>휴대폰 인증서 서비스(유비키)</span>
                                            </li>
                                            <li class="expresstion-list">
                                                <span>추산</span>
                                                <i class="ic ic-expresstion-arrow" aria-hidden="true"></i>
                                                <span>어림잡다</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-indicator center">
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-pagination"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </div>
                </div>
                <!-- html이 들어갈 영역 -->

                <!-- 목록 -->
                <div class="box mgt20 blue100-bg">
                    <div class="title--type2">
                        <h4 class="text ft18 medium">내 콘텐츠</h4>
                        <a href="#none" class="text-link">전체보기<i class="ic ic-text-arrow" aria-hidden="true"></i>
                        </a>
                    </div>
                    <!-- 데이터가 없을시 오픈 -->
                    <div class="none-data pxh170" data-none>
                        <p>콘텐츠 목록이 비어있어요.<br/>새로운 콘텐츠를 입력해주세요.</p>
                    </div>
                    <!-- //데이터가 없을시 오픈 -->

                    <!-- 목록 리스트 : 데이터가 없을시 제거  -->
                    <div class="grid col3">
                        <div class="grid__box">
                            <a href="#none" class="text-link light" title="신한은행과BNP파리바카디프생명협약 관련안내">신한은행과BNP파리바카디프생명협약 관련안내</a>
                            <span class="text-date">22.7.25</span>
                        </div>
                        <div class="grid__box">
                            <a href="#none" class="text-link light" title="신한은행과BNP파리바카디프생명협약 관련안내 입니다">신한은행과BNP파리바카디프생명협약 관련안내 입니다</a>
                            <span class="text-date">22.7.25</span>
                        </div>
                        <div class="grid__box">
                            <a href="#none" class="text-link light" title="신한은행과BNP파리바카디프생명협약 관련안내">신한은행과BNP파리바카디프생명협약 관련안</a>
                            <span class="text-date">22.7.25</span>
                        </div>
                    </div>
                    <!-- //목록 리스트 -->
                </div>
                <!-- //목록 -->
            </div>
        </div>

        <div class="side__wrap is-deactive" id="currect" aria-labelledby="currect">
            <div class="side__head">
                <h3 class="sr-only">버튼 영역</h3>

                <div class="box--type2">
                    <div class="checkbox-column">
                        <input class="checkbox" id="chkallD1" type="checkbox" name="chkAll"/>
                        <label class="label" for="chkallD1">전체 선택</label>
                    </div>

                    <div class="button-group">
                        <button type="button" role="button" class="button button--medium button--type3">적용하기</button>
                        <button type="button" role="button" class="button button--medium button--type4">초기화</button>
                    </div>
                </div>
            </div>

            <div class="side__inner">
                <h3 class="sr-only">교정결과 영역</h3>

                <div class="accordion" data-ui-accordion>
                    <div class="accordion__box">
                        <div class="accordion__item is-focused">
                            <div class="accordion__head">
                                <button class="accordion__button" id="acc_header1" type="button" aria-expanded="false" aria-controls="acc_content1" aria-label="버튼"></button>
                                <div class="accordion__check">
                                    <input class="checkbox hidden" id="chk01" type="checkbox" name="chk" checked/>
                                    <label class="text" for="chk01" aria-label="체크버튼"></label>
                                </div>
                                <div class="expresstion-list">
                                    <span>개인종합자산관리 계좌 (ISA)</span>
                                    <i class="ic ic-expresstion-arrow--type2" aria-hidden="true"></i>
                                    <div class="dropdown">
                                        <span role="button" aria-haspopup="listbox" aria-labelledby="dropdown dropdown__button" id="dropdown__button">ISA (개인종합자산관리계좌)</span>
                                        <ul id="dropdown-menu" class="dropdown__menu hide" tabindex="-1" role="listbox" aria-labelledby="dropdown">
                                            <li id="dropdown-item" class="dropdown__item" role="option">ISA (개인종합자산관리계좌)</li>
                                            <li id="dropdown-item" class="dropdown__item" role="option">ISA (개인종합자산관리계좌)</li>
                                            <li id="dropdown-item" class="dropdown__item" role="option">ISA (개인종합자산관리계좌)</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion__panel" id="acc_content1" aria-labelledby="acc_header1">
                                <div class="accordion__inner">
                                    <a class="text-link bollet purple" href="#none" alt="일본식 한자어 순화 가이드보기" role="button">일본식 한자어 순화<i class="ic ic-text-arrow--type2" aria-hidden="true"></i>
                                    </a>
                                    <div class="list" role="list">
                                        <div class="list__item" role="listitem">
                                            <label class="label">허용 표현</label>
                                            <span class="text">가구, 집</span>
                                        </div>
                                        <div class="list__item" role="listitem">
                                            <label class="label">기존 표현</label>
                                            <span class="text">세대</span>
                                        </div>
                                        <div class="list__item" role="listitem">
                                            <label class="label">예시 문구</label>
                                            <span class="text">그 동네에는 5가구가 산다. 그 동네에는 5가구가 산다. 그 동네에는 5가구가 산다.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="accordion__item">
                            <div class="accordion__head">
                                <button class="accordion__button" id="acc_header2" type="button" aria-expanded="false" aria-controls="acc_content2" aria-label="버튼"></button>
                                <div class="accordion__check">
                                    <input class="checkbox hidden" id="chk02" type="checkbox" name="chk" checked/>
                                    <label class="text" for="chk02" aria-label="체크버튼"></label>
                                </div>
                                <div class="expresstion-list">
                                    <span>개인종합자산관리 계좌 (ISA)</span>
                                    <i class="ic ic-expresstion-arrow--type2" aria-hidden="true"></i>
                                    <span role="button">ISA (개인종합자산관리계좌)</span>
                                </div>
                            </div>
                            <div class="accordion__panel" id="acc_content2" aria-labelledby="acc_header2">
                                <div class="accordion__inner">
                                    <a class="text-link bollet orange" href="#none" alt="한자어 순화 가이드보기" role="button">한자어 순화<i class="ic ic-text-arrow--type2" aria-hidden="true"></i>
                                    </a>
                                    <div class="list" role="list">
                                        <div class="list__item" role="listitem">
                                            <label class="label">허용 표현</label>
                                            <span class="text">가구, 집</span>
                                        </div>
                                        <div class="list__item" role="listitem">
                                            <label class="label">기존 표현</label>
                                            <span class="text">세대</span>
                                        </div>
                                        <div class="list__item" role="listitem">
                                            <label class="label">예시 문구</label>
                                            <span class="text">그 동네에는 5가구가 산다. 그 동네에는 5가구가 산다. 그 동네에는 5가구가 산다.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="accordion__item">
                            <div class="accordion__head">
                                <button class="accordion__button" id="acc_header3" type="button" aria-expanded="false" aria-controls="acc_content3" aria-label="버튼"></button>
                                <div class="accordion__check">
                                    <input class="checkbox hidden" id="chk03" type="checkbox" name="chk"/>
                                    <label class="text" for="chk03" aria-label="체크버튼"></label>
                                </div>
                                <div class="expresstion-list">
                                    <span>개인종합자산관리 계좌 (ISA)</span>
                                    <i class="ic ic-expresstion-arrow--type2" aria-hidden="true"></i>
                                    <span role="button">ISA (개인종합자산관리계좌)</span>
                                </div>
                            </div>
                            <div class="accordion__panel" id="acc_content3" aria-labelledby="acc_header3">
                                <div class="accordion__inner">
                                    <a class="text-link bollet orange" href="#none" alt="한자어 순화 가이드보기" role="button">한자어 순화<i class="ic ic-text-arrow--type2" aria-hidden="true"></i>
                                    </a>
                                    <div class="list" role="list">
                                        <div class="list__item" role="listitem">
                                            <label class="label">허용 표현</label>
                                            <span class="text">가구, 집</span>
                                        </div>
                                        <div class="list__item" role="listitem">
                                            <label class="label">기존 표현</label>
                                            <span class="text">세대</span>
                                        </div>
                                        <div class="list__item" role="listitem">
                                            <label class="label">예시 문구</label>
                                            <span class="text">그 동네에는 5가구가 산다. 그 동네에는 5가구가 산다. 그 동네에는 5가구가 산다.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //사이드 영역 -->

{% endblock %}

{% block scripts %}
    <script>
        const swiper = new Swiper('.swiper', {
            observer: true,
            observeParents: true,
            autoplay: {
                delay: 3000,
                disableOnInteraction: false
            },
            grapCursor: true,
            loop: true,
            slidesPerView: 'auto',
            centeredSlides: true,
            speed: 600,

            mousewheelControl: true,
            keyboard: {
                enabled: true,
                onlyInViewport: false
            },
            spaceBetween: 40,

            pagination: {
                el: '.swiper-pagination',
                clickable: true
            },

            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev'
            },
            autoHeight: true,

            a11y: {
                nextSlideMessage: '다음 슬라이드',
                prevSlideMessage: '이전 슬라이드',
                firstSlideMessage: '첫번째 슬라이드',
                lastSlideMessage: '마지막 슬라이드'
            }
        });

        swiper
            .el
            .addEventListener('mouseenter', function () {
                swiper
                    .autoplay
                    .stop();
            });

        swiper
            .el
            .addEventListener('mouseleave', function () {
                swiper
                    .autoplay
                    .start();
            });

        //사이드 OPEN & CLOSE
        const currectEvent = {
            OPEN: function (param) {
                const target = document.querySelector('#' + param.dataset.target);
                target
                    .classList
                    .add('is-active');
                target
                    .classList
                    .remove('is-deactive');
                target
                    .previousElementSibling
                    .classList
                    .add('is-deactive');
                target
                    .previousElementSibling
                    .classList
                    .remove('is-active');
                btnupload.disabled = true;
                btnsave.setAttribute('aria-hidden', false);
                btndelete
                    .classList
                    .remove('hide');
            },

            CLOSE: function (param) {
                const target = document.querySelector('#' + param.dataset.target);
                target
                    .classList
                    .add('is-deactive');
                target
                    .classList
                    .remove('is-active');
                target
                    .previousElementSibling
                    .classList
                    .add('is-active');
                target
                    .previousElementSibling
                    .classList
                    .remove('is-deactive');
            },

            BEFORE: function (param) {
                const ARIA_EXPENDED = param.getAttribute('aria-expanded');

                if (ARIA_EXPENDED === 'false') {
                    currectEvent.CLOSE(param);
                } else {
                    currectEvent.OPEN(param);
                }
            }
        };

        //바이트수 체크
        function bytesCheck() {
            const bytesCheck = document.querySelectorAll('[data-bytes-check]');
            const ARIA_HIDDEN = 'aria-hidden';

            Array
                .prototype
                .forEach
                .call(bytesCheck, function (el) {
                    // 한글 And 특수문자 2byte, 그 외 1byte
                    function getByteCheck(str) {
                        let len = 0;
                        for (var i = 0; i < str.length; i++) {
                            if (escape(str.charAt(i)).length === 6) {
                                len++;
                            }
                            len++;
                        }
                        return len;
                    }

                    // 초기값 세팅
                    var bytes = el.getAttribute('maxLength') * 2;

                    // 키 입력 시 바이트 계산
                    ['keydown', 'keyup', 'change'].forEach(function (type) {
                        el.addEventListener(type, function () {
                            let leng = this.value.length;
                            const textEl = this.nextElementSibling;
                            const lableError = textEl.querySelector('label');
                            const textCurrent = textEl.querySelector('.textarea__lengths--current');

                            const labelData = lableError.getAttribute(ARIA_HIDDEN);

                            this
                                .classList
                                .remove('error');
                            textEl
                                .classList
                                .remove('error');
                            lableError.setAttribute(ARIA_HIDDEN, true);

                            if (getByteCheck(this.value) > bytes) {
                                this
                                    .classList
                                    .add('error');
                                textEl
                                    .classList
                                    .add('error');
                                if (labelData) {
                                    lableError.setAttribute(ARIA_HIDDEN, false);
                                }

                                leng--;
                                this.value = this
                                    .value
                                    .substr(0, leng);

                                alert('최대 5,000자까지 입력할 수 있어요. 본문내용을 확인 해주세요.');
                            }

                            if (leng > 0) {
                                btncurrect.disabled = false;
                                currectEvent.OPEN(btncurrect);
                            } else {
                                btncurrect.disabled = true;
                                btnupload.disabled = false;
                                btnsave.setAttribute('aria-hidden', true);
                                btndelete
                                    .classList
                                    .add('hide');
                                currectEvent.CLOSE(btncurrect);
                            }

                            if (textEl.classList.contains('error')) {
                                textCurrent.innerText = leng + 1;
                            } else {
                                textCurrent.innerText = leng;
                            }
                        });
                    });
                });
        }

        document.addEventListener('DOMContentLoaded', function () {
            bytesCheck();

            currectEvent.BEFORE(btncurrect);
        });
    </script>
{% endblock %}