{% set user = "login" %}
{% set title = "신한 UX라이팅 시스템 | 화면목록" %}
<!--
    type:[1,2,3,4]
    1 : '완료',
    2 : '진행중',
    3 : '수정중',
    4 : '검수중',
-->
{% set LIST_VIEW = [
    {
        'type':'4',
        'id': 'login',
        'category':'PAGE',
        'username': '김세영',
        'viewname':'로그인',
        'date': '22-08-29',
        'memo':'',
        'url':'./login.html',
        'note':''
    }, {
        'type':'4',
        'id': 'logout',
        'category':'PAGE',
        'username': '김세영',
        'viewname':'로그아웃',
        'date': '22-08-29',
        'memo':'',
        'url':'./logout.html',
        'note':''
    }, {
        'type':'4',
        'id': 'currect-before',
        'category':'PAGE/TAB',
        'username': '김세영',
        'viewname':'교정하기(메인) 교정전',
        'date': '22-08-29',
        'memo':'',
        'url':'./currect_before.html',
        'note':''
    }, {
        'type':'4',
        'id': 'currect-after',
        'category':'PAGE/TAB',
        'username': '김세영',
        'viewname':'교정하기(메인) 교정후',
        'date': '22-08-29',
        'memo':'',
        'url':'./currect_after.html',
        'note':''
    }, {
        'type':'4',
        'id': 'currect_modify_completed',
        'category':'PAGE/TAB',
        'username': '김세영',
        'viewname':'교정하기(메인) 수정후',
        'date': '22-08-29',
        'memo':'',
        'url':'./currect_modify_completed.html',
        'note':''
    }, {
        'type':'4',
        'id': 'currect_app',
        'category':'PAGE/TAB',
        'username': '김세영',
        'viewname':'교정하기(메인) 앱푸시',
        'date': '22-08-29',
        'memo':'',
        'url':'./currect_app.html',
        'note':''
    }, {
        'type':'4',
        'id': 'currect_smartoper',
        'category':'PAGE/TAB',
        'username': '김세영',
        'viewname':'교정하기(메인) 스마트오퍼',
        'date': '22-08-29',
        'memo':'',
        'url':'./currect_smartoper.html',
        'note':''
    }, {
        'type':'4',
        'id': 'currect_popup01',
        'category':'POPUP',
        'username': '김세영',
        'viewname':'교정하기(메인) 콘텐츠 완료하기 팝업',
        'date': '22-08-29',
        'memo':'',
        'url':'./currect_popup01.html',
        'note':''
    }
]%}
{% extends "../templates/layout.njk" %}
{% block content %}
    <!-- 컨텐츠 영역 -->
    <!-- floting 네비게이션 영역 -->
    <div class="floating-menu-wrap">
        <nav class="nav" role="navigation">
            <ul class="nav__box" aria-expanded="false">
                <li class="nav__list">
                    <div class="nav__item" data-ui-tooltip>
                        <button type="button" class="ic-button-nav" aria-describedby="tooltip2" aria-label="UXW라이팅 가이드">
                            <i class="ic ic-guidebook" aria-hidden="true"></i>
                        </button>
                        <a class="text" href="#none" alt="용어사전검색 바로가기">UXW라이팅 가이드</a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>

    <div class="tooltip__box">
        <div id="tooltip1" role="tooltip" class="tooltip" data-visible data-placement="right">
            <span class="tooltip__title">용어/표현 검색</span>
        </div>
        <div id="tooltip2" role="tooltip" class="tooltip" data-visible data-placement="right">
            <span class="tooltip__title">UXW라이팅 가이드</span>
        </div>
        <div id="tooltip3" role="tooltip" class="tooltip" data-visible data-placement="right">
            <span class="tooltip__title">교정된 콘텐츠</span>
        </div>
    </div>

    <!-- //floting 네비게이션 영역 -->

    <div class="ly-content">
        <div class="ly-content-box">
            <div class="title">
                <h2 class="text ft24 bold">화면목록</h2>
            </div>
            <div id="viewlist" class="table-row fixed">
                <table class="table">
                    <thead>
                        <tr>
                            <th>번호</th>
                            <th>화면명</th>
                            <th>유형</th>
                            <th>담당자</th>
                            <th>메모</th>
                            <th>상태</th>
                            <th>날짜</th>
                            <th>비고</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in LIST_VIEW %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td id="{{item.id}}">
                                    <a class="text-blue" href="{{item.url}}">{{item.viewname}}</a>
                                </td>
                                <td>{{item.category}}</td>
                                <td>{{item.username}}</td>
                                <td>{{item.memo}}</td>
                                <td>
                                    {% if item.type === "1" %}
                                    완료
                                    {% elif item.type === "2" %}
                                    진행중
                                    {% elif item.type === "3" %}
                                    수정중
                                    {% else %}
                                    검수중
                                    {% endif %}
                                </td>
                                <td>{{item.date}}</td>
                                <td>{{item.note}}</td>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- //컨텐츠 영역 -->

{% endblock %}

{% block scripts %}{% endblock %}