{% set user = "logout" %}
{% set title = "신한 UX라이팅 시스템 | 공지사항" %}
{% extends "../templates/layout.njk" %}
{% set activePage = "notice" %}
{% block content %}
    {{super()}}
    <div class="ly-content">
        <div class="ly-content-box">
            <div class="title">
                <h2 class="text ft24 bold">공지사항</h2>
            </div>
            <div class="ly-content__inner">
                <div class="accordion" data-ui-accordion>
                    <div class="accordion__box">
                        <div class="accordion__item">
                            <div class="accordion__head">
                                <button class="accordion__button" id="acc_header1" type="button" aria-expanded="false" aria-controls="acc_content1" aria-label="버튼"></button>
                                <div class="table-list fixed" role="table" aria-label="공지사항" aria-describedby="공지사항" aria-rowcount="1">
                                    <div class="table-list__group" role="rowgroup">
                                        <div class="table-list__row" role="row">
                                            <span class="miw56" role="columnheader" aria-sort="none">
                                                <i class="ic ic-pind" aria-hidden="true"></i>
                                            </span>
                                            <span class="pw100 left" role="columnheader" aria-sort="none">
                                                <b>기업의 ‘대고객 언어’가 달라진다.</b>
                                            </span>
                                            <span class="miw24" role="columnheader" aria-sort="none">
                                                <button type="button" class="ic-button" aria-label="다운로드">
                                                    <i class="ic ic-download" aria-hidden="true"></i>
                                                </button>
                                            </span>
                                            <span class="miw120" role="columnheader" aria-sort="none">2022.08.12</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion__panel expand" id="acc_content1" aria-labelledby="acc_header1">
                                <div class="accordion__inner">
                                    <div class="list list--type2">
                                        <div class="list__item">
                                            <label class="label">A</label>
                                            <p class="text">기업의 언어를 고객의 언어로 바꾸는 기업들이 늘고 있다. 관행적으로 사용하던 전문용어와 상품 설명을 고객 눈높이에서 이해하기 쉬운 단어들로 대체하고 친근하게 소통하는 움직임이다. 일상생활과 밀접한 서비스를 제공하지만 업 특성상 전문용어가 많은 금융 및 이동통신 분야를 중심으로 언어 전환 작업이 이뤄지고 있다. 기업의 언어를 고객의 언어로 바꾸는 기업들이 늘고 있다. 관행적으로 사용하던 전문용어와 상품 설명을 고객 눈높이에서 이해하기 쉬운 단어들로 대체하고 친근하게 소통하는 움직임이다.
일상생활과 밀접한 서비스를 제공하지만 업 특성상 전문용어가 많은 금융 및 이동통신 분야를 중심으로 언어 전환 작업이 이뤄지고 있다. 일상생활과 밀접한 서비스를 제공하지만 업 특성상 전문용어가 많은 금융 및 이동통신 분야를 중심으로 언어 전환 작업이 이뤄지고 있다.
일상생활과 밀접한 서비스를 제공하지만 업 특성상 전문용어가 많은 금융 및 이동통신 분야를 중심으로 언어 전환 작업이 이뤄지고 있다.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion__item">
                            <div class="accordion__head">
                                <button class="accordion__button" id="acc_header2" type="button" aria-expanded="false" aria-controls="acc_content2" aria-label="버튼"></button>
                                <div class="table-list fixed" role="table" aria-label="공지사항" aria-describedby="공지사항" aria-rowcount="2">
                                    <div class="table-list__group" role="rowgroup">
                                        <div class="table-list__row" role="row">
                                            <span class="miw56" role="columnheader" aria-sort="none">66</span>
                                            <span class="pw100 left" role="columnheader" aria-sort="none">기업의 ‘대고객 언어’가 달라진다.</span>
                                            <span class="miw24" role="columnheader" aria-sort="none">
                                                <button type="button" class="ic-button" aria-label="다운로드">
                                                    <i class="ic ic-download" aria-hidden="true"></i>
                                                </button>
                                            </span>
                                            <span class="miw120" role="columnheader" aria-sort="none">2022.08.12</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion__panel expand" id="acc_content2" aria-labelledby="acc_header2">
                                <div class="accordion__inner">
                                    <div class="list list--type2">
                                        <div class="list__item">
                                            <label class="label">A</label>
                                            <p class="text">기업의 언어를 고객의 언어로 바꾸는 기업들이 늘고 있다. 관행적으로 사용하던 전문용어와 상품 설명을 고객 눈높이에서 이해하기 쉬운 단어들로 대체하고 친근하게 소통하는 움직임이다. 일상생활과 밀접한 서비스를 제공하지만 업 특성상 전문용어가 많은 금융 및 이동통신 분야를 중심으로 언어 전환 작업이 이뤄지고 있다. 기업의 언어를 고객의 언어로 바꾸는 기업들이 늘고 있다. 관행적으로 사용하던 전문용어와 상품 설명을 고객 눈높이에서 이해하기 쉬운 단어들로 대체하고 친근하게 소통하는 움직임이다.
일상생활과 밀접한 서비스를 제공하지만 업 특성상 전문용어가 많은 금융 및 이동통신 분야를 중심으로 언어 전환 작업이 이뤄지고 있다. 일상생활과 밀접한 서비스를 제공하지만 업 특성상 전문용어가 많은 금융 및 이동통신 분야를 중심으로 언어 전환 작업이 이뤄지고 있다.
일상생활과 밀접한 서비스를 제공하지만 업 특성상 전문용어가 많은 금융 및 이동통신 분야를 중심으로 언어 전환 작업이 이뤄지고 있다.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion__item">
                            <div class="accordion__head">
                                <button class="accordion__button" id="acc_header3" type="button" aria-expanded="false" aria-controls="acc_content3" aria-label="버튼"></button>
                                <div class="table-list fixed" role="table" aria-label="공지사항" aria-describedby="공지사항" aria-rowcount="2">
                                    <div class="table-list__group" role="rowgroup">
                                        <div class="table-list__row" role="row">
                                            <span class="miw56" role="columnheader" aria-sort="none">66</span>
                                            <span class="pw100 left" role="columnheader" aria-sort="none">기업의 ‘대고객 언어’가 달라진다.</span>
                                            <span class="miw24" role="columnheader" aria-sort="none" aria-hidden="true"></span>
                                            <span class="miw120" role="columnheader" aria-sort="none">2022.08.12</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion__panel expand" id="acc_content3" aria-labelledby="acc_header3">
                                <div class="accordion__inner">
                                    <div class="list list--type2">
                                        <div class="list__item">
                                            <label class="label">A</label>
                                            <p class="text">기업의 언어를 고객의 언어로 바꾸는 기업들이 늘고 있다. 관행적으로 사용하던 전문용어와 상품 설명을 고객 눈높이에서 이해하기 쉬운 단어들로 대체하고 친근하게 소통하는 움직임이다. 일상생활과 밀접한 서비스를 제공하지만 업 특성상 전문용어가 많은 금융 및 이동통신 분야를 중심으로 언어 전환 작업이 이뤄지고 있다. 기업의 언어를 고객의 언어로 바꾸는 기업들이 늘고 있다. 관행적으로 사용하던 전문용어와 상품 설명을 고객 눈높이에서 이해하기 쉬운 단어들로 대체하고 친근하게 소통하는 움직임이다.
일상생활과 밀접한 서비스를 제공하지만 업 특성상 전문용어가 많은 금융 및 이동통신 분야를 중심으로 언어 전환 작업이 이뤄지고 있다. 일상생활과 밀접한 서비스를 제공하지만 업 특성상 전문용어가 많은 금융 및 이동통신 분야를 중심으로 언어 전환 작업이 이뤄지고 있다.
일상생활과 밀접한 서비스를 제공하지만 업 특성상 전문용어가 많은 금융 및 이동통신 분야를 중심으로 언어 전환 작업이 이뤄지고 있다.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var accordion = null;
            var acc = document.querySelectorAll('.accordion');
            []
                .forEach
                .call(acc, function (el) {
                    console.log(acc, el);
                    accordion = new window
                        .UXW
                        .Accordion(el, {
                            onlyOne: true,
                            activeClass: 'active',
                            stateClass: {
                                expanding: 'expanding',
                                expand: 'expand',
                                expanded: 'expanded'
                            }
                        });
                    accordion.init();
                });
        })
    </script>
{% endblock %}