<!-- html이 들어갈 영역 -->
<div class="side__frame__html">
  <div class="swiper swiper--autoheight">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="side__frame__wrap">
          <!-- ADMIN 데이터가 들어갈 영역 -->
          <h4 class="ft20 lh32 medium">
            <span class="highlight">김픽스</span>님, <br/>
            이런 표현들을 조심하세요!
          </h4>
          <div class="expresstion">
            <ul class="expresstion-group">
              <li class="expresstion-list">
                <span>네비게이션</span>
                <i class="ic ic-expresstion-arrow" aria-hidden="true"></i>
                <span>내비게이션</span>
              </li>
              <li class="expresstion-list">
                <span>개인종합자산관리계좌 (ISA)</span>
                <i class="ic ic-expresstion-arrow" aria-hidden="true"></i>
                <span>ISA (개인종합자산관리계좌)</span>
              </li>
              <li class="expresstion-list">
                <span>라이센스</span>
                <i class="ic ic-expresstion-arrow" aria-hidden="true"></i>
                <span>라이선스</span>
              </li>
              <li class="expresstion-list">
                <span>휴대폰 인증서 서비스(UBIKey)</span>
                <i class="ic ic-expresstion-arrow" aria-hidden="true"></i>
                <span>휴대폰 인증서 서비스(유비키)</span>
              </li>
              <li class="expresstion-list">
                <span>추산</span>
                <i class="ic ic-expresstion-arrow" aria-hidden="true"></i>
                <span>어림잡다</span>
              </li>
            </ul>
          </div>
          <!-- //ADMIN 데이터가 들어갈 영역 -->
        </div>
      </div>
      <div class="swiper-slide">
        <div class="side__frame__wrap">
          <!-- ADMIN 데이터가 들어갈 영역 -->
          <h4 class="ft20 lh32 medium">
            유의해야 할 <span class="highlight">맞춤법</span>
          </h4>
          <div class="expresstion">
            <div class="expresstion-group">
              <ul class="expresstion-row">
                <li class="expresstion-list">
                  <div class="expresstion-head">아니오 / 아니요</div>
                  <div class="expresstion-inner">
                    <div class="expresstion-inner__head">
                      <span>아니오<i class="ic ic-x" aria-hidden="true"></i>
                      </span>
                      <span>아니요<i class="ic ic-o" aria-hidden="true"></i>
                      </span>
                    </div>
                    <div class="expresstion-inner__content">
                      <p>‘NO’에 해당하는 우리말 표기 ‘아니요’</p>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="expresstion-row">
                <li class="expresstion-list">
                  <div class="expresstion-head">연도 / 년도</div>
                  <div class="expresstion-inner">
                    <div class="expresstion-inner__head">
                      <span>2022<span class="highlight3">년도</span>, 기준<span class="highlight3">연도</span></span>
                    </div>
                    <div class="expresstion-inner__content">
                      <p>숫자와 함께 쓰일 때 ‘년도’, 그 외 경우 ‘연도’</p>
                    </div>
                    <div class="divider--type2" aria-hidden="true"></div>
                    <div class="expresstion-inner__head">
                      <div class="list list-view">
                        <div class="list__item">
                          <label class="label-ct--type4">예외</label>
                          <span>전년도</span>
                        </div>
                      </div>
                    </div>
                    <div class="expresstion-inner__content">
                      <p>사전에 등재된 단어는 그대로 씀</p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <!-- //ADMIN 데이터가 들어갈 영역 -->
        </div>
      </div>
      <div class="swiper-slide">
        <!-- ADMIN 데이터가 들어갈 영역 -->
        <div class="side__frame__wrap">
          <h4 class="ft20 lh32 medium">
            유의해야 할 <span class="highlight">띄어쓰기</span>
          </h4>
          <div class="expresstion">
            <div class="expresstion-group">
              <ul class="expresstion-row">
                <li class="expresstion-list">
                  <div class="expresstion-head">~건 / 시 / 중 /후</div>
                  <div class="expresstion-inner">
                    <div class="expresstion-inner__head">
                      <span>
                          신청한 <span class="highlight3">건</span>, 
                          정보변경 <span class="highlight3">시</span>,
                          진행 <span class="highlight3">중</span>,
                          신청 <span class="highlight3">후</span>
                      </span>
                    </div>
                    <div class="expresstion-inner__content">
                      <p>의존명사는 앞말과 띄어쓰기</p>
                    </div>
                    <div class="divider--type2" aria-hidden="true"></div>
                    <div class="expresstion-inner__head">
                      <div class="list list-view">
                        <div class="list__item">
                          <label class="label-ct--type4">예외</label>
                          <span>필요시, 평상시, 비상시, 유사시</span>
                        </div>
                      </div>
                      <div class="expresstion-inner__content">
                        <p>국립국어원 표준국어대사전에 등재된 단어</p>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- ADMIN 데이터가 들어갈 영역 -->
      </div>

      <div class="swiper-slide">
        <!-- ADMIN 데이터가 들어갈 영역 -->
        <div class="side__frame__wrap">
          <h4 class="ft20 lh32 medium">
            유의해야 할 <span class="highlight">붙여쓰기</span>
          </h4>
          <div class="expresstion">
            <div class="expresstion-group">
              <ul class="expresstion-row">
                <li class="expresstion-list">
                  <div class="expresstion-head">~에서 / 부터 / 까지</div>
                  <div class="expresstion-inner">
                    <div class="expresstion-inner__head">
                      <span>
                          기업<span class="highlight3">에서</span>, 
                          16일<span class="highlight3">부터</span>,
                          16일<span class="highlight3">까지</span>
                      </span>
                    </div>
                    <div class="expresstion-inner__content">
                      <p>조사는 앞말과 붙여쓰기</p>
                    </div>
                  </div>
                </li>
              </ul>

              <ul class="expresstion-row">
                <li class="expresstion-list">
                  <div class="expresstion-head">~당 / 별 / 상 / 씩</div>
                  <div class="expresstion-inner">
                    <div class="expresstion-inner__head">
                      <span>
                          이체<span class="highlight3">건당</span>, 
                          고객<span class="highlight3">별</span>,
                          주민등록본<span class="highlight3">상</span>,
                          며칠<span class="highlight3">씩</span>
                      </span>
                    </div>
                    <div class="expresstion-inner__content">
                      <p>접미사는 앞말과 붙여쓰기</p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- ADMIN 데이터가 들어갈 영역 -->
      </div>
    </div>
  </div>
  <div class="swiper-indicator center">
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>
<!-- html이 들어갈 영역 -->