<div class="accordion accordion--type2" data-ui-accordion data-accordion-onlyone="true">
	<div class="accordion__box">
		<div class="accordion__item" data-card="false">
			<div class="accordion__head" data-trans>
				<div class="accordion__head__inner" data-trans>
					<button class="accordion__button is-active" data-trans id="acc_header1" type="button" aria-expanded="false" aria-controls="acc_content1" aria-label="버튼"></button>
					<button type="button" class="ic-button-refresh" aria-pressed="false" data-trans aria-label="이전으로 돌아가기">
						<i class="ic ic-refresh" aria-hidden="true"></i>
					</button>
					<div class="accordion__check" data-trans>
						<input class="checkbox hidden" id="chk01" type="checkbox" name="chk" checked/>
						<label class="text" for="chk01" aria-label="체크버튼"></label>
					</div>
					<div class="expresstion-list" data-trans>
						<span>세대</span>
						<i class="ic ic-expresstion-arrow--type2" aria-hidden="true"></i>
						<!-- 드롭버튼 -->
						<div class="dropdown">
							<label id="dropdown_label1">가구</label>
							<button class="dropdown__button" type="button" aria-haspopup="listbox" aria-label="드롭버튼">
								<i class="ic ic-text-arrow--type2 " aria-hidden="true"></i>
							</button>
							<ul class="dropdown__menu" tabindex="-1" role="listbox" aria-labelledby="dropdown_label1">
								<li class="dropdown__item" role="option">가구</li>
								<li class="dropdown__item" role="option">가구2</li>
								<li class="dropdown__item" role="option">가구3</li>
							</ul>
						</div>
						<!-- //드롭버튼 -->
					</div>
				</div>
				<div class="accordion__fixed" data-trans>
					<a class="text-link--bollet" style="--data-color:#5f74fb;" href="#none" alt="일본식 한자어 순화 가이드보기" role="button">
						일본식 한자어 순화<i class="ic ic-text-arrow--type2" aria-hidden="true"></i>
					</a>
				</div>
				<div class="accordion__panel" data-trans id="acc_content1" aria-labelledby="acc_header1">
					<div class="accordion__inner">
						<div class="list" role="list">
							<div class="list__item" role="listitem">
								<label class="label">허용 표현</label>
								<span class="text">집, 가구</span>
							</div>
							<div class="list__item" role="listitem">
								<label class="label">입력 표현</label>
								<span class="text">세대</span>
							</div>
							<div class="list__item" role="listitem">
								<label class="label">활용 예시</label>
								<span class="text">그 동네에는 5가구가 산다.</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="accordion__item" data-card="false">
			<div class="accordion__head" data-trans>
				<div class="accordion__head__inner" data-trans>
					<button class="accordion__button" data-trans id="acc_header2" type="button" aria-expanded="false" aria-controls="acc_content2" aria-label="버튼"></button>
					<button type="button" class="ic-button-refresh" aria-pressed="false" data-trans aria-label="이전으로 돌아가기">
						<i class="ic ic-refresh" aria-hidden="true"></i>
					</button>
					<div class="accordion__check" data-trans>
						<input class="checkbox hidden" id="chk02" type="checkbox" name="chk" checked/>
						<label class="text" for="chk02" aria-label="체크버튼"></label>
					</div>
					<div class="expresstion-list" data-trans>
						<span>작년</span>
						<i class="ic ic-expresstion-arrow--type2" aria-hidden="true"></i>
						<!-- 드롭버튼 -->
						<div class="dropdown">
							<label id="dropdown_label2">지난해</label>
							<button type="button" class="dropdown__button" aria-haspopup="listbox" aria-label="드롭버튼">
								<i class="ic ic-text-arrow--type2 " aria-hidden="true"></i>
							</button>
							<ul class="dropdown__menu" tabindex="-1" role="listbox" aria-labelledby="dropdown_label2">
								<li class="dropdown__item" role="option">지난해</li>
								<li class="dropdown__item" role="option">지난해2</li>
								<li class="dropdown__item" role="option">지난해3</li>
							</ul>
						</div>
						<!-- //드롭버튼 -->
					</div>
				</div>
				<div class="accordion__fixed" data-trans>
					<a class="text-link--bollet" style="--data-color:#d87b63;" href="#none" alt="한자어 순화 가이드보기" role="button">한자어 순화<i class="ic ic-text-arrow--type2" aria-hidden="true"></i>
					</a>
				</div>
			</div>

			<div class="accordion__panel expand" data-trans id="acc_content2" aria-labelledby="acc_header2">
				<div class="accordion__inner">
					<div class="list" role="list">
						<div class="list__item" role="listitem">
							<label class="label">허용 표현</label>
							<span class="text">지난해</span>
						</div>
						<div class="list__item" role="listitem">
							<label class="label">입력 표현</label>
							<span class="text">작년</span>
						</div>
						<div class="list__item" role="listitem">
							<label class="label">활용 예시</label>
							<span class="text">지난해 소득 대비 부재 규모</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="accordion__item" data-card="false">
			<div class="accordion__head" data-trans>
				<div class="accordion__head__inner" data-trans>
					<button class="accordion__button" data-trans id="acc_header3" type="button" aria-expanded="false" aria-controls="acc_content3" aria-label="버튼"></button>
					<button type="button" class="ic-button-refresh" aria-pressed="false" data-trans aria-label="이전으로 돌아가기">
						<i class="ic ic-refresh" aria-hidden="true"></i>
					</button>
					<div class="accordion__check" data-trans>
						<input class="checkbox hidden" id="chk03" type="checkbox" name="chk" disabled/>
						<label class="text" for="chk03" aria-label="체크버튼"></label>
					</div>
					<div class="expresstion-list" data-trans>
						<span>증대할</span>
						<i class="ic ic-expresstion-arrow--type2" aria-hidden="true"></i>
						<!-- 드롭버튼 -->
						<div class="dropdown">
							<label id="dropdown_label3">커질</label>
							<button type="button" class="dropdown__button" aria-haspopup="listbox" aria-label="드롭버튼">
								<i class="ic ic-text-arrow--type2 " aria-hidden="true"></i>
							</button>
							<ul class="dropdown__menu" tabindex="-1" role="listbox" aria-labelledby="dropdown_label3">
								<li class="dropdown__item" role="option">커질</li>
								<li class="dropdown__item" role="option">커질2</li>
								<li class="dropdown__item" role="option">커질3</li>
							</ul>
						</div>
						<!-- //드롭버튼 -->
					</div>
				</div>
				<div class="accordion__fixed" data-trans>
					<a class="text-link--bollet" style="--data-color:#d87b63;" href="#none" alt="한자어 순화 가이드보기" role="button">한자어 순화<i class="ic ic-text-arrow--type2" aria-hidden="true"></i>
					</a>
				</div>
			</div>

			<div class="accordion__panel expand" data-trans id="acc_content3" aria-labelledby="acc_header3">
				<div class="accordion__inner">
					<div class="list" role="list">
						<div class="list__item" role="listitem">
							<label class="label">허용 표현</label>
							<span class="text">커질</span>
						</div>
						<div class="list__item" role="listitem">
							<label class="label">입력 표현</label>
							<span class="text">증대할</span>
						</div>
						<div class="list__item" role="listitem">
							<label class="label">활용 예시</label>
							<span class="text">부채 규모는 20배로 커질 것으로</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="accordion__item" data-card="false">
			<div class="accordion__head" data-trans>
				<div class="accordion__head__inner" data-trans>
					<button class="accordion__button" data-trans id="acc_header4" type="button" aria-expanded="false" aria-controls="acc_content4" aria-label="버튼"></button>
					<button type="button" class="ic-button-refresh" aria-pressed="false" data-trans aria-label="이전으로 돌아가기">
						<i class="ic ic-refresh" aria-hidden="true"></i>
					</button>
					<div class="accordion__check" data-trans>
						<input class="checkbox hidden" id="chk04" type="checkbox" name="chk"/>
						<label class="text" for="chk04" aria-label="체크버튼"></label>
					</div>
					<div class="expresstion-list" data-trans>
						<span>누중되는</span>
						<i class="ic ic-expresstion-arrow--type2" aria-hidden="true"></i>
						<!-- 드롭버튼 -->
						<div class="dropdown">
							<label id="dropdown_label4">점점 늘어나는</label>
							<button type="button" class="dropdown__button" aria-haspopup="listbox" aria-label="드롭버튼">
								<i class="ic ic-text-arrow--type2 " aria-hidden="true"></i>
							</button>
							<ul class="dropdown__menu" tabindex="-1" role="listbox" aria-labelledby="dropdown_label4">
								<li class="dropdown__item" role="option">점점 늘어나는</li>
								<li class="dropdown__item" role="option">점점 쌓이는</li>
								<li class="dropdown__item" role="option">계속 적으로 증가세를 보이고 있는</li>
							</ul>
						</div>
						<!-- //드롭버튼 -->
					</div>
				</div>
				<div class="accordion__fixed" data-trans>
					<a class="text-link--bollet" style="--data-color:#d87b63;" href="#none" alt="한자어 순화 가이드보기" role="button">한자어 순화<i class="ic ic-text-arrow--type2" aria-hidden="true"></i>
					</a>
				</div>
			</div>

			<div class="accordion__panel expand" data-trans id="acc_content4" aria-labelledby="acc_header4">
				<div class="accordion__inner">
					<div class="list" role="list">
						<div class="list__item" role="listitem">
							<label class="label">허용 표현</label>
							<span class="text">점점 늘어나는, 점점 쌓이는, 계속 적으로 증가세를 보이고 있는</span>
						</div>
						<div class="list__item" role="listitem">
							<label class="label">입력 표현</label>
							<span class="text">점점 늘어나는</span>
						</div>
						<div class="list__item" role="listitem">
							<label class="label">활용 예시</label>
							<span class="text">점점 늘어나는 속도가 매년 빨라지면서</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="accordion__item" data-card="false">
			<div class="accordion__head" data-trans>
				<div class="accordion__head__inner" data-trans>
					<button class="accordion__button" data-trans id="acc_header5" type="button" aria-expanded="false" aria-controls="acc_content5" aria-label="버튼"></button>
					<button type="button" class="ic-button-refresh" aria-pressed="false" data-trans aria-label="이전으로 돌아가기">
						<i class="ic ic-refresh" aria-hidden="true"></i>
					</button>
					<div class="accordion__check" data-trans>
						<input class="checkbox hidden" id="chk05" type="checkbox" name="chk"/>
						<label class="text" for="chk05" aria-label="체크버튼"></label>
					</div>
					<div class="expresstion-list" data-trans>
						<span>테스트케이스</span>
						<i class="ic ic-expresstion-arrow--type2" aria-hidden="true"></i>
						<!-- 드롭버튼 -->
						<div class="dropdown">
							<label id="dropdown_label5">테스트케이스</label>
							<button type="button" class="dropdown__button" aria-haspopup="listbox" aria-label="드롭버튼">
								<i class="ic ic-text-arrow--type2 " aria-hidden="true"></i>
							</button>
							<ul class="dropdown__menu" tabindex="-1" role="listbox" aria-labelledby="dropdown_label5">
								<li class="dropdown__item" role="option">점점 늘어나는</li>
								<li class="dropdown__item" role="option">점점 쌓이는</li>
								<li class="dropdown__item" role="option">계속 적으로 증가세를 보이고 있는</li>
							</ul>
						</div>
						<!-- //드롭버튼 -->
					</div>
				</div>
				<div class="accordion__fixed" data-trans>
					<a class="text-link--bollet" style="--data-color:#d87b63;" href="#none" alt="한자어 순화 가이드보기" role="button">한자어 순화<i class="ic ic-text-arrow--type2" aria-hidden="true"></i>
					</a>
				</div>
			</div>

			<div class="accordion__panel expand" data-trans id="acc_content5" aria-labelledby="acc_header5">
				<div class="accordion__inner"></div>
			</div>
		</div>

		<div class="accordion__item" data-card="false">
			<div class="accordion__head" data-trans>
				<div class="accordion__head__inner" data-trans>
					<button class="accordion__button" data-trans id="acc_header6" type="button" aria-expanded="false" aria-controls="acc_content6" aria-label="버튼"></button>
					<button type="button" class="ic-button-refresh" aria-pressed="false" data-trans aria-label="이전으로 돌아가기">
						<i class="ic ic-refresh" aria-hidden="true"></i>
					</button>
					<div class="accordion__check" data-trans>
						<input class="checkbox hidden" id="chk06" type="checkbox" name="chk"/>
						<label class="text" for="chk06" aria-label="체크버튼"></label>
					</div>
					<div class="expresstion-list" data-trans>
						<span>테스트케이스</span>
						<i class="ic ic-expresstion-arrow--type2" aria-hidden="true"></i>
						<!-- 드롭버튼 -->
						<div class="dropdown">
							<label id="dropdown_label6">테스트케이스</label>
							<button type="button" class="dropdown__button" aria-haspopup="listbox" aria-label="드롭버튼">
								<i class="ic ic-text-arrow--type2 " aria-hidden="true"></i>
							</button>
							<ul class="dropdown__menu" tabindex="-1" role="listbox" aria-labelledby="dropdown_label6">
								<li class="dropdown__item" role="option">점점 늘어나는</li>
								<li class="dropdown__item" role="option">점점 쌓이는</li>
								<li class="dropdown__item" role="option">계속 적으로 증가세를 보이고 있는</li>
							</ul>
						</div>
						<!-- //드롭버튼 -->
					</div>
				</div>
				<div class="accordion__fixed" data-trans>
					<a class="text-link--bollet" style="--data-color:#d87b63;" href="#none" alt="한자어 순화 가이드보기" role="button">한자어 순화<i class="ic ic-text-arrow--type2" aria-hidden="true"></i>
					</a>
				</div>
			</div>

			<div class="accordion__panel expand" data-trans id="acc_content6" aria-labelledby="acc_header6">
				<div class="accordion__inner"></div>
			</div>
		</div>
	</div>
</div>
