<div id="sorting" class="button-group">
  <input class="radio radio--sort" id="rad01" type="radio" name="radCheck"/>
  <label for="rad01">전체</label>
  <input class="radio radio--sort" id="rad02" type="radio" name="radCheck"/>
  <label for="rad02">교정하기</label>
  <input class="radio radio--sort" id="rad03" type="radio" name="radCheck"/>
  <label for="rad03">가이드/용어</label>
  <input class="radio radio--sort" id="rad04" type="radio" name="radCheck"/>
  <label for="rad04">콘텐츠</label>
  <input class="radio radio--sort" id="rad05" type="radio" name="radCheck" checked/>
  <label for="rad05">기타</label>
</div>