<div id="sortings" class="button-group">
	<div class="swiper swiper-pind none-bd">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<input class="radio radio--sort" id="rad01" type="radio" name="radCheck"/>
				<label for="rad01">전체</label>
			</div>
			<div class="swiper-slide">
				<input class="radio radio--sort" id="rad02" type="radio" name="radCheck"/>
				<label for="rad02">교정하기</label>
			</div>
			<div class="swiper-slide">
				<input class="radio radio--sort" id="rad03" type="radio" name="radCheck"/>
				<label for="rad03">가이드/용어</label>
			</div>
			<div class="swiper-slide">
				<input class="radio radio--sort" id="rad04" type="radio" name="radCheck"/>
				<label for="rad04">콘텐츠</label>
			</div>
			<div class="swiper-slide">
				<input class="radio radio--sort" id="rad05" type="radio" name="radCheck" checked/>
				<label for="rad05">기타</label>
			</div>
			<div class="swiper-slide">
				<input class="radio radio--sort" id="rad06" type="radio" name="radCheck"/>
				<label for="rad06">기타2</label>
			</div>
		</div>
	</div>
</div>
