$accordionMargin : 20px;

button {
    cursor: pointer;
    outline: 0;
    border: 0;
    padding: 0;
}

.button {
    border-radius: 0;
    width: 120px;
    height: 40px;
    border: 0;
    font-size: 14px;
    font-weight: 500;
}