$root: tabs;

.#{$root} {
    &__list {
        display: flex;
        align-items: center;

        >.button {
            &[aria-selected="true"] {
                background-color: color(blue, 300);
                color: $white;
            }
        }
    }

    &__content {
        display: none;
    }
}