{% set user = "logout" %}
{% set title = "가이드 UXW 아코디언"%}
{% extends "../templates/layout.njk" %}
{% block content %}
    <div class="guide-wrap">
        <h2 class="ex-name">Accordion</h2>
        <div class="ex-content">
            <div class="ex-title">
                <h3>아코디언 구성 주의사항</h3>
                <p class="ex-desc" style="color: #ff0000"> 아래 예시는 마크업 구성 시 반드시 포함되어야 하는 속성을 설명하는 구조입니다. 실제 아코디언 구성 시에는 css style 구조에 맞는 마크업이 필요합니다.</p>
                <p class="ex-desc">* 아코디언 헤더의 [aria-controls] => 아코디언 컨텐츠의 [id]와 매칭
                <br>* 아코디언 헤더의 [id] => 아코디언 컨텐츠의 [aria-labelledby]와 매칭
                <br>* 아코디언의 디폴트는 닫힌 상태입니다.
            </p>
            </div>

            <div class="ex-body">
                <div class="ex-preview">
                    <div class="accordion" data-ui-accordion>
                        <div class="accordion__box">
                            <div class="accordion__item">
                                <div class="accordion__head">
                                    <!-- 리스트형태 -->
                                    <div class="list list--type3">
                                        <div class="list__group">
                                            <div class="list__row">
                                                <div class="list__item">
                                                    <span aria-hidden="true">
                                                        <i class="ic ic-pind" aria-hidden="true"></i>
                                                    </span>
                                                </div>
                                                <div class="list__item left">
                                                    <b aria-hidden="true">기업의 ‘대고객 언어’가 달라진다.</b>
                                                </div>
                                                <div class="list__item">
                                                    <button type="button" class="ic-button" aria-label="다운로드">
                                                        <i class="ic ic-download" aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                                <div class="list__item">
                                                    <span aria-hidden="true">2022.08.31</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 리스트형태 -->
                                    <button class="accordion__button" id="acc_header1" type="button" aria-expanded="false" aria-controls="acc_panel1" aria-label="버튼"></button>
                                </div>
                                <div class="accordion__panel expand" id="acc_panel1" aria-labelledby="acc_header1">
                                    <div class="accordion__inner">
                                        <!-- 리스트형태 -->
                                        <div class="list list--type2">
                                            <div class="list__item">
                                                <label class="label" aria-hidden="true"></label>
                                                <p class="text">테기업의 언어를 고객의 언어로 바꾸는 기업들이 늘고 있다. 관행적으로 사용하던 전문용어와 상품 설명을 고객 눈높이에서 이해하기 쉬운 단어들로 대체하고 친근하게 소통하는 움직임이다. 일상생활과 밀접한 서비스를 제공하지만 업 특성상 전문용어가 많은 금융 및 이동통신 분야를 중심으로 언어 전환 작업이 이뤄지고 있다. 기업의 언어를 고객의 언어로 바꾸는 기업들이 늘고 있다. 관행적으로 사용하던 전문용어와 상품 설명을 고객 눈높이에서 이해하기 쉬운 단어들로 대체하고 친근하게 소통하는 움직임이다. 일상생활과 밀접한 서비스를 제공하지만 업 특성상 전문용어가 많은 금융 및 이동통신 분야를 중심으로 언어 전환 작업이 이뤄지고 있다. 일상생활과 밀접한 서비스를 제공하지만 업 특성상 전문용어가 많은 금융 및 이동통신 분야를 중심으로 언어 전환 작업이 이뤄지고 있다. 일상생활과 밀접한 서비스를 제공하지만 업 특성상 전문용어가 많은 금융 및 이동통신 분야를 중심으로 언어 전환 작업이 이뤄지고 있다.스트</p>
                                            </div>
                                        </div>
                                        <!-- 리스트형태 -->
                                    </div>
                                </div>
                            </div>
                            <div class="accordion__item">
                                <div class="accordion__head">
                                    <!-- 리스트형태 -->
                                    <div class="list list--type3">
                                        <div class="list__group">
                                            <div class="list__row">
                                                <div class="list__item">
                                                    <span>66</span>
                                                </div>
                                                <div class="list__item left">
                                                    <span aria-hidden="true">[기타] 오류가 생겨요.</span>
                                                </div>
                                                <div class="list__item"></div>
                                                <div class="list__item">
                                                    <span aria-hidden="true">2022.08.31</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 리스트형태 -->
                                    <button class="accordion__button" id="acc_header2" type="button" aria-expanded="false" aria-controls="acc_panel2" aria-label="버튼"></button>
                                </div>
                                <div class="accordion__panel expand" id="acc_panel2" aria-labelledby="acc_header2">
                                    <div class="accordion__inner">
                                        <!-- 리스트형태 -->
                                        <div class="list list--type2">
                                            <div class="list__item">
                                                <label class="label" aria-hidden="true"></label>
                                                <p class="text">테기업의 언어를 고객의 언어로 바꾸는 기업들이 늘고 있다. 관행적으로 사용하던 전문용어와 상품 설명을 고객 눈높이에서 이해하기 쉬운 단어들로 대체하고 친근하게 소통하는 움직임이다. 일상생활과 밀접한 서비스를 제공하지만 업 특성상 전문용어가 많은 금융 및 이동통신 분야를 중심으로 언어 전환 작업이 이뤄지고 있다. 기업의 언어를 고객의 언어로 바꾸는 기업들이 늘고 있다. 관행적으로 사용하던 전문용어와 상품 설명을 고객 눈높이에서 이해하기 쉬운 단어들로 대체하고 친근하게 소통하는 움직임이다. 일상생활과 밀접한 서비스를 제공하지만 업 특성상 전문용어가 많은 금융 및 이동통신 분야를 중심으로 언어 전환 작업이 이뤄지고 있다. 일상생활과 밀접한 서비스를 제공하지만 업 특성상 전문용어가 많은 금융 및 이동통신 분야를 중심으로 언어 전환 작업이 이뤄지고 있다. 일상생활과 밀접한 서비스를 제공하지만 업 특성상 전문용어가 많은 금융 및 이동통신 분야를 중심으로 언어 전환 작업이 이뤄지고 있다.스트</p>
                                            </div>
                                        </div>
                                        <!-- 리스트형태 -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="html-view">
                        <pre>
                    <code class="ex-code-block render-html">
                        <div class="accordion">
                            <div class="accordion__box">
                                <div class="accordion__item">
                                    <div class="accordion__head">
                                        <!-- 아코디언 헤더영역 ... -->
                                        <button class="accordion__button" id="{{acc_header}}" type="button" aria-expanded="false" aria-controls="{{acc_panel}}" aria-label="버튼"></button>
                                    </div>
                                    <div class="accordion__panel expand" id="{{acc_panel}}" aria-labelledby="{{acc_header}}">
                                        <div class="accordion__inner">
                                            <!-- 아코디언 패널영역 ... -->
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion__item">
                                    <div class="accordion__head">
                                        <!-- 아코디언 헤더영역 ... -->
                                        <button class="accordion__button" id="{{acc_header}}" type="button" aria-expanded="false" aria-controls="{{acc_panel}}" aria-label="버튼"></button>
                                    </div>
                                    <div class="accordion__panel expand" id="{{acc_panel}}" aria-labelledby="{{acc_header}}">
                                        <div class="accordion__inner">
                                            <!-- 아코디언 패널영역 ... -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </code>
                </pre>
                    </div>
                </div>
            </div>
        </div>
        <div class="ex-content">
            <div class="ex-title">
                <h3>아코디언 type2</h3>
            </div>
            <div class="ex-body">
                <div class="ex-preview">
                    <div class="accordion" data-ui-accordion>
                        <div class="accordion__box">
                            <div class="accordion__item">
                                <div class="accordion__head">
                                    <!-- 리스트형태 -->
                                    <div class="list list--type3">
                                        <div class="list__group">
                                            <div class="list__row">
                                                <div class="list__item">
                                                    <span aria-hidden="true">
                                                        <i class="ic ic-pind" aria-hidden="true"></i>
                                                    </span>
                                                </div>
                                                <div class="list__item left">
                                                    <b aria-hidden="true">기업의 ‘대고객 언어’가 달라진다.</b>
                                                </div>
                                                <div class="list__item">
                                                    <button type="button" class="ic-button" aria-label="다운로드">
                                                        <i class="ic ic-download" aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                                <div class="list__item">
                                                    <span aria-hidden="true">2022.08.31</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 리스트형태 -->
                                    <button class="accordion__button" id="acc_header1" type="button" aria-expanded="false" aria-controls="acc_panel1" aria-label="버튼"></button>
                                </div>
                                <div class="accordion__panel expand" id="acc_panel1" aria-labelledby="acc_header1">
                                    <div class="accordion__inner">
                                        <!-- 리스트형태 -->
                                        <div class="list list--type2">
                                            <div class="list__item">
                                                <label class="label" aria-hidden="true"></label>
                                                <p class="text">테기업의 언어를 고객의 언어로 바꾸는 기업들이 늘고 있다. 관행적으로 사용하던 전문용어와 상품 설명을 고객 눈높이에서 이해하기 쉬운 단어들로 대체하고 친근하게 소통하는 움직임이다. 일상생활과 밀접한 서비스를 제공하지만 업 특성상 전문용어가 많은 금융 및 이동통신 분야를 중심으로 언어 전환 작업이 이뤄지고 있다. 기업의 언어를 고객의 언어로 바꾸는 기업들이 늘고 있다. 관행적으로 사용하던 전문용어와 상품 설명을 고객 눈높이에서 이해하기 쉬운 단어들로 대체하고 친근하게 소통하는 움직임이다. 일상생활과 밀접한 서비스를 제공하지만 업 특성상 전문용어가 많은 금융 및 이동통신 분야를 중심으로 언어 전환 작업이 이뤄지고 있다. 일상생활과 밀접한 서비스를 제공하지만 업 특성상 전문용어가 많은 금융 및 이동통신 분야를 중심으로 언어 전환 작업이 이뤄지고 있다. 일상생활과 밀접한 서비스를 제공하지만 업 특성상 전문용어가 많은 금융 및 이동통신 분야를 중심으로 언어 전환 작업이 이뤄지고 있다.스트</p>
                                            </div>
                                        </div>
                                        <!-- 리스트형태 -->
                                    </div>
                                </div>
                            </div>
                            <div class="accordion__item">
                                <div class="accordion__head">
                                    <!-- 리스트형태 -->
                                    <div class="list list--type3">
                                        <div class="list__group">
                                            <div class="list__row">
                                                <div class="list__item">
                                                    <span>66</span>
                                                </div>
                                                <div class="list__item left">
                                                    <span aria-hidden="true">[기타] 오류가 생겨요.</span>
                                                </div>
                                                <div class="list__item"></div>
                                                <div class="list__item">
                                                    <span aria-hidden="true">2022.08.31</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 리스트형태 -->
                                    <button class="accordion__button" id="acc_header2" type="button" aria-expanded="false" aria-controls="acc_panel2" aria-label="버튼"></button>
                                </div>
                                <div class="accordion__panel expand" id="acc_panel2" aria-labelledby="acc_header2">
                                    <div class="accordion__inner">
                                        <!-- 리스트형태 -->
                                        <div class="list list--type2">
                                            <div class="list__item">
                                                <label class="label" aria-hidden="true"></label>
                                                <p class="text">테기업의 언어를 고객의 언어로 바꾸는 기업들이 늘고 있다. 관행적으로 사용하던 전문용어와 상품 설명을 고객 눈높이에서 이해하기 쉬운 단어들로 대체하고 친근하게 소통하는 움직임이다. 일상생활과 밀접한 서비스를 제공하지만 업 특성상 전문용어가 많은 금융 및 이동통신 분야를 중심으로 언어 전환 작업이 이뤄지고 있다. 기업의 언어를 고객의 언어로 바꾸는 기업들이 늘고 있다. 관행적으로 사용하던 전문용어와 상품 설명을 고객 눈높이에서 이해하기 쉬운 단어들로 대체하고 친근하게 소통하는 움직임이다. 일상생활과 밀접한 서비스를 제공하지만 업 특성상 전문용어가 많은 금융 및 이동통신 분야를 중심으로 언어 전환 작업이 이뤄지고 있다. 일상생활과 밀접한 서비스를 제공하지만 업 특성상 전문용어가 많은 금융 및 이동통신 분야를 중심으로 언어 전환 작업이 이뤄지고 있다. 일상생활과 밀접한 서비스를 제공하지만 업 특성상 전문용어가 많은 금융 및 이동통신 분야를 중심으로 언어 전환 작업이 이뤄지고 있다.스트</p>
                                            </div>
                                        </div>
                                        <!-- 리스트형태 -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ex-content">
            <div class="ex-title">
                <h3>페이지 로드 시 특정 아코디언을 펼쳐진 상태로 보기</h3>
                <p class="ex-desc">특정 아코디언 콘텐츠를 기본적으로 활성화시키는 방법입니다.</p>
                <h4 style="margin-top: 20px">데이터 속성을 이용하여 활성화 시키는 방법</h4>
                <p class="ex-desc" style="color: #ff0000">아코디언이 하나만 열려있는 경우는(단수) | data-ui-accordion 이 선언된 엘리먼트에 data-accordion-default="0"</p>
                <p class="ex-desc" style="color: #ff0000">아코디언이 여러개 열려있는 경우는(복수) | data-ui-accordion 이 선언된 엘리먼트에 data-accordion-defaults="0,2"</p>
                <h4 style="margin-top: 20px">각 아코디언 헤더에 클래스를 부여하여 활성화 시키는 방법</h4>
                <p class="ex-desc" style="color: #ff0000">아코디언 헤드에(aria-expanded 속성이 선언되어 있는 곳) is-active 클래스 추가</p>
            </div>
        </div>
        <div class="ex-body">
            <div class="ex-preview">
                <!-- html view 넣을곳 -->
            </div>
            <div class="html-view">
                <pre>
                    <code class="ex-code-block render-html">
                        <!-- <div class="acc" data-ui-accordion data-accordion-defaults="0,1"></div> -->
                    </code>
                </pre>
            </div>
        </div>
    </div>
{% endblock %}