{% set title = "가이드 UXW Header"%}
{% extends "../templates/layout.njk" %}
{% block content %}
	<div class="guide-wrap">
		<h2 class="ex-name">Header</h2>
		<div class="ex-content">
			<div class="ex-title">
				<h3>헤더 구성 방법</h3>
			</p>
		</div>

		<div class="ex-body">
			<div class="html-view">
				<pre>
                    <code class="ex-code-block render-html">
						<div class="head">
							<h1 class="head__logo">
								<a href="#none" alt="홈 바로가기">
									<img src="../../resources/images/logo.png" alt="신한은행 UXW"/>
									<span>신한은행 UXW</span>
								</a>
							</h1>
						</div>
                    </code>
                </pre>
			</div>
		</div>
	</div>
</div>
{% endblock %}