$root: accordion;

.#{$root} {
    &__item {
        transition: all 0.4s ease-out;
        border: 1px solid color(grey, 300);
        border-radius: 7px;
        margin-top: 10px;

        &:first-child {
            margin-top: 0;
        }

        .ic-button-refresh {
            display: none;
        }

        &[data-card='true'] {
            overflow: hidden;
            background-color: color(blue, 800);
            .ic-button-refresh {
                display: block;
                position: absolute;
                right: 24px;
                top: calc(50% - 12px);
            }
            .#{$root} {
                &__head__inner {
                    background-color: color(blue, 800);

                    .expresstion-list {
                        margin-left: 0;
                        > span {
                            display: none;
                        }

                        .ic-expresstion-arrow--type2 {
                            margin-left: 0;
                            background: url('../images/ic-expression-arrow.png') no-repeat;
                        }

                        .dropdown {
                            width: calc(100% - 64px);
                            label {
                                width: 100%;
                                color: $white;
                            }
                            &__button {
                                pointer-events: none;
                                color: $white;
                                display: none;
                            }
                        }
                    }
                }

                &__fixed {
                    min-height: 0;
                    height: 0;
                    padding: 0;
                }

                &__button {
                    pointer-events: none;
                    &:after {
                        display: none;
                    }
                }

                &__refresh {
                    transform: rotate(-180deg);
                }

                &__check {
                    display: none;
                    pointer-events: none;
                }

                &__panel {
                    height: 0;
                }
            }
        }
    }

    &__fixed {
        padding: 20px;
        min-height: 64px;
    }

    &__box {
    }

    &__panel {
        overflow: hidden;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
    }

    &__inner {
        padding: 0 20px 20px;

        .list {
            &:first-child {
                margin-top: 0;
            }
            margin-top: 20px;
        }
    }
    &__head {
        position: relative;
        &__inner {
            display: flex;
            align-items: center;
            position: relative;
            background-color: color(grey, 50);
            padding: 20px;
            border-top-left-radius: 7px;
            border-top-right-radius: 7px;
        }
    }
    &__check {
        display: inline-block;
        vertical-align: top;
    }

    &__button {
        position: absolute;
        left: 0;
        top: 0;
        width: calc(100% - 48px);
        height: 100%;
    }

    .expresstion-list {
        .ic-expresstion-arrow--type2 {
            pointer-events: none;
            margin: 0 8px;
        }

        > span {
            width: 120px;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
        }

        margin-left: 8px;
        &:before {
            display: none;
        }

        &:last-child {
            padding: 0;
        }
    }
}
