$root: dropdown;

.#{$root} {
    position: relative;

    &__button {
        color: color(blue, 800);
        cursor: pointer;
        line-height: 24px;
        display: inline-block;
        vertical-align: top;
        text-align: left;
    }

    &__menu {
        width: 135px;
        position: absolute;
        z-index: 100;
        background-color: $white;
        box-shadow: 0px 2px 6px rgba(22, 37, 66, 0.1);
        border-radius: 2px;
        height: auto;
        padding: 8px 0;
    }

    &__item {
        cursor: pointer;
        display: flex;
        align-items: center;
        min-height: 36px;
        padding: 6px 16px;
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;
        text-align: left;
        transition: all 0.4s ease;
        background-color: $white;

        &:first-child {
            pointer-events: none;
            font-weight: 500;
            color: color(grey, 900);
        }

        &:hover {
            background-color: color(blue, 100);
            color: color(blue, 800);
            font-weight: 500;
        }
    }
}
