.grid {
  $root: grid;

  display: flex;
  margin-right: -8px;

  &--type2 {
    margin: 0 -24px 0px 0;
    @include clearFix;
    + .pagination {
      margin-top: 6px;
    }
    .title--type2 {
      height: 24px;
    }
    @keyframes loading-text {
      0% {
        content: '';
        opacity: 0.25;
      }

      25% {
        content: '.';
        opacity: 0.5;
      }

      50% {
        content: '..';
        opacity: 0.75;
      }

      75% {
        content: '...';
        opacity: 1;
      }
    }

    .grid__ct {
      color: #ff6c6c;
      font-weight: 700;
      font-size: 12px;
      display: block;
      &:after {
        display: inline-block;
        vertical-align: top;
        content: '';
        animation: loading-text 3s infinite;
      }

      &--grey {
        font-size: 12px;
        display: block;
        font-weight: 700;
        color: color(grey, 600);
      }

      &--blue {
        font-size: 12px;
        display: block;
        font-weight: 700;
        color: #627aff;
      }
    }
    h4 {
      display: block;
      margin-top: 18px;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      color: color(grey, 600);
    }
    .#{$root}__box {
      margin: 0 24px 24px 0;
      overflow: hidden;
      position: relative;
      float: left;
      padding: 32px 24px 24px;
      height: 240px;
      border-radius: 8px;
      border: 1px solid transparent;
      box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.08);

      &:hover {
        .thumnail {
          visibility: visible;
          opacity: 1;
        }
      }
    }

    .#{$root}__content {
      margin-top: 16px;
      .text {
        color: color(grey, 500);
      }
    }

    @for $i from 1 through 5 {
      &.col#{$i} {
        .#{$root}__box {
          width: calc((100% / #{$i}) - 24px);
        }
      }
    }
  }

  &--type3 {
    margin:0 -20px -20px 0;
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    @include clearFix;
    .#{$root}__box {
      margin: 0 20px 20px 0;
      height:auto;
      padding:0;
      border-radius: 8px;
      border: 1px solid color(grey, 300);
      box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.08);
      float: left;
    }

    .#{$root}__content {
      padding:0 30px 20px;

      .text-link--bollet + .list {
        margin-top:20px;
      }
    }

    .#{$root}__head {
      min-height:72px;
      padding:0 30px;
      display: flex;
      align-items: center;
    }
    
    @for $i from 1 through 5 {
      &.col#{$i} {
        .#{$root}__box {
          width: calc((100% / #{$i}) - 20px);
        }
      }
    }
  }

  @for $i from 1 through 5 {
    &.col#{$i} {
      .#{$root}__box {
        width: calc((100% / #{$i}) - 8px);
      }
    }
  }

  &__box {
    background-color: $white;
    border-radius: 4px;
    border: 1px solid color(grey, 200);
    padding: 20px 16px;
    margin-right: 8px;
    height: 150px;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: color(grey, 600);
  }

  &__head {
    //
  }

  &__content {
    //
  }

  .text-link {
    height: 80px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    align-items: flex-start;
  }
}
