.modal {
  $root: modal;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-modal;
  display: none;
  outline: 0;
  overflow-x: hidden;
  overflow-y: auto;

  @at-root {
    &.is-fixed {
      .tab .title {
        position: fixed;
        width: 100%;
        max-width: 1200px;
        z-index: 20;
        background-color: $white;
        &:before {
          content: '';
          display: block;
          height: 40px;
          position: absolute;
          top: -40px;
          background-color: $white;
          width: 100%;
        }
      }
      // [data-layer-close] {
      //   position: fixed;
      //   right: 247px;
      //   top: 100px;
      // }
      .tab__panel {
        padding-top: 65px;
      }
    }
  }

  .textarea {
    background-color: $white;
  }

  &--confirm {
    .#{$root}__content {
      width: 335px;
      border-radius: 8px;
      overflow: hidden;
    }
    .#{$root}__body {
      padding: 32px 20px;
      text-align: center;
      font-weight: 300;
      font-size: 16px;
      line-height: 24px;
      color: color(grey, 900);
    }
    .button--type4 {
      border: 0;
      background-color: color(grey, 200);
    }
  }

  &--alert {
    .#{$root}__content {
      width: 335px;
      border-radius: 8px;
      overflow: hidden;
    }
    .#{$root}__body {
      padding: 32px 20px;
      text-align: center;
      font-weight: 300;
      font-size: 16px;
      line-height: 24px;
      color: color(grey, 900);
    }
    .button--type4 {
      border: 0;
      background-color: color(grey, 200);
    }
  }


  &__dialog {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &--type2 {
      .#{$root}__body {
        padding: 10px 20px 30px;
      }
    }
  }

  &__header {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    height: 56px;
    justify-content: space-between;
    padding: 0 20px;
    border-bottom: 1px solid color(grey, 200);

    &__inner {
      display: flex;
      align-items: center;

      .label-ct {
        margin-left: 10px;
      }
    }
  }

  &__title {
    font-size: 16px;
    font-weight: 500;
  }

  &__content {
    width:480px;
    position: relative;
    max-height: 90vh;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background-color: $white;
  }

  
  &--medium {
    .#{$root}__content {
      width: 560px;
    }
  }

  &__body {
    padding: 24px 20px;
  }

  &__footer {
    display: flex;
    align-items: center;
    button {
      border-radius: 0;
    }
  }

  &.is-active {
    display: block;
    animation-duration: 0.4s;
    animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
    animation-name: defaultIn;
  }

  &.is-deactive {
    display: block;
    animation-duration: 0.4s;
    animation-timing-function: cubic-bezier(0.36, 0, 0.66, -0.56);
    animation-name: defaultOut;
  }

  &--layer {
    &.is-active {
      display: block;
      animation-duration: 0.6s;
      animation-timing-function: cubic-bezier(0.26, 0.98, 0.53, 0.97);
      animation-name: modalLayerIn;
    }

    &.is-deactive {
      display: block;
      animation-duration: 0.6s;
      animation-timing-function: cubic-bezier(0.26, 0.98, 0.53, 0.97);
      animation-name: modalLayerOut;
    }

    [data-layer-close] {
      position: absolute;
      right: 20px;
      top: 20px;
      z-index: 102;
    }

    .textarea {
      background-color: color(grey, 50);
      border: 1px solid color(grey, 300);
      color: color(grey, 600);
    }

    .ly-bottom-group {
      background-color: $white;
      max-width: 819px;
      &:before,
      &:after {
        background-color: $white;
      }
    }

    .#{$root}__dialog {
      justify-content: flex-start;
      align-items: flex-start;
    }
    .#{$root}__content {
      overflow: hidden;
      min-height: calc(100% - 80px);
      margin-top: 80px;
      max-width: 1693px;
      min-width: 1693px;
      width: 100%;
      padding: 0 133px 0 360px;
    }
    &__type2 {
      .#{$root}__content {
        display: flex;
        width: 100%;
        padding: 0 0 0 360px;
        justify-content: space-between;
        flex-direction: row;

        .ly-content-box {
          width: 100%;
          padding-right: 56px;
          overflow-y: auto;
          height: calc(100% - 116px);
        }

        .side__inner {
          &:after {
            display: none;
          }

          height: calc(100% - 144px);
          margin-top: 104px;
          padding: 0px 40px 0 40px;
        }
      }
    }

    &__type3 {
      .#{$root}__content {
        overflow: visible;
        max-height: none;
        min-height: auto;
      }
    }
  }
}

.fadeIn {
  animation-duration: 0.4s;
  animation-timing-function: cubic-bezier(0.5, 1, 0.89, 1);
  animation-name: fadeIn;
}
.fadeOut {
  animation-duration: 0.4s;
  animation-timing-function: cubic-bezier(0.5, 1, 0.89, 1);
  animation-name: fadeOut;
}
