.pagination {
    $root: pagination;
    width: 100%;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;

    &__number {
        margin: 0 24px;
        ul {
            display: flex;
            align-items: center;
            flex-shrink: 1;
            li {
                margin-left: 10px;
                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }

    &__button {
        display: inline-flex;
        &:first-child {
            margin-right: 8px;
        }

        &:last-child {
            margin-left: 8px;
        }
        &--num {
            font-weight: 500;
            font-size: 14px;
            width: 24px;
            height: 24px;
            display: inline-block;
            text-align: center;
            vertical-align: top;
            line-height: 24px;
            &.is-active {
                background-color: $black;
                border-radius: 50%;
                color: $white;
            }
        }
    }
}
