input[type='radio'] {
  display: none;
}

.radio {
  $root: radio;

  &.hidden + label {
    padding-left: 22px;
  }
  + label {
    font-weight: 300;
    font-size: 14px;
    position: relative;
    cursor: pointer;
    line-height: 22px;
    height: 22px;
    color: #000;
    padding-left: 30px;
    display: inline-block;
    vertical-align: top;
    margin: 0px;


    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      background: url('../images/ic-radio-off.png') no-repeat;
    }
  }

  &:checked + label:before {
    background: url('../images/ic-radio-on.png') no-repeat;
  }

  &:disabled + label {
    cursor: no-drop;
    &:before {
      background: url('../images/ic-radio-disabled.png') no-repeat;
    }
  }

  &:checked:disabled + label {
    cursor: no-drop;
    &:before {
      background: url('../images/ic-radio-on-disabled.png') no-repeat;
    }
  }

  &--sort {
    + label {
      cursor: pointer;
      border: 1px solid transparent;
      height: 44px;
      background-color: color(grey, 100);
      border-radius: 22px;
      font-weight: 300;
      font-size: 14px;
      color: color(grey, 600);
      padding: 0 20px;
      margin-left: 10px;
      line-height: 44px;
      &:first-child {
        margin-left: 0px;
      }

      &:before {
        display: none;
      }
    }

    &:checked + label {
      border: 1px solid transparent;
      background-color: color(grey, 900);
      color: $white;
      font-weight: 500;
    }

    &:disabled + label {
      border: 1px solid transparent;
      cursor: no-drop;
      background-color: color(grey, 400);
      color: color(grey, 600);
    }

    &:checked:disabled + label {
      font-weight: 300;
      border: 1px solid color(grey, 300);
      color: color(grey, 300);
      background-color: color(grey, 50);
    }
  }
}
