.search-box {
    $root: search-box;
    margin: 20px auto 0;
    &__wrap {
        max-width: 588px;
    }

    .input-box,
    input {
        height: $input-search-height;
        position: relative;
    }

    input {
        padding: $input-search-padding;
    }

    .ic-button-clear {
        right: $input-search-clear-button-padding;
        top: calc(50% - #{$input-search-button-offsetTop});
    }
    .ic-button-search {
        position: absolute;
        right: $input-search-button-padding;
        top: calc(50% - #{$input-search-button-offsetTop});
    }
}
