.search-box {
    $root: search-box;
    padding-bottom: 20px;
    margin: 20px auto;
    border-bottom: 1px solid color(grey, 200);
    &__wrap {
        max-width: 588px;
        margin: 0 auto;
    }

    .input-box,
    input {
        height: $input-search-height;
        position: relative;
    }

    input {
        padding: $input-search-padding;
    }

    .ic-button-clear {
        right: $input-search-clear-button-padding;
        top: calc(50% - #{$input-search-button-offsetTop});
    }
    .ic-button-search {
        position: absolute;
        right: $input-search-button-padding;
        top: calc(50% - #{$input-search-button-offsetTop});
    }
}
