$root: tab;

.#{$root} {
    &__list {
        display: flex;
        align-items: flex-start;
    }

    &__panel {
        display: none;

        &:focus {
            outline: 0 !important;
        }

        &.is-active {
            display: block;
        }
    }

    &__button {
        width: 196px;
        font-size: 20px;
        font-weight: 500;
        padding: 7px 0 25px 0;
        position: relative;
        height: 64px;
        transition: all 0.4s ease-out;

        &:focus {
            background-color: color(blue, 100);
            outline: 0 !important;
        }

        &:active {
            background-color: color(grey, 200);
        }

        &:hover {
            background-color: color(grey, 50);
        }

        &.is-active {
            color: color(blue, 800);

            &:hover {
                background-color: color(grey, 50);
            }

            &:after {
                content: '';
                z-index: 1;
                height: 2px;
                width: 100%;
                background-color: color(blue, 800);
                position: absolute;
                bottom: 0px;
                left: 0;
            }
        }
    }

    &__inner {
        padding: 40px 0;
    }

    &__scroll {
        overflow-y: auto;
    }
}
