.guide {
    width: 100%;
    position: relative;

    &__wrap {
        padding-top: 80px;
        position: relative;
        display: flex;
    }

    &__menu {
        min-width: 200px;
        width: 200px;
        border-right: 1px solid #e3e3e3;
        height: calc(100vh - 80px);
        position: fixed;
        left: 0;
        top: 80px;
        background-color: #F8F9FC;
        z-index: 100;

        button {
            width: 100%;
            text-align: left;
            padding: 0 10px;
            font-weight: bold;
            border-bottom: 1px solid #e3e3e3;
            background-color: color(blue, 800);

            &.is-active {
                +ul {
                    display: block;
                }
            }

            +ul {
                display: none;

                >li {
                    >a {
                        line-height: 38px;
                        display: block;
                        height: 40px;
                        border-bottom: 1px solid #e3e3e3;
                        font-size: 14px;
                        padding: 0 16px;
                    }
                }
            }
        }
    }

    &__content {
        padding-left: 200px;
        width: 100%;
    }
}