<!-- header 영역 -->
<header class="head">
    <h1 class="head__logo">
        <a href="#none" alt="홈 바로가기">
            <img src="/res/images/logo.png" alt="신한 UXW 시스템"/>
            <span>신한 UXW라이팅 시스템</span>
        </a>
    </h1>
    <!-- 로그인 일때 -->
    <div class="head__nav">
        <ul>
            <li>
                <button type="button" class="ic-button-head" aria-controls="nav_content" aria-label="메뉴">
                    <i class="ic ic-menu" aria-hidden="true"></i>
                </button>
            </li>
        </ul>
    </div>
    <!-- //로그인 일때 -->
</header>
<!-- header 영역 -->