{% set title = '신한 UX라이팅 시스템 | 간결하게' %}
{% extends '../templates/uxw_guide_layout.njk' %}
{% block guide %}
	<div class="guide">
		<div class="guide-visual" aria-hidden="true"></div>
		<div class="guide-head">
			<h1>간결하게</h1>
			<p>
				긴 문장은 짧게 나눠서 씁니다.<br/>
				중복 또는 불필요한 표현을 제거합니다.<br/>
				어색하고 늘어진 번역 투와 피동형 표현을 간결하게 다듬어 씁니다.<br/>
				지나친 높임말을 사용하지 않습니다.
			</p>
		</div>

		<!-- section이 들어갈 영역 -->
	<!-- ... -->
		<!-- //section이 들어갈 영역 -->
	</div>
{% endblock %}
{% block scripts %}{% endblock %}
