{% set title = '신한 UX라이팅 시스템 | 고객관점으로' %}
{% extends '../templates/uxw_guide_layout.njk' %}
{% block guide %}
	<div class="guide">
		<div class="guide-visual" aria-hidden="true"></div>
		<div class="guide-head">
			<h1>고객 관점으로</h1>
			<p>
				기업 관점 표현을 고객 관점 표현으로 씁니다.<br/>
				고객이 주체가 되는 능동표현, 혜택을 담은 표현을 사용합니다.<br/>
				강한 부정 또는 이중 부정 표현은 사용하지 않습니다.<br/>
				‘실패’라는 표현은 되도록 사용하지 않습니다.
			</p>
		</div>

		<!-- section이 들어갈 영역 -->
	<!-- ... -->
		<!-- //section이 들어갈 영역 -->
	</div>
{% endblock %}
{% block scripts %}{% endblock %}
