{% set title = '신한 UX라이팅 시스템 | 고유명사' %}
{% extends '../templates/uxw_guide_layout.njk' %}
{% block guide %}
	<!-- 여기서 부터 복사해서 사용하세요 -->
	<section class="guide-content" id="Proper_Noun">
		<div class="guide-card-wrap">
			<div class="guide-card">
				<div class="guide-card__head">
					<h3>고유명사</h3>
					<div class="divider" aria-hidden="true"></div>
				</div>
				<div class="guide-card__content">
					<div class="list">
						<div class="list__item">
							<p class="text bullet bullet--type2 light">회사명, 서비스명 등의 고유명사는 임의로 줄이거나 변형하지 않으며, 맞춤법에 맞지 않더라도 원래의 명칭으로 표기합니다. (예. OK캐쉬백)</p>
						</div>
						<div class="list__item">
							<p class="text bullet bullet--type2 light">회사명, 서비스명 등의 고유명사가 영어 단독 표기인 경우, 사용자 이해를 돕기 위해 한글과 병기해서 표기합니다.</p>
						</div>
						<div class="list__item">
							<p class="text bullet bullet--type2 light">단, 타이틀이나 브랜드 로고 형태로 쓰이는 경우에는 영어 단독 표기를 허용합니다.</p>
						</div>
						<div class="list__item">
							<p class="text bullet bullet--type2 light">향후 상품/서비스명 개발 시 외국어 사용을 지양하고, 병기가 필요 없는 쉬운 한글 표현으로 간결하게 작성합니다.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="table-row fixed">
			<table class="table left">
				<colgroup>
					<col style="width:50%"/>
					<col style="width:50%"/>
				</colgroup>
				<thead>
					<tr>
						<th>
							<span>이렇게 쓰지 마세요<i class="ic ic-x--type2" aria-hidden="true"></i>
							</span>
						</th>
						<th>
							이렇게 쓰세요<i class="ic ic-o--type2" aria-hidden="true"></i>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>신한쏠, 신한 쏠, 쏠, SOL</td>
						<td>
							신한 쏠(SOL), 쏠(SOL)
						</td>
					</tr>
					<tr>
						<td>
							뱅크아이디(BANK ID), 마이인포, 뱅크아이디(마이인포)
						</td>
						<td>
							뱅크아이디
						</td>
					</tr>
					<tr>
						<td>
							바이오인증
						</td>
						<td>
							생체인증
						</td>
					</tr>
					<tr>
						<td>
							tops club
						</td>
						<td>
							Tops Club, 탑스클럽(Tops Club)
						</td>
					</tr>
					<tr>
						<td>
							스마트뱅킹, 스마트폰뱅킹
						</td>
						<td>
							모바일뱅킹
						</td>
					</tr>
					<tr>
						<td>
							쏠펫
						</td>
						<td>
							SOL PET, 쏠펫(SOL PET)
						</td>
					</tr>
					<tr>
						<td>
							급여Club
						</td>
						<td>
							급여클럽
						</td>
					</tr>
					<tr>
						<td>
							월Swing, Swing
						</td>
						<td>
							월 Swing, 월 스윙(Swing)
						</td>
					</tr>
					<tr>
						<td>
							신한FAN클럽
						</td>
						<td>
							신한플러스
						</td>
					</tr>
					<tr>
						<td>
							유어스마트라운지
						</td>
						<td>
							신한 셀프뱅킹존
						</td>
					</tr>
					<tr>
						<td>
							신한페이FAN, FAN앱
						</td>
						<td>
							신한pLay, 신한플레이
						</td>
					</tr>
					<tr>
						<td>
							신한포인트
						</td>
						<td>
							마이신한포인트
						</td>
					</tr>
					<tr>
						<td>
							한달愛, 한달愛(애)저금통
						</td>
						<td>
							한달愛저금통
							<p class="authorship">
								* 고유명사 상품명에 한자가 포함된 경우 원형 그대로 표기를 허용하고 있지만 읽기 어려운 경우도 많으므로, 한자 단독 표기 형태의 작명은 최대한 지양 필요
							</p>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>
	<!-- //여기서 부터 복사해서 사용하세요 -->
{% endblock %}
{% block scripts %}{% endblock %}
