{% set title = '신한 UX라이팅 시스템 | 기업중심표현' %}
{% extends '../templates/uxw_guide_layout.njk' %}
{% block guide %}
	<!-- 여기서 부터 복사해서 사용하세요 -->
	<section class="guide-content" id="Cor_Ex">
		<div class="guide-card-wrap">
			<div class="guide-card">
				<div class="guide-card__head">
					<h3>기업 중심 표현</h3>
					<div class="divider" aria-hidden="true"></div>
				</div>
				<div class="guide-card__content">
					<div class="list">
						<div class="list__item">
							<p class="text bullet bullet--type2 light">‘통보’, ‘고지’ 등 제공자 관점의 일방적 표현은 되도록 사용하지 않습니다.</p>
						</div>
						<div class="list__item">
							<p class="text bullet bullet--type2 light">‘거래’, ‘제공’ 등의 기업 관점 표현은 문맥에 맞게 고객 관점 표현으로 바꿔 씁니다.</p>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="table-row fixed">
			<table class="table left">
				<colgroup>
					<col style="width:*"/>
					<col style="width:*"/>
				</colgroup>
				<thead>
					<tr>
						<th>
							<span>이렇게 쓰지 마세요<i class="ic ic-x--type2" aria-hidden="true"></i>
							</span>
						</th>
						<th>
							이렇게 쓰세요<i class="ic ic-o--type2" aria-hidden="true"></i>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							고객의
							<span class="red">지급</span>
							청구건에 대하여 은행에서 해당금액을
							<span class="red">지급합니다</span>.
						</td>
						<td>
							고객의
							<span class="blue">입금</span>
							신청 건을 은행에서
							<span class="blue">입금해드립니다</span>.
						</td>
					</tr>
					<tr>
						<td>
							토스/코나아이(지역화폐) 거래내역은 추후
							<span class="red">제공예정</span>
						</td>
						<td>
							토스/코나아이(지역화폐) 거래내역은 나중에
							<span class="blue">조회 가능</span>
						</td>
					</tr>
					<tr>
						<td>
							OTP 전원버튼을 누른 뒤
							<span class="red">제공되는</span>
							6자리의 숫자를 입력하세요.
						</td>
						<td>
							OTP 전원버튼을 누르면
							<span class="blue">보이는</span>
							6자리 숫자를 입력하세요.
						</td>
					</tr>
					<tr>
						<td>
							조회하신 조건으로
							<span class="red">고지</span>할 내역이 없습니다.
						</td>
						<td>
							조회한 조건으로
							<span class="blue">납부</span>할 내역이 없습니다.
						</td>
					</tr>
					<tr>
						<td>
							중도해지 시 납입액의 6%를 해지가산세로
							<span class="red">추징</span>합니다.
						</td>
						<td>
							중도해지 시 납입금액의 6%를 해지가산세로
							<span class="blue">추가 납부</span>해야 합니다.
						</td>
					</tr>
					<tr>
						<td>
							선택하신 계좌는
							<span class="red">출금 거래 가 불가능</span>합니다.
						</td>
						<td>
							선택한 계좌는
							<span class="blue">출금할 수 없는</span>
							계좌입니다
						</td>
					</tr>
					<tr>
						<td>
							<span class="red">거래</span>를 위해서는 신한은행 계좌개설이 필요합니다.
						</td>
						<td>
							먼저 신한은행 계좌를 새로 만든 후
							<span class="blue">이용</span>하실 수 있습니다.
						</td>
					</tr>
					<tr>
						<td>
							<span class="red">통지</span>이메일,
							<span class="red">통지</span>방법 변경
						</td>
						<td>
							이메일
							<span class="blue">안내, 안내</span>방법 변경
						</td>
					</tr>
					<tr>
						<td>
							운용<span class="red">통보</span>방법, 정기<span class="red">통보</span>일,
							<span class="red">통보</span>기준일
						</td>
						<td>
							운용<span class="blue">안내</span>방법, 정기<span class="blue">안내</span>일,
							<span class="blue">안내</span>기준일
						</td>
					</tr>
					<tr>
						<td>
							매매
							<span class="red">75,000</span>만
						</td>
						<td>
							매매
							<span class="blue">7억 5,000</span>만
						</td>
					</tr>
					<tr>
						<td>
							영업점과 PC에서도 간편하게
							<span class="red">거래하세요</span>.
						</td>
						<td>
							영업점과 PC에서도 간편하게
							<span class="blue">인증할 수 있습니다</span>.
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>
	<!-- //여기서 부터 복사해서 사용하세요 -->
{% endblock %}
{% block scripts %}{% endblock %}
