{% set title = '신한 UX라이팅 시스템 | 높임법' %}
{% extends '../templates/uxw_guide_layout.njk' %}
{% block guide %}
	<!-- 여기서 부터 복사해서 사용하세요 -->
	<section class="guide-content" id="Exaltation">
		<div class="guide-card-wrap">
			<div class="guide-card">
				<div class="guide-card__head">
					<h3>높임법 (해요체)</h3>
					<div class="divider" aria-hidden="true"></div>
				</div>
				<div class="guide-card__content">
					<div class="hash">
						<span class="hash-text">마케팅 카피</span>
						<span class="hash-text">헤드메시지</span>
						<span class="hash-text">말풍선</span>
						<span class="hash-text">가벼운 요청/권유</span>
					</div>
					<div class="list">
						<div class="list__item">
							<p class="text bullet bullet--type2 light">마케팅 성 카피, 헤드메시지, 말풍선, 문장형 타이틀/메뉴명, 서비스/상품 화면 상단 문구, 설문/체크리스트 서술어에 적용합니다.</p>
						</div>
						<div class="list__item">
							<p class="text bullet bullet--type2 light">가벼운 요청/권유의 서술어는 ‘~하시기 바랍니다’ 대신 ‘~해주세요’로 씁니다.</p>
						</div>
						<div class="list__item">
							<p class="text bullet bullet--type2 light">‘~해요,  ~하세요, ~해주세요, ~하시기/해주시기 바랍니다’ 순으로 정중함은 더해지고 친근함은 덜해집니다.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="guide-bar guide-bar--type2">
			<i class="guide-arrow guide-arrow-first" aria-hidden="true"></i>
			<span class="guide-bar-list">거리감을 느끼게하는 / 과도한 높임</span>
			<span class="guide-bar-list">딱 맞아요!</span>
			<span class="guide-bar-list">정중함이 부족한 / 무례한</span>
			<i class="guide-arrow guide-arrow-last" aria-hidden="true"></i>
		</div>
		<div class="guide-grid guide-grid--type3">
			<div class="guide-grid__row">
				<div class="guide-grid__col guide-grid__col-head">헤드메시지</div>
			</div>
			<div class="guide-grid__row">
				<div class="guide-grid__col guide-grid__col-ct">
					김신한 님께 10,000원을<br/>
					이체하시겠습니까?
				</div>
				<div class="guide-grid__col guide-grid__col-ct">
					김신한 님께 10,000원 보낼까요?
				</div>
				<div class="guide-grid__col guide-grid__col-ct">
					김신한 님께 10,000원 보내기
				</div>
			</div>

			<div class="guide-grid__row">
				<div class="guide-grid__col guide-grid__col-des"></div>
				<div class="guide-grid__col guide-grid__col-des">
					<div class="list">
						<div class="list__item">
							<p class="text bullet bullet--type3 medium">헤드메시지(평서형/질문형)는 ‘해요체’로 씁니다.</p>
						</div>
					</div>
				</div>
				<div class="guide-grid__col guide-grid__col-des"></div>
			</div>
			<div class="guide-grid__row">
				<div class="guide-grid__col guide-grid__col-head">상단문구</div>
			</div>
			<div class="guide-grid__row">
				<div class="guide-grid__col guide-grid__col-ct">
					고객님의 관심사에 맞는 투자정보를<br/>
					제공해드립니다.
				</div>
				<div class="guide-grid__col guide-grid__col-ct">
					내 관심사에 맞는 맞춤 투자정보를<br/>
					받아볼 수 있어요.
				</div>
				<div class="guide-grid__col guide-grid__col-ct">맞춤 투자정보 받으러 GO!</div>
			</div>
			<div class="guide-grid__row">
				<div class="guide-grid__col guide-grid__col-des"></div>
				<div class="guide-grid__col guide-grid__col-des">
					<div class="list">
						<div class="list__item">
							<p class="text bullet bullet--type3 medium">화면 상단/중심부에 위치하는 설명/안내/권유 등은 ‘해요체’로 씁니다.</p>
						</div>
					</div>
				</div>
				<div class="guide-grid__col guide-grid__col-des"></div>
			</div>
			<div class="guide-grid__row">
				<div class="guide-grid__col guide-grid__col-head">문장형 타이틀/메뉴명</div>
			</div>
			<div class="guide-grid__row">
				<div class="guide-grid__col guide-grid__col-ct">이럴 때 송금이 제한됩니다.</div>
				<div class="guide-grid__col guide-grid__col-ct">
					이럴 때는 송금할 수 없어요
				</div>
				<div class="guide-grid__col guide-grid__col-ct">
					이런 경우 송금은 안 돼요
				</div>
			</div>

			<div class="guide-grid__row">
				<div class="guide-grid__col guide-grid__col-des"></div>
				<div class="guide-grid__col guide-grid__col-des">
					<div class="list">
						<div class="list__item">
							<p class="text bullet bullet--type3 medium">
								문장형 메뉴나 타이틀은 ‘해요체’로 씁니다.<br/>
								타이틀에는 마침표를 생략합니다.
							</p>
						</div>
					</div>
				</div>
				<div class="guide-grid__col guide-grid__col-des"></div>
			</div>

			<div class="guide-grid__row">
				<div class="guide-grid__col guide-grid__col-head">질문/설문</div>
			</div>
			<div class="guide-grid__row">
				<div class="guide-grid__col guide-grid__col-ct">
					상환방법에 따른 상환금액, 이자율, 시기에 대해 이해하였습니까?
				</div>
				<div class="guide-grid__col guide-grid__col-ct">
					상환방법에 따른 상환금액, 이자율,<br/>
					상환시기를 이해하셨나요?
				</div>
				<div class="guide-grid__col guide-grid__col-ct">
					대출상환에 관련한 사항을<br/>
					모두 이해했나요?
				</div>
			</div>

			<div class="guide-grid__row">
				<div class="guide-grid__col guide-grid__col-des"></div>
				<div class="guide-grid__col guide-grid__col-des">
					<div class="list">
						<div class="list__item">
							<p class="text bullet bullet--type3 medium">질문형 서술어미는 ‘~하시겠어요?’로 씁니다.</p>
						</div>
					</div>
				</div>
				<div class="guide-grid__col guide-grid__col-des"></div>
			</div>
		</div>
		<div class="guide-card-wrap">
			<div class="guide-card">
				<div class="guide-card__head">
					<h3>높임법 (하십시오체)</h3>
					<div class="divider" aria-hidden="true"></div>
				</div>
				<div class="guide-card__content">
					<div class="hash">
						<span class="hash-text">팝업/토스트 문구</span>
						<span class="hash-text">유의사항</span>
						<span class="hash-text">말풍선</span>
						<span class="hash-text">약관/고지 문구</span>
					</div>
					<div class="list">
						<div class="list__item">
							<p class="text bullet bullet--type2 light">고객이 반드시 알아야 할 사실 기반 정보, 유의사항을 쓸 때 사용합니다.</p>
						</div>
						<div class="list__item">
							<p class="text bullet bullet--type2 light">‘ㅂ니다’ 형태를 기본형으로 쓰되, 가벼운 요청/권유의 서술어는 ‘~하시기 바랍니다’ 대신 ‘~해주세요’로 씁니다.</p>
						</div>
						<div class="list__item">
							<p class="text bullet bullet--type2 light">정중한 높임을 나타낼 때 쓰는 ‘-시-’는 여러 번 사용하면 과도한 높임이 되므로, 마지막 서술어에 한 번만 씁니다.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="guide-bar guide-bar--type2">
			<i class="guide-arrow guide-arrow-first" aria-hidden="true"></i>
			<span class="guide-bar-list">거리감을 느끼게 하는 / 과도한 높임</span>
			<span class="guide-bar-list">딱 맞아요!</span>
			<span class="guide-bar-list">정중함이 부족한 / 무례한</span>
			<i class="guide-arrow guide-arrow-last" aria-hidden="true"></i>
		</div>

		<div class="guide-grid guide-grid--type3">
			<div class="guide-grid__row">
				<div class="guide-grid__col guide-grid__col-head">유의사항</div>
			</div>
			<div class="guide-grid__row">
				<div class="guide-grid__col guide-grid__col-ct">
					비밀번호를 새로 설정하신 후<br/>
					USIM에 인증서를 복사하시면<br/>
					다시 이용하실 수 있습니다.
				</div>
				<div class="guide-grid__col guide-grid__col-ct">
					비밀번호를 새로 설정한 후<br/>
					유심에 인증서를 복사하면<br/>
					다시 이용하실 수 있습니다.
				</div>
				<div class="guide-grid__col guide-grid__col-ct">
					비밀번호 등록 후 유심에 인증서를<br/>
					복사하면  다시 이용 가능해요.
				</div>
			</div>
			<div class="guide-grid__row">
				<div class="guide-grid__col guide-grid__col-des"></div>
				<div class="guide-grid__col guide-grid__col-des">
					<div class="list">
						<div class="list__item">
							<p class="text bullet bullet--type3 medium">한 문장 안에서 높임 표현 ‘-시’를 반복하지 않습니다.</p>
						</div>
					</div>
				</div>
				<div class="guide-grid__col guide-grid__col-des"></div>
			</div>
			<div class="guide-grid__row">
				<div class="guide-grid__col guide-grid__col-head">유의사항</div>
			</div>
			<div class="guide-grid__row">
				<div class="guide-grid__col guide-grid__col-ct">
					과오납하신 경우 해당 지방자치단체로<br/>
					환급신청을 해주시기 바랍니다.
				</div>
				<div class="guide-grid__col guide-grid__col-ct">
					잘못 납부한 경우 해당 지방자치단체로<br/>
					환급신청을 해주세요.
				</div>
				<div class="guide-grid__col guide-grid__col-ct">
					과오납 건은<br/>
					해당 기관에 환급신청하세요.
				</div>
			</div>


			<div class="guide-grid__row">
				<div class="guide-grid__col guide-grid__col-des"></div>
				<div class="guide-grid__col guide-grid__col-des">
					<div class="list">
						<div class="list__item">
							<p class="text bullet bullet--type3 medium">요청사항은 쉬운 표현으로, 과도한 높임 없이 전달합니다.</p>
						</div>
					</div>
				</div>
				<div class="guide-grid__col guide-grid__col-des"></div>
			</div>
			<div class="guide-grid__row">
				<div class="guide-grid__col guide-grid__col-head">팝업문구</div>
			</div>
			<div class="guide-grid__row">
				<div class="guide-grid__col guide-grid__col-ct">
					죄송합니다. 전화상담은 상담시간 내에만<br/>
					이용하실 수 있으니 양해 부탁드립니다.<br/>
					상담시간 : 평일 09:00~18:00<br/>
					(은행휴무일제외)
				</div>
				<div class="guide-grid__col guide-grid__col-ct">
					전화상담은 평일 09:00~18:00에<br/>
					이용 가능합니다.<br/>
					* 토/일/공휴일 제외
				</div>
				<div class="guide-grid__col guide-grid__col-ct">
					지금은 상담시간이 아니에요.<br/>
					다시 이용해주세요.
				</div>
			</div>

			<div class="guide-grid__row">
				<div class="guide-grid__col guide-grid__col-des"></div>
				<div class="guide-grid__col guide-grid__col-des">
					<div class="list">
						<div class="list__item">
							<p class="text bullet bullet--type3 medium">
								과도한 높임과 양해/부탁 표현을 쓰지 않고,<br/>
								사실만 간결하게 ‘하십시오’체로 씁니다.
							</p>
						</div>
					</div>
				</div>
				<div class="guide-grid__col guide-grid__col-des"></div>
			</div>
		</div>
	</section>
	<!-- //여기서 부터 복사해서 사용하세요 -->
{% endblock %}
{% block scripts %}{% endblock %}
