{% set title = '신한 UX라이팅 시스템 | 당부, 사과, 양해 표현' %}
{% extends '../templates/uxw_guide_layout.njk' %}
{% block guide %}
	<!-- 여기서 부터 복사해서 사용하세요 -->
	<div class="guide-content">
		<div class="guide-card-wrap">
			<div class="guide-card">
				<div class="guide-card__head">
					<h3>당부, 사과, 양해 표현</h3>
					<div class="divider" aria-hidden="true"></div>
				</div>
				<div class="guide-card__content">
					<div class="list">
						<div class="list__item">
							<p class="text bullet bullet--type2 light">고객에게 행동을 요청하는 당부 표현은 늘어지는 표현 없이 ‘~해주세요’ 형태로 간결하게 표현합니다.</p>
						</div>
						<div class="list__item">
							<p class="text bullet bullet--type2 light">‘양해 바랍니다’, ‘부탁드립니다’, ‘죄송합니다’ 등 사과의 표현은 고객에게 큰 피해를 주었거나 고객이 큰 불편을 감수해야 할 때만 사용합니다.</p>
						</div>
						<div class="list__item">
							<p class="text bullet bullet--type2 light">사과, 양해 표현을 꼭 써야 하는 상황이 아닌데도 습관적으로 자주 사용하면 기업 신뢰도에 나쁜 영향을 주므로 주의합니다.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="table-row fixed">
			<table class="table left">
				<colgroup>
					<col style="width:160px"/>
					<col style="width:*"/>
					<col style="width:*"/>
				</colgroup>
				<thead>
					<tr>
						<th aria-hidden="true"></th>
						<th>
							<span>이렇게 쓰지 마세요<i class="ic ic-x--type2" aria-hidden="true"></i>
							</span>
						</th>
						<th>
							이렇게 쓰세요<i class="ic ic-o--type2" aria-hidden="true"></i>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="center">당부 표현</td>
						<td>
							<div class="list list--type4">
								<div class="list__item">
									<p class="text light">
										증빙서류 등을 지참하시어 영업점에
										<span class="red">방문해 주시기 바랍니다</span>.
									</p>
								</div>
								<div class="list__item">
									<p class="text light">
										계약체결전 연회비등 상세사항은 반드시 상품설명서 및 약관을
										<span class="red">확인하시기 바랍니다</span>.
									</p>
								</div>
							</div>
						</td>
						<td>
							<div class="list list--type4">
								<div class="list__item">
									<p class="text light">
										증빙서류 등을 지참해 영업점에
										<span class="blue">방문해주세요</span>.
									</p>
								</div>
								<div class="list__item">
									<p class="text light">
										계약체결 전 연회비 등 상세사항은 반드시 상품설명서 및 약관을
										<span class="blue">확인해주세요</span>.
									</p>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td class="center">사과 표현</td>
						<td>
							<div class="list list--type4">
								<div class="list__item">
									<p class="text light">
										정보 확인이 지연되고 있습니다.
										<span class="red">이용에 불편을 드려 죄송합니다</span>.
									</p>
								</div>
								<div class="list__item">
									<p class="text light">
										고객님
										<span class="red">죄송합니다</span>. 만 19세 이상 내국인만 신청 가능합니다.
									</p>
								</div>
							</div>
						</td>
						<td>
							<div class="list list--type4">
								<div class="list__item">
									<p class="text light">
										정보를 확인하고 있습니다.
										<span class="blue">잠시만 기다려주세요</span>.
									</p>
								</div>
								<div class="list__item">
									<p class="text light">
										만 19세 이상 내국인만 신청할 수 있습니다.
									</p>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td class="center">양해/부탁 표현</td>
						<td>
							<div class="list list--type4">
								<div class="list__item">
									<p class="text light">
										자세한 내용은 응모페이지를
										<span class="red">확인 부탁드립니다</span>.
									</p>
								</div>
								<div class="list__item">
									<p class="text light">
										중단 일시는 작업 사정에 따라 변경될 수 있으니
										<span class="red">양해 부탁드립니다</span>.
									</p>
								</div>
								<div class="list__item">
									<p class="text light">
										대출 진행이 불가한 점에 대해
										<span class="red">깊은 양해 말씀 드립니다</span>.
									</p>
								</div>
							</div>
							<span class="authorship">* 이유 없이 사과만 하는 것 지양</span>
						</td>
						<td>
							<div class="list list--type4">
								<div class="list__item">
									<p class="text light">
										자세한 내용은 응모페이지를
										<span class="blue">확인해주세요</span>.
									</p>
								</div>
								<div class="list__item">
									<p class="text light">
										중단 시기는 작업 사정에 따라 변경될 수 있으니
										<span class="blue">참고해주세요</span>.
									</p>
								</div>
								<div class="list__item">
									<p class="text light">
										심사 결과 고객님은
										<span class="blue">대출대상이 아닙니다</span>.
									</p>
								</div>
								<div class="list__item">
									<p class="text light">
										직장인 신용대출은 재직
										<span class="blue">6개월 이상의 급여소득자만 신청할 수 있습니다</span>.
									</p>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<!-- //여기서 부터 복사해서 사용하세요 -->
{% endblock %}
{% block scripts %}{% endblock %}
