{% set title = '신한 UX라이팅 시스템 | 대출용어' %}
{% extends '../templates/uxw_guide_layout.njk' %}
{% block guide %}
	<!-- 여기서 부터 복사해서 사용하세요 -->
	<section class="guide-content" id="Loan_Term">
		<div class="guide-card-wrap">
			<div class="guide-card">
				<div class="guide-card__head">
					<h3>대출 용어</h3>
					<div class="divider" aria-hidden="true"></div>
				</div>
				<div class="guide-card__content">
					<div class="list">
						<div class="list__item">
							<p class="text bullet bullet--type2 light">혼용해서 쓰는 대출 관련 용어는 하나로 통일해 씁니다.</p>
						</div>
						<div class="list__item">
							<p class="text bullet bullet--type2 light">뜻을 알기 어려운 대출 관련 용어는 되도록 쉬운 용어로 풀어서 씁니다.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="table-row fixed">
			<table class="table left">
				<thead>
					<tr>
						<th>기존 용어</th>
						<th class="blue">개선 용어</th>
						<th>기존 용어</th>
						<th class="blue">개선 용어</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>대출실행</td>
						<td class="blue">대출금 받기*</td>
						<td>소득, 연소득, 연간소득</td>
						<td class="blue">연소득</td>
					</tr>
					<tr>
						<td>나중에 실행</td>
						<td class="blue">나중에 대출금 받기</td>
						<td>신용등급, 신용평점, 개인신용등급</td>
						<td class="blue">신용점수</td>
					</tr>
					<tr>
						<td>대출관리 희망점</td>
						<td class="blue">대출관리 영업점</td>
						<td>신용변동</td>
						<td class="blue">신용점수 변동</td>
					</tr>
					<tr>
						<td>연기문서, 대출 연기 서류</td>
						<td class="blue">대출연기 서류</td>
						<td>임대차 계약서</td>
						<td class="blue">전월세계약서</td>
					</tr>
					<tr>
						<td>신청금액</td>
						<td class="blue">대출 신청금액</td>
						<td>임차보증금, 전세금</td>
						<td class="blue">전월세보증금</td>
					</tr>
					<tr>
						<td>승인금액, 승인대출금액</td>
						<td class="blue">대출 승인금액</td>
						<td>선순위 설정금액</td>
						<td class="blue">- (근)저당권 등 설정금액</td>
					</tr>
					<tr>
						<td>마이너스 대출, 마이너스 통장, 유동성 대출</td>
						<td class="blue">마이너스 통장</td>
						<td>이자 자동이체일자, 자동이체일</td>
						<td class="blue">대출이자 자동이체일</td>
					</tr>
					<tr>
						<td rowspan="4">
							금리, 신청금리, 예상금리, 최저금리,<br/>
							적용금리, 예상최저금리,<br/>
							대출 적용금리
						</td>
						<td class="blue">최저 대출금리(대출신청 전)</td>
						<td>이자이체일, 이자이체일자, 이자납입일</td>
						<td class="blue">이자납부일</td>
					</tr>
					<tr>
						<td class="blue">예상 대출금리(대출신청 완료 후)</td>
						<td>거치기간</td>
						<td class="blue">이자만 납부하는 기간</td>
					</tr>
					<tr>
						<td class="blue">승인 대출금리(대출승인 후)</td>
						<td>만기일자, 만기날짜, 대출만기일</td>
						<td class="blue">대출만기일</td>
					</tr>
					<tr>
						<td class="blue">대출금리(대출실행 후)</td>
						<td>증빙서류</td>
						<td class="blue">확인서류</td>
					</tr>
					<tr>
						<td>최대한도, 최고한도</td>
						<td class="blue">최대 대출한도</td>
						<td>선납</td>
						<td class="blue">우선납부</td>
					</tr>
					<tr>
						<td>대출한도, 예상 대출한도, 가능한도</td>
						<td class="blue">예상 대출한도(한도조회 완료 화면)</td>
						<td>기한연장</td>
						<td class="blue">대출연기, 대출연기 신청</td>
					</tr>
					<tr>
						<td>금리물</td>
						<td class="blue">대출금리 종류</td>
						<td>인출일</td>
						<td class="blue">출금일</td>
					</tr>
				</tbody>
			</table>
		</div>

		<h2 class="guide-title">대출 용어(문장예시)</h2>

		<div class="table-row fixed">
			<table class="table left">
				<colgroup>
					<col style="width:*"/>
					<col style="width:*"/>
				</colgroup>
				<thead>
					<tr>
						<th>
							<span>이렇게 쓰지 마세요<i class="ic ic-x--type2" aria-hidden="true"></i>
							</span>
						</th>
						<th>
							이렇게 쓰세요<i class="ic ic-o--type2" aria-hidden="true"></i>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<span class="red">대출실행</span>
							이 제한될 수 있습니다.
						</td>
						<td>
							<span class="blue">대출금 받기</span>가 제한될 수 있습니다.
						</td>
					</tr>
					<tr>
						<td>
							<span class="red">신용등급</span>에 따라 다를 수 있습니다.
						</td>
						<td>
							<span class="blue">신용점수</span>에 따라 다를 수 있습니다.
						</td>
					</tr>
					<tr>
						<td>
							신한은행 대출 상품의
							<span class="red">예상한도, 예상금리</span>
							조회 중입니다.
						</td>
						<td>
							신한은행 대출상품의
							<span class="blue">예상 대출한도</span>와
							<span class="blue">예상 대출금리</span>를 조회하고 있어요.
						</td>
					</tr>
					<tr>
						<td>
							<span class="red">증빙서류</span>를 준비하시어 인근 신한은행 영업점에서 처리하여 주시기 바랍니다.
						</td>
						<td>
							<span class="blue">확인서류</span>를 준비해 가까운 신한은행 영업점에 방문해주세요.
						</td>
					</tr>
					<tr>
						<td>
							<span class="red">기한 연장</span>
							시 대출금액, 기간, 금리 등을 반드시 확인해주세요.
						</td>
						<td>
							<span class="blue">대출연기 신청</span>
							시 대출금액, 기간, 금리 등을 반드시 확인해주세요.
						</td>
					</tr>
					<tr>
						<td>
							<span class="red">신용변동</span>
							등으로 대출이 취소되거나 다른 대출신청 시 영향이 있을 수 있으니, 바로 신청해주세요.
						</td>
						<td>
							<span class="blue">신용점수 변동</span>
							등으로 대출이 취소되거나 다른 대출신청 시 영향이 있을 수 있으니, 바로 대출금을 받아주세요.
						</td>
					</tr>
					<tr>
						<td>
							알림 서비스는
							<span class="red">이자 납입일</span>5일 전에 안내 드립니다.
						</td>
						<td>
							<span class="blue">이자납부</span>일 5일 전에 문자메시지로 알려드립니다.
						</td>
					</tr>
					<tr>
						<td>
							전월 대출이자
							<span class="red">인출일부터 이번달</span>
							이자 계산 기준일 전일 기준입니다.
						</td>
						<td>
							지난달 대출이자
							<span class="blue">출금일부터 이번달</span>
							이자계산 기준일 전날 기준입니다.
						</td>
					</tr>
					<tr>
						<td>
							대출 신청 진행 전,
							<span class="red">임대차 계약서</span>를 준비해 주세요.
						</td>
						<td>
							대출 신청 전,
							<span class="blue">전월세계약서</span>를 준비해주세요.
						</td>
					</tr>
					<tr>
						<td>
							원금분할상환대출의 경우 원금 일부 상환 시 분할상환
							<span class="red">회차의 선납</span>으로 처리됩니다.
						</td>
						<td>
							원금분할상환대출의 경우, 원금 일부를 상환하면 분할상환
							<span class="blue">회차로 우선납부</span>됩니다.
						</td>
					</tr>
					<tr>
						<td>
							대출 기한연기 내용을 확인하신 후
							<span class="red">연기문서</span>
							작성 진행하시기 바랍니다.
						</td>
						<td>
							대출 기한연기 내용을 확인 후
							<span class="blue">대출연기 서류</span>
							를 작성해주세요.
						</td>
					</tr>
					<tr>
						<td>
							<span class="red">거치기간</span>을 제외한 기간동안 매 일정기간마다 원금을 균등분할 상환하는 방법입니다.
						</td>
						<td>
							<span class="blue">이자만 납부하는 기간</span>을 제외한 기간 동안 매 일정기간마다 원금을 균등분할해 상환하는 방법입니다.
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<p class="authorship authorship--type4">
			’대출실행’ 단독 용어인 경우만 해당. 대출실행과 다른 용어가 합쳐진 경우 ‘대출실행’ 유지 예) 대출실행일, 대출실행 가능시간 (O) / 대출금 받는날, 대출금받기 가능시간 (X)
		</p>

	</section>
	<!-- //여기서 부터 복사해서 사용하세요 -->
{% endblock %}
{% block scripts %}{% endblock %}
