{% set title = '신한 UX라이팅 시스템 | 레이블(상품/서비스 메뉴)' %}
{% extends '../templates/uxw_guide_layout.njk' %}
{% block guide %}
	<!-- 여기서 부터 복사해서 사용하세요 -->
	<div class="guide-content">
		<div class="guide-card-wrap">
			<div class="guide-card">
				<div class="guide-card__head">
					<h3>레이블(상품/서비스 메뉴)</h3>
					<div class="divider" aria-hidden="true"></div>
					<p class="guide-card__sub">상품/서비스 메뉴의 이름은 다음을 기준으로 씁니다.</p>
				</div>

				<div class="guide-card__content">
					<hrgroup class="guide-sub-title">타이틀 레이블</hrgroup>
					<div class="list">
						<div class="list__item">
							<p class="text bullet bullet--type2 light">‘~하기’ 형태를 포함해
								<span class="bold mgl4 mgr4">명사형으로 간결하게</span>
								씁니다.
							</p>
						</div>
						<div class="list__item">
							<p class="text bullet bullet--type2 light">되도록
								<span class="red bold mgl4">5글자 이내</span>로 씁니다.
							</p>
						</div>
					</div>

					<hrgroup class="guide-sub-title">상품/서비스 레이블</hrgroup>
					<div class="list">
						<div class="list__item">
							<p class="text bullet bullet--type2 light">고객 누구나 이해할 수 있는 대표적인 명칭을 씁니다.
							</p>
						</div>
						<div class="list__item">
							<p class="text bullet bullet--type2 light">
								<span class="red bold">5글자 이내</span>로 쓰고, 2개 이상을 같이 표현할 경우 빗금(/)으로 구분해 모두 붙여 씁니다.
							</p>
						</div>
					</div>
					<div class="guide-example">
						<div class="guide-example-list">
							<label class="label-ct--type6">예시</label>
							<p>예적금/청약, 골드/실버
							</p>
						</div>
					</div>

					<div class="list">
						<div class="list__item">
							<p class="text bullet bullet--type2 light">한글을 우선으로 쓰되, 상품명이 대중적으로 사용되는 영어 표기인 경우, 외국어 단독표기를 허용합니다.
							</p>
						</div>
						<div class="list__item">
							<p class="text bullet bullet--type2 light">글자 수 제한이 따르므로, 보조할 수 있는 직관적인 아이콘을 함께 사용합니다.
							</p>
						</div>
						<div class="list__item">
							<p class="text bullet bullet--type2 light">다른 해석의 여지가 있는 표현이나 수식어는 사용하지 않습니다.
							</p>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<!-- 여기서 부터 복사해서 사용하세요 -->
{% endblock %}
{% block scripts %}{% endblock %}
