{% set title = '신한 UX라이팅 시스템 | 링크 버튼' %}
{% extends '../templates/uxw_guide_layout.njk' %}
{% block guide %}
	<!-- 여기서 부터 복사해서 사용하세요 -->
	<div class="guide-content">
		<div class="guide-card-wrap">
			<div class="guide-card">
				<div class="guide-card__head">
					<h3>링크 버튼</h3>
					<div class="divider" aria-hidden="true"></div>
					<p class="guide-card__sub">텍스트 레이블만으로 구성된 버튼을 사용할 경우 다음 기준을 따릅니다.</p>
				</div>

				<div class="guide-card__content">
					<div class="list">
						<div class="list__item">
							<p class="text bullet bullet--type2 light">‘~하기’ 형태를 기본형으로 씁니다.
							</p>
						</div>
						<div class="list__item">
							<p class="text bullet bullet--type2 light">
								<span class="bold">최대 12글자 이내</span>로 씁니다.
							</p>
						</div>
						<div class="list__item">
							<p class="text bullet bullet--type2 light">단, 글자 수가 7자 이상일 경우 ‘~하기’를 빼고 씁니다.
							</p>
						</div>
					</div>
					<div class="guide-example">
						<div class="guide-example-list">
							<label class="label-ct--type6">예시</label>
							<p class="mgl-none">
								<span>
									비밀번호 재등록, 변경하기
									<i class="ic ic-o--type2" aria-hidden="true"></i>
								</span>
								<span>
									비밀번호 재등록하기
									<i class="ic ic-x--type2" aria-hidden="true"></i>
								</span>
							</p>
						</div>
					</div>
					<div class="list">
						<div class="list__item">
							<p class="text bullet bullet--type2 light">‘더보기’, ‘자세히보기’ 링크 버튼은 모두 붙여 씁니다.
							</p>
						</div>
						<div class="list__item">
							<p class="text bullet bullet--type2 light">질문형은 1인칭 시점으로 씁니다.
							</p>
						</div>
						<div class="list__item">
							<p class="text bullet bullet--type2 light">일상적 표현을 사용해 고객과 공감 요소를 만듭니다.
							</p>
						</div>
						<div class="list__item">
							<p class="text bullet bullet--type2 light">‘~면?’, ‘~란?’, ‘~ㄹ까?’의 형태로 간결하게 씁니다.
							</p>
						</div>
					</div>
					<div class="guide-example">
						<div class="guide-example-list">
							<label class="label-ct--type6">예시</label>
							<p class="mgl-none">
								<span>
									내 MBTI는 뭘까?, 비밀번호를 잊었다면?
									<i class="ic ic-o--type2" aria-hidden="true"></i>
								</span>
								<span>
									최근에 고객님 휴대폰번호가 변경되셨나요?
									<i class="ic ic-x--type2" aria-hidden="true"></i>
								</span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //여기서 부터 복사해서 사용하세요 -->

{% endblock %}
{% block scripts %}{% endblock %}
