{% set title = '신한 UX라이팅 시스템 | 메인바텀시트배너' %}
{% extends '../templates/uxw_guide_layout.njk' %}
{% block guide %}
  <!-- 여기서 부터 복사해서 사용하세요 -->
  <div class="box--type4">
    <div class="box__head">
      <div class="box__title">
        <h4>메인 바텀시트배너 예시</h4>
      </div>
      <div class="box__title">
        <h4>글자수 기준</h4>
      </div>
    </div>
    <div class="box__content">
      <div class="box__row">
        <div class="box__column">
          <figure>
            <img src="/res/images/guide/gd_sample05.png" />
          </figure>
          <div class="list center">
            <div class="list__item">
              <p class="text bullet medium">간략형</p>
            </div>
          </div>
        </div>
        <div class="box__column">
          <figure>
            <img src="/res/images/guide/gd_sample06.png" />
          </figure>
          <div class="list">
            <div class="list__item">
              <label class="label-ct--type5">1</label>
              <p class="text">서브 카피 : 최대 1줄, 한글 20자 (40 Byte)</p>
            </div>
            <div class="list__item">
              <label class="label-ct--type5">2</label>
              <p class="text">메인 카피 : 최대 2줄, 한 줄당 한글 12자 (24 Byte)</p>
            </div>
          </div>
        </div>
      </div>
      <div class="box__row">
        <div class="box__column">
          <figure>
            <img src="/res/images/guide/gd_sample07.png" />
          </figure>
          <div class="list center">
            <div class="list__item">
              <p class="text bullet medium">상세형</p>
            </div>
          </div>
        </div>
        <div class="box__column">
          <figure>
            <img src="/res/images/guide/gd_sample08.png" />
          </figure>
          <div class="list">
            <div class="list__item">
              <label class="label-ct--type5">1</label>
              <p class="text">메인 카피 : 최대 2줄, 한 줄당 한글 12자 (24 Byte)</p>
            </div>
            <div class="list__item">
              <label class="label-ct--type5">2</label>
              <p class="text">서브 카피 : 최대 1줄, 한글 20자 (40 Byte)</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- //여기서 부터 복사해서 사용하세요 -->
{% endblock %}
{% block scripts %}

{% endblock %}
