{% set title = '신한 UX라이팅 시스템 | 메인상단배너' %}
{% extends '../templates/uxw_guide_layout.njk' %}
{% block guide %}
  <div class="box--type4">
    <div class="box__head">
      <div class="box__title">
        <h4>메인 상단배너 예시</h4>
      </div>
      <div class="box__title">
        <h4>글자수 기준</h4>
      </div>
    </div>
    <div class="box__content">
      <div class="box__row">
        <div class="box__column">
          <figure>
            <img src="/res/images/guide/gd_sample03.png" />
          </figure>
        </div>
        <div class="box__column">
          <figure>
            <img src="/res/images/guide/gd_sample04.png" />
          </figure>
          <div class="list">
            <div class="list__item">
              <label class="label-ct--type5">1</label>
              <p class="text">서브 카피 : 한글 20자 (40 Byte)</p>
            </div>
            <div class="list__item">
              <label class="label-ct--type5">2</label>
              <p class="text">메인 카피 : 한글 17자 (34 Byte)</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block scripts %}

{% endblock %}
