{% set title = '신한 UX라이팅 시스템 | 명확하게' %}
{% extends '../templates/uxw_guide_layout.njk' %}
{% block guide %}
  <div class="guide">
    <div class="guide-visual" aria-hidden="true"></div>
    <div class="guide-head">
      <h1>명확하게</h1>
      <p>
        금융용어, 내부용어는 누구나 이해할 수 있도록 쉽게 표현합니다.<br />
        어려운 한자어는 우리말이나 더 쉬운 한자어로 씁니다.<br />
        한자, 영어를 우리말 없이 단독으로 표기하지 않습니다.<br />
        의미가 분명하지 않은 줄임말과 지시대명사를 사용하지 않습니다.
      </p>
    </div>

    <!-- section이 들어갈 영역 -->
    <!-- ... -->
    <!-- //section이 들어갈 영역 -->
  </div>
{% endblock %}
{% block scripts %}

{% endblock %}
