{% set title = '신한 UX라이팅 시스템 | 문장부호' %}
{% extends '../templates/uxw_guide_layout.njk' %}
{% block guide %}
	<!-- 여기서 부터 복사해서 사용하세요 -->
	<section class="guide-content" id="Punctuation">
		<div class="guide-card-wrap">
			<div class="guide-card">
				<div class="guide-card__head">
					<h3>문장부호</h3>
					<div class="divider" aria-hidden="true"></div>
				</div>
				<div class="guide-card__content">
					<div class="list">
						<div class="list__item">
							<p class="text bullet bullet--type2 light">문장부호는 국립국어원 한국어 어문 규범의
								<span class="bold mgl4 mgr4">&#60;한글 맞춤법 부록편 문장부호 표기법&#62;</span>을 따라 바르게 표기합니다.</p>
						</p>
					</div>
					<div class="list__item">
						<p class="text bullet bullet--type2 light">대괄호([ ]), 닫는 홑화살괄호(>), 별표(*), 참고표(※)는 원래의 표기 원칙 외로 디지털 채널의 쓰임새에 맞도록 표기법을 새롭게 약속한 문장부호입니다.
						</p>
					</div>
					<div class="list__item">
						<p class="text bullet bullet--type2 light">신한 쏠(SOL)을 비롯한 대부분의 디지털 채널에서 쓰는 공통 표기규칙이므로 일관되게 적용합니다.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="table-row fixed align-top">
		<table class="table left">
			<colgroup>
				<col style="min-width:234px"/>
				<col style="width:50%"/>
				<col style="width:50%"/>
			</colgroup>
			<thead>
				<tr>
					<th aria-hidden="true"></th>
					<th class="blue-bg">
						표기 원칙
					</th>
					<th>
						이렇게 쓰세요<i class="ic ic-o--type2" aria-hidden="true"></i>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="left">마침표( . )</td>
					<td>
						<div class="list list--type4 list--type4__smb">
							<div class="list__item">
								<p class="text light">
									문장을 끝맺을 때 표기합니다.
								</p>
							</div>
						</div>
					</td>
					<td>
						<div class="list list--type4 list--type4__smb">
							<div class="list__item">
								<p class="text light">
									영업점에 방문해 변경해주세요.
								</p>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td class="left">쉼표( , )</td>
					<td>
						<div class="list list--type4 list--type4__smb">
							<div class="list__item">
								<p class="text light">
									문장 안에서 짧게 끊어 읽을 때 표기합니다.
								</p>
							</div>
							<div class="list__item">
								<p class="text light">
									숫자의 자릿점을 나타날 때 표기합니다.
								</p>
							</div>
						</div>
					</td>
					<td>
						<div class="list list--type4 list--type4__smb">
							<div class="list__item">
								<p class="text light">
									예약일시에 출금가능금액이 부족하면, 이체할 수 없습니다.
								</p>
							</div>
							<div class="list__item">
								<p class="text light">
									2,000,000원, 5,000만원
								</p>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td class="left">빗금( / )</td>
					<td>
						<div class="list list--type4 list--type4__smb">
							<div class="list__item">
								<p class="text light">
									대응, 대립되는 단어를 나열할 때 표기합니다.
								</p>
							</div>
						</div>
					</td>
					<td>
						<div class="list list--type4 list--type4__smb">
							<div class="list__item">
								<p class="text light">
									홈페이지/모바일앱
								</p>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td class="left">소괄호(( ))</td>
					<td>
						<div class="list list--type4 list--type4__smb">
							<div class="list__item">
								<p class="text light">
									소괄호 앞은 반드시 앞 단어에 붙여 씁니다.
								</p>
							</div>
							<div class="list__item">
								<p class="text light">
									소괄호 뒤에 오는 명사는 띄어 쓰고, 조사는 붙여 씁니다.
								</p>
							</div>
						</div>
					</td>
					<td>
						<div class="list list--type4 list--type4__smb">
							<div class="list__item">
								<p class="text light">
									비밀번호 입력 오류(연속 1회, 1일 1회)입니다.
								</p>
							</div>
							<div class="list__item">
								<p class="text light">
									마감시간(LT시간) 이내에만 거래할 수 있습니다.
								</p>
							</div>
							<div class="list__item">
								<p class="text light">
									신한은행 고객센터(1599-8000)로 문의해주세요.
								</p>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td class="left">대괄호([ ])</td>
					<td>
						<div class="list list--type4 list--type4__smb">
							<div class="list__item">
								<p class="text light">
									괄호 안에 또 괄호를 쓸 필요가 있을 때 바깥쪽 괄호로 씁니다.
								</p>
							</div>
						</div>
						<span class="authorship authorship--type3">원래 표기원칙</span>
						<div class="list list--type4 list--type4__smb">
							<div class="list__item">
								<p class="text light">
									메뉴명, 버튼명, 경로 등을 눈에 띄게 표기할 때 사용하기로 약속합니다.
								</p>
							</div>
						</div>
						<span class="authorship authorship--type3">약속한 표기원칙</span>
					</td>
					<td>
						<div class="list list--type4 list--type4__smb">
							<div class="list__item">
								<p class="text light">
									[타행계좌 출금결과조회]에서 확인할 수 있습니다.
								</p>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td class="left">홑낫표(「 」)</td>
					<td>
						<div class="list list--type4 list--type4__smb">
							<div class="list__item">
								<p class="text light">
									법률 하위 항목이나 조항 등을 표시할 때 사용합니다.
								</p>
							</div>
						</div>
					</td>
					<td>
						<div class="list list--type4 list--type4__smb">
							<div class="list__item">
								<p class="text light">
									「전사서명법」 개정안 내용에 따름.
								</p>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td class="left">닫는 홑화살괄호(>)</td>
					<td>
						<div class="list list--type4 list--type4__smb">
							<div class="list__item">
								<p class="text light">
									홑화살괄호( < , > )는 소제목, 그림, 노래와 같은 예술작품의 제목, 상호, 법률, 규정 등을 나타낼 때 씁니다.
								</p>
							</div>
						</div>
						<span class="authorship authorship--type3">원래 표기원칙</span>
						<div class="list list--type4 list--type4__smb">
							<div class="list__item">
								<p class="text light">
									이동 경로를 표시할 때 닫는 홑화살괄호( > )로 표기하고, 앞뒤로 띄어 씁니다.
								</p>
							</div>
						</div>
						<span class="authorship authorship--type3">약속한 표기원칙</span>
					</td>
					<td>
						<div class="list list--type4 list--type4__smb">
							<div class="list__item">
								<p class="text light">
									[금융서비스 > 법원업무 > 계좌환급 조회]를 이용해주세요.
								</p>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td class="left">작은 따옴표(‘ ’)</td>
					<td>
						<div class="list list--type4 list--type4__smb">
							<div class="list__item">
								<p class="text light">
									문장 안에서 구분하거나 강조하는 어구를 묶을 때 표기합니다.
								</p>
							</div>
						</div>
					</td>
					<td>
						<div class="list list--type4 list--type4__smb">
							<div class="list__item">
								<p class="text light">
									‘홈택스’를 이용해주세요.
								</p>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td class="left">큰 따옴표(“ ”)</td>
					<td>
						<div class="list list--type4 list--type4__smb">
							<div class="list__item">
								<p class="text light">
									대화, 말, 문구 등을 인용할 때 표기합니다.
								</p>
							</div>
						</div>
					</td>
					<td>
						<div class="list list--type4 list--type4__smb">
							<div class="list__item">
								<p class="text light">
									“지금 입력해주세요”라는 ARS 안내 음성에 맞춰 진행해주세요.
								</p>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td class="left" rowspan="2">쌍점( : )</td>
					<td>
						<div class="list list--type4 list--type4__smb">
							<div class="list__item">
								<p class="text light">
									뒤에 구체적인 내용을 열거하거나 설명을 덧붙일 때 표기합니다.
								</p>
							</div>
						</div>
						<span class="authorship authorship--type3">앞말에 붙여 쓰고 뒤는 띄어 씀</span>
					</td>
					<td>
						<div class="list list--type4 list--type4__smb">
							<div class="list__item">
								<p class="text light">
									건별 포인트 적립률: 0.2%
								</p>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="list list--type4 list--type4__smb">
							<div class="list__item">
								<p class="text light">
									시간을 나타낼 때 시와 분 사이에 붙여 표기합니다.
								</p>
							</div>
						</div>
					</td>
					<td>
						<div class="list list--type4 list--type4__smb">
							<div class="list__item">
								<p class="text light">
									변경 예정일 17:30까지
								</p>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td class="left" rowspan="2">물결표(~)</td>
					<td>
						<div class="list list--type4 list--type4__smb">
							<div class="list__item">
								<p class="text light">
									기간, 거리, 범위를 나타낼 때 앞뒤 말에 붙여 표기합니다.
								</p>
							</div>
						</div>
					</td>
					<td>
						<div class="list list--type4 list--type4__smb">
							<div class="list__item">
								<p class="text light">
									신청기간: 2022.01.07~03.06
								</p>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="list list--type4 list--type4__smb">
							<div class="list__item">
								<p class="text light">
									특정 단위(%, 금액, 날짜, 나이 등)와 함께 쓸 때 단위는 뒤에 한 번만 표기합니다.
								</p>
							</div>
							<div class="list__item">
								<p class="text light">
									‘~부터 ~까지’라는 의미를 포함하는 문장부호이므로 물결표 다음 말에 ‘까지’를 덧붙이지 않습니다.
								</p>
							</div>
						</div>
					</td>
					<td>
						<div class="list list--type4 list--type4__smb">
							<div class="list__item">
								<p class="text light">
									최근 4~5개월
								</p>
							</div>
							<div class="list__item">
								<p class="text light">
									적용 금리: 연 2.5~3.6%
								</p>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td class="left">붙임표(-)</td>
					<td>
						<div class="list list--type4 list--type4__smb">
							<div class="list__item">
								<p class="text light">
									전화번호 등 차례대로 이어지는 내용을 묶어 나열할 때 표기합니다.
								</p>
							</div>
						</div>
					</td>
					<td>
						<div class="list list--type4 list--type4__smb">
							<div class="list__item">
								<p class="text light">
									고객센터: 1599-8000
								</p>
							</div>
							<div class="list__item">
								<p class="text light">
									010-1234-5678
								</p>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td class="left">별표(*)</td>
					<td>
						<div class="list list--type4 list--type4__smb">
							<div class="list__item">
								<p class="text light">
									별도 참고정보를 전달할 때 문구 앞에 표기합니다. 별표(*) 뒤에 오는 문구는 반드시 서술형 종결로 마칩니다.
								</p>
							</div>
						</div>
						<span class="authorship authorship--type3">별표는 별도의 표기 원칙이 없어 약속한 표기원칙으로 적용함</span>
					</td>
					<td>
						<div class="list list--type4 list--type4__smb">
							<div class="list__item">
								<p class="text light">
									신한은행에 등록된 휴대폰번호가 없습니다.
								</p>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td class="left">참고표(※)</td>
					<td>
						<div class="list list--type4 list--type4__smb">
							<div class="list__item">
								<p class="text light">
									‘알아두세요’에서 별도 중요정보를 전달할 때 문구 앞에 표기합니다. 참고표(※) 뒤에 오는 문구는 반드시 서술형 종결로 마칩니다.
								</p>
							</div>
						</div>
						<span class="authorship authorship--type3">참고표는 별도의 표기 원칙이 없어 약속한 표기원칙으로 적용함</span>
					</td>
					<td>
						<div class="list list--type4 list--type4__smb">
							<div class="list__item">
								<p class="text light">
									중도해지 시 이자율이 달라질 수 있으니 주의해주세요.
								</p>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>
<!-- //여기서 부터 복사해서 사용하세요 -->{% endblock %}{% block scripts %}{% endblock %}
