{% set title = '신한 UX라이팅 시스템 | 배려하는 톤' %}
{% extends '../templates/uxw_guide_layout.njk' %}
{% block guide %}
	<!-- 여기서 부터 복사해서 사용하세요 -->
	<section class="guide-content" id="Caring">
		<div class="guide-card-wrap">
			<div class="guide-card">
				<div class="guide-card__head">
					<h3>배려하는 톤(Caring)</h3>
					<div class="divider" aria-hidden="true"></div>
				</div>
				<div class="guide-card__content">
					<div class="list">
						<div class="list__item">
							<p class="text bullet bullet--type2 light">고객 관점으로 생각하고, 고객에게 공감하고 배려하는 언어로 표현합니다.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="table-row fixed">
			<table class="table left">
				<thead>
					<tr>
						<th>
							<span>이렇게 쓰세요<i class="ic ic-o--type2" aria-hidden="true"></i>
							</span>
						</th>
						<th>
							이렇게 쓰지 마세요<i class="ic ic-x--type2" aria-hidden="true"></i>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>고객이 주체가 되는 능동적이고 긍정적인 표현</td>
						<td>지시적, 사무적, 권위적인 표현</td>
					</tr>
					<tr>
						<td>고객 관점의 용어 사용과 눈높이에 맞는 쉬운 설명</td>
						<td>해결책 없이 불편상태만 알리는 일방적인 표현</td>
					</tr>
					<tr>
						<td>고객의 불편을 고려해 해결책을 분명하게 제시</td>
						<td>실패, 불가능 등의 가치판단이나 강한 부정 표현</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="guide-bar">
			<i class="guide-arrow guide-arrow-first" aria-hidden="true"></i>
			<span class="guide-bar-list">사무적인｜부정적인</span>
			<span class="guide-bar-list">딱 맞아요!</span>
			<span class="guide-bar-list">무심한｜무례한</span>
			<i class="guide-arrow guide-arrow-last" aria-hidden="true"></i>
		</div>

		<div class="guide-grid">
			<div class="guide-grid__row">
				<div class="guide-grid__col guide-grid__col-ct">
					이체를 중단하시겠습니까?<br/>
					입력하신 정보는 초기화됩니다.
				</div>
				<div class="guide-grid__col guide-grid__col-ct">
					이체를 중단하면 입력한 정보가<br/>
					삭제됩니다.<br/>
					이체를 중단하시겠어요?
				</div>
				<div class="guide-grid__col guide-grid__col-ct">
					이체를 중단할까요?<br/>
					중단 시 입력정보 복구 불가합니다.
				</div>
			</div>
			<div class="guide-grid__row">
				<div class="guide-grid__col guide-grid__col-des"></div>
				<div class="guide-grid__col guide-grid__col-des">
					<div class="list">
						<div class="list__item">
							<p class="text bullet bullet--type3 medium">고객에게 상황/이유를 설명한 후 의사를 확인합니다.</p>
						</div>
					</div>
				</div>
				<div class="guide-grid__col guide-grid__col-des"></div>
			</div>

			<div class="guide-grid__row">
				<div class="guide-grid__col guide-grid__col-ct">
					인증서가 곧 만료됩니다.<br/>
					사전에 재발급업무를 진행하세요.
				</div>
				<div class="guide-grid__col guide-grid__col-ct">
					인증서가 곧 만료됩니다.<br/>
					미리 재발급해주세요.
				</div>
				<div class="guide-grid__col guide-grid__col-ct">인증서 만료 전 재발급하세요.</div>
			</div>

			<div class="guide-grid__row">
				<div class="guide-grid__col guide-grid__col-des"></div>
				<div class="guide-grid__col guide-grid__col-des">
					<div class="list">
						<div class="list__item">
							<p class="text bullet bullet--type3 medium">기업 관점 표현은 고객 관점으로 바꿔 사용합니다.</p>
						</div>
					</div>
				</div>
				<div class="guide-grid__col guide-grid__col-des"></div>
			</div>

			<div class="guide-grid__row">
				<div class="guide-grid__col guide-grid__col-ct">
					선택하신 계좌는 출금거래가<br/>
					불가능합니다.
				</div>
				<div class="guide-grid__col guide-grid__col-ct">
					출금할 수 없는 계좌입니다.<br/>
					다른 계좌를 이용해주세요.
				</div>
				<div class="guide-grid__col guide-grid__col-ct">선택 계좌 출금거래 불가</div>
			</div>

			<div class="guide-grid__row">
				<div class="guide-grid__col guide-grid__col-des"></div>
				<div class="guide-grid__col guide-grid__col-des">
					<div class="list">
						<div class="list__item">
							<p class="text bullet bullet--type3 medium">불가능’과 같은 강한 부정의 어휘를 사용하지 않고 말합니다.</p>
						</div>
					</div>
				</div>
				<div class="guide-grid__col guide-grid__col-des"></div>
			</div>
		</div>

		<div class="legend">
			<div class="legend__item">
				<label class="label">가</label>
				<span class="text">신한 쏠(SOL)</span>
			</div>
			<div class="legend__item">
				<label class="label label--blue">가</label>
				<span class="text">개선 예시</span>
			</div>
		</div>
	</section>
	<!-- //여기서 부터 복사해서 사용하세요 -->
{% endblock %}
{% block scripts %}{% endblock %}
