{% set title = '신한 UX라이팅 시스템 | 버전명, OS' %}
{% extends '../templates/uxw_guide_layout.njk' %}
{% block guide %}
	<!-- 여기서 부터 복사해서 사용하세요 -->
	<div class="guide-content">
		<div class="guide-card-wrap">
			<div class="guide-card">
				<div class="guide-card__head">
					<h3>버전명, OS</h3>
					<div class="divider" aria-hidden="true"></div>
				</div>
				<div class="guide-card__content">
					<div class="list">
						<div class="list__item">
							<p class="text bullet bullet--type2 light">아래를 참고하여 표기를 혼용하지 않고 바르고 일관되게 씁니다.</p>
						</div>
						<div class="list__item">
							<p class="text bullet bullet--type2 light">버전을 나타내는 숫자 표기 뒤에 버전이라고 한글로 별도 표기하지 않습니다.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="table-row fixed align-top">
			<table class="table left">
				<colgroup>
					<col style="min-width:140px"/>
					<col style="width:50%"/>
					<col style="width:50%"/>
				</colgroup>
				<thead>
					<tr>
						<th aria-hidden="true"></th>
						<th>
							이렇게 쓰지 마세요<i class="ic ic-x--type2" aria-hidden="true"></i>
						</th>
						<th>
							이렇게 쓰세요<i class="ic ic-o--type2" aria-hidden="true"></i>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="center">
							모바일 운영체제
						</td>
						<td>
							<div class="list list--type4 list--type4__smb">
								<div class="list__item">
									<p class="text light">
										Ios, IOS, ios
									</p>
								</div>
								<div class="list__item">
									<p class="text light">
										AOS, aos, 안드로이드OS
									</p>
								</div>
								<div class="list__item">
									<p class="text light">
										Android XX.X Version 이상, 안드로이드 XX.X 버전 이상
									</p>
								</div>
							</div>
						</td>
						<td>
							<div class="list list--type4 list--type4__smb">
								<div class="list__item">
									<p class="text light">
										iOS
									</p>
								</div>
								<div class="list__item">
									<p class="text light">
										안드로이드
									</p>
								</div>
								<div class="list__item">
									<p class="text light">
										안드로이드 XX.X 이상
									</p>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td class="center">
							PC 운영체제
						</td>
						<td>
							<div class="list list--type4 list--type4__smb">
								<div class="list__item">
									<p class="text light">
										윈도우, window
									</p>
								</div>
								<div class="list__item">
									<p class="text light">
										Windows 10 버전
									</p>
								</div>
							</div>
						</td>
						<td>
							<div class="list list--type4 list--type4__smb">
								<div class="list__item">
									<p class="text light">
										윈도우
									</p>
								</div>
								<div class="list__item">
									<p class="text light">
										윈도우 10
									</p>
								</div>
							</div>
							<span class="authorship authorship--type3">윈도즈가 표준 외래어 표기이나 범용적으로 쓰이는 표기로 통일함</span>
						</td>
					</tr>
					<tr>
						<td class="center">
							웹 브라우저
						</td>
						<td>
							<div class="list list--type4 list--type4__smb">
								<div class="list__item">
									<p class="text light">
										Internet Explorer, Chrome, Safari, FireFox
									</p>
								</div>
								<div class="list__item">
									<p class="text light">
										IE 11 버전
									</p>
								</div>
							</div>
						</td>
						<td>
							<div class="list list--type4 list--type4__smb">
								<div class="list__item">
									<p class="text light">
										인터넷 익스플로러, 크롬, 사파리, 파이어폭스
									</p>
								</div>
								<div class="list__item">
									<p class="text light">
										<span class="blue">인터넷 익스플로러 11</span>
									</p>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="table-row fixed">
			<table class="table left">
				<colgroup>
					<col style="width:50%"/>
					<col style="width:50%"/>
				</colgroup>
				<thead>
					<tr>
						<th>
							이렇게 쓰지 마세요<i class="ic ic-x--type2" aria-hidden="true"></i>
						</th>
						<th>
							이렇게 쓰세요<i class="ic ic-o--type2" aria-hidden="true"></i>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<span class="red">IOS</span>
							및
							<span class="red">안드로이드OS</span>에서 이용할 수 있습니다.
						</td>
						<td>
							<span class="blue">iOS</span>
							및
							<span class="blue">안드로이드</span>에서 이용할 수 있습니다.
						</td>
					</tr>
					<tr>
						<td>
							<span class="red">Android 9.0 버전</span>
							이상에서 지원되는 기능입니다.
						</td>
						<td>
							<span class="blue">안드로이드 9.0</span>
							이상에서 지원되는 기능입니다.
						</td>
					</tr>
					<tr>
						<td>
							<span class="red">Chrome, Safari, FireFox, IE 11 버전</span>
							에 최적화되어 있습니다.
						</td>
						<td>
							<span class="blue">크롬, 파이어폭스, 인터넷 익스플로러 11</span>에 최적화되어 있습니다.
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<!-- //여기서 부터 복사해서 사용하세요 -->
{% endblock %}
{% block scripts %}{% endblock %}
