{% set title = '신한 UX라이팅 시스템 | 버튼(multiple)' %}
{% extends '../templates/uxw_guide_layout.njk' %}
{% block guide %}
	<!-- 여기서 부터 복사해서 사용하세요 -->
	<div class="guide-content">
		<div class="guide-card-wrap">
			<div class="guide-card">
				<div class="guide-card__head">
					<h3>버튼(multiple)</h3>
					<div class="divider" aria-hidden="true"></div>
					<p class="guide-card__sub">기본 버튼(Primary Button)과 보조 버튼(Secondary Button)을
						<span class="bold mgl4 mgr4">함께 사용하는 경우</span>
						다음 기준을 따릅니다.</p>
				</div>

				<div class="guide-card__content">
					<div class="list">
						<div class="list__item">
							<p class="text bullet bullet--type2 light">최대한 간결한 명사형으로 씁니다.
							</p>
						</div>
					</div>
					<div class="guide-description bold">'~하기' 형태의 버튼을 양쪽에 나란히 쓰지 않습니다.</div>
					<div class="list">
						<div class="list__item">
							<p class="text bullet bullet--type2 light">확인 의사를 묻는 경우를 제외하고 오른쪽 버튼은 사용자 행동을 표현한 ‘액션’으로 씁니다.
							</p>
						</div>
						<div class="list__item">
							<p class="text bullet bullet--type2 light">액션은 단순 기능은 한단어로, 다음 행동을 강하게 유도할 경우에는 어절 단위로 띄어서 더 구체적으로 씁니다.
							</p>
						</div>
						<div class="list__item">
							<p class="text bullet bullet--type2 light">어절 단위로 쓸 때는
								<span class="red bold mgl4">7글자 이내, 2어절</span>로 씁니다.
							</p>
						</div>
					</div>

					<div class="guide-example">
						<div class="guide-example-list">
							<label class="label-ct--type6">예시</label>
							<dl class="liner">
								<dd class="liner-arrow">등록</dd>
								<dd class="liner-arrow">
									<span>아이디 등록<i class="ic ic-o--type2" aria-hidden="true"></i>
									</span>
								</dd>
							</dl>
						</div>
						<div class="guide-example-list">
							<label class="label-ct--type6">예시</label>
							<dl class="liner">
								<dd class="liner-arrow">재등록</dd>
								<dd class="liner-arrow">
									<span>비밀번호 재등록<i class="ic ic-o--type2" aria-hidden="true"></i>
									</span>
								</dd>
							</dl>
						</div>
					</div>

					<div class="list">
						<div class="list__item">
							<p class="text bullet bullet--type2 light">액션(실행) 버튼과 함께 사용하는 부정 버튼은 [취소], [닫기], [다음에] 등을 사용합니다.
							</p>
						</div>
						<div class="list__item">
							<p class="text bullet bullet--type2 light">닫기 기능은 [닫기], 취소 기능은 [취소], 결정을 유보할 때는 [다음에]를 사용합니다.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //여기서 부터 복사해서 사용하세요 -->

{% endblock %}
{% block scripts %}{% endblock %}
