{% set title = '신한 UX라이팅 시스템 | 버튼(single)' %}
{% extends '../templates/uxw_guide_layout.njk' %}
{% block guide %}
	<!-- 여기서 부터 복사해서 사용하세요 -->
	<section class="guide-content" id="Button_Single">
		<div class="guide-card-wrap">
			<div class="guide-card">
				<div class="guide-card__head">
					<h3>버튼(single)</h3>
					<div class="divider" aria-hidden="true"></div>
					<p class="guide-card__sub">가장 중요한 기능을 담당하는 기본 버튼(Primary Button) 1개만 사용하는 경우 다음 기준을 따릅니다.</p>
				</div>
				<div class="guide-card__content">
					<div class="list">
						<div class="list__item">
							<p class="text bullet bullet--type2 light">버튼은 명사형으로 간결하게 씁니다.</p>
						</div>
						<div class="list__item">
							<p class="text bullet bullet--type2 light">되도록
								<span class="red bold mgl4">4글자 이내의 한 단어</span>로 씁니다.</p>
						</div>
					</div>
					<div class="guide-example">
						<div class="guide-example-list">
							<label class="label-ct--type6">예시</label>
							<p>확인, 조회, 다음, 본인인증<i class="ic ic-o--type2" aria-hidden="true"></i>
							</p>
						</div>
					</div>
					<div class="list">
						<div class="list__item">
							<p class="text bullet bullet--type2 light">단, 고객 행동 유도를 위해 버튼에 구체적 정보를 담을 경우
								<span class="red bold">12글자, 4어절 이내까지 허용</span>합니다.</p>
						</div>
					</div>
					<div class="guide-description bold">[확인], [취소], [완료], [로그인], [다음에] 버튼에는 어떠한 경우에도 ‘~하기’를 붙이지 않습니다.</div>
					<div class="guide-example">
						<div class="guide-example-list">
							<label class="label-ct--type6">예시</label>
							<p>로그인하기, 확인하기, 다음에 하기
								<i class="ic ic-x--type2" aria-hidden="true"></i>
							</p>
						</div>
					</div>
					<div class="list">
						<div class="list__item">
							<p class="text bullet bullet--type2 light">가장 많이 쓰는 버튼에 ‘~하기’를 남용할 경우 간결성을 해치고, 고객행동을 유도하는 CTA 버튼과의 변별력을 잃게 됩니다.</p>
						</div>
						<div class="list__item">
							<p class="text bullet bullet--type2 light">명사형 전성 어미 ‘~하기’는 고객에게 다음 행동을 강하게 유도할 경우에만 한정적으로 사용합니다.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- 여기서 부터 복사해서 사용하세요 -->
{% endblock %}
{% block scripts %}{% endblock %}
