{% set title = '신한 UX라이팅 시스템 | 번역투' %}
{% extends '../templates/uxw_guide_layout.njk' %}
{% block guide %}
	<!-- 여기서 부터 복사해서 사용하세요 -->
	<div class="guide-content">
		<div class="guide-card-wrap">
			<div class="guide-card">
				<div class="guide-card__head">
					<h3>번역 투</h3>
					<div class="divider" aria-hidden="true"></div>
				</div>
				<div class="guide-card__content">
					<div class="list">
						<div class="list__item">
							<p class="text bullet bullet--type2 light">외국어를 우리말로 번역하면서 생기는 이질적인 문장인 ‘번역 투’는 한국어 문법에 맞지 않은 어색한 문장입니다.</p>
						</div>
						<div class="list__item">
							<p class="text bullet bullet--type2 light">번역 투 자체는 틀린 표현은 아니지만 문장을 부자연스럽고 어색하게 만드므로, 더 자연스러운 표현으로 고쳐 씁니다.</p>
						</div>
						<div class="list__item">
							<p class="text bullet bullet--type2 light">‘필요로 하는(need to)’, ‘~을/를 통해(through)’, ‘~에 대하여(about)’, ‘~에 의해(by)’, ‘가지다(have)’, ‘~들(~s)’ 등 영어 번역 투를 사용하지 않습니다.</p>
						</div>
						<div class="list__item">
							<p class="text bullet bullet--type2 light">‘~의(~の)’, ‘~에 한하여(~に限って)’, ‘~인/하는 경우(~の/する場合)’, ‘~있다(有ス, 在ル)’ 등 일본어 번역 투를 사용하지 않습니다.</p>
						</div>
						<div class="list__item">
							<p class="text bullet bullet--type2 light">‘되다/되어지다/불리는/시키다/지다’ 등 일본어 번역에서 생긴 피동형을 사용하지 않습니다.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="table-row fixed">
			<table class="table left">
				<colgroup>
					<col style="width:160px"/>
					<col style="width:420px"/>
					<col style="width:*"/>
				</colgroup>
				<thead>
					<tr>
						<th aria-hidden="true"></th>
						<th>
							<span>이렇게 쓰지 마세요<i class="ic ic-x--type2" aria-hidden="true"></i>
							</span>
						</th>
						<th>
							이렇게 쓰세요<i class="ic ic-o--type2" aria-hidden="true"></i>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="center">영어 번역 투</td>
						<td>
							<div class="list list--type4">
								<div class="list__item">
									<p class="text light">
										여권 또는 주민등록증/운전면허증
										<span class="red">촬영을 통해</span>
										신분증 확인이 가능합니다.
									</p>
								</div>
								<div class="list__item">
									<p class="text light">
										계좌비밀번호 재등록 업무는 비대면 실명확인
										<span class="red">인증이 필요합니다</span>.
									</p>
								</div>
								<div class="list__item">
									<p class="text light">
										아이디 찾기를 위해 ‘신한은행 홈페이지 회원 서비스 이용약관’ 에 동의가 필요합니다.
									</p>
								</div>
							</div>
						</td>
						<td>
							<div class="list list--type4">
								<div class="list__item">
									<p class="text light">
										여권 또는 주민등록증/운전면허증을
										<span class="blue">촬영해</span>
										신분증을 확인할 수 있습니다.
									</p>
								</div>
								<div class="list__item">
									<p class="text light">
										계좌비밀번호를 재등록하려면 비대면 실명<span class="blue">인증을 해야 합니다</span>.
									</p>
								</div>
								<div class="list__item">
									<p class="text light">
										[아이디 찾기]를 이용하려면 ‘신한은행 홈페이지 회원 서비스 이용약관’에 동의해주세요.
									</p>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td class="center">일본어 번역 투</td>
						<td>
							<div class="list list--type4">
								<div class="list__item">
									<p class="text light">
										고객님을 위한 맞춤설계서가
										<span class="red">준비 중에 있습니다</span>.
									</p>
								</div>
								<div class="list__item">
									<p class="text light">
										고객의 지급청구가
										<span class="red">있는 경우</span>
										청구건<span class="red">에 대하여</span>
										은행에서 해당금액을 지급합니다.
									</p>
								</div>
							</div>
						</td>
						<td>
							<div class="list list--type4">
								<div class="list__item">
									<p class="text light">
										고객님께 딱 맞는 맞춤설계서를
										<span class="blue">준비 중입니다</span>.
									</p>
								</div>
								<div class="list__item">
									<p class="text light">
										고객이 지급을 신청<span class="blue">하면</span>
										은행에서 해당 금액을 지급합니다.
									</p>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td class="center">피동형 표현</td>
						<td>
							<div class="list list--type4">
								<div class="list__item">
									<p class="text light">
										다른기관에서
										<span class="red">출금된 거래내역</span>을 확인하실 수 있습니다.
									</p>
								</div>
								<div class="list__item">
									<p class="text light">
										각 금융기관에서 신한은행 오픈뱅킹을 통해
										<span class="red">이용된</span>
										고객의 금융정보를 이메일로 통지해 드립니다.
									</p>
								</div>
								<div class="list__item">
									<p class="text light">
										지문등록<span class="red">이 완료되었습니다</span>.
									</p>
								</div>
							</div>
						</td>
						<td>
							<div class="list list--type4">
								<div class="list__item">
									<p class="text light">
										다른기관
										<span class="blue">출금내역</span>을 확인할 수 있습니다.
									</p>
								</div>
								<div class="list__item">
									<p class="text light">
										각 금융기관이 신한은행 오픈뱅킹을 통해
										<span class="blue">이용한</span>
										고객의 금융정보를 이메일로 안내해드립니다.
									</p>
								</div>
								<div class="list__item">
									<p class="text light">
										지문<span class="blue">을 등록했습니다</span>.
									</p>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<!-- //여기서 부터 복사해서 사용하세요 -->
{% endblock %}
{% block scripts %}{% endblock %}
