{% set title = '신한 UX라이팅 시스템 | 보이스앤톤이란?' %}
{% extends '../templates/uxw_guide_layout.njk' %}
{% block guide %}
	<!-- 여기서 부터 복사해서 사용하세요 -->
	<div class="guide">
		<div class="guide-visual" aria-hidden="true"></div>
		<div class="guide-head">
			<h1>보이스앤톤 (Voice & Tone)</h1>
			<p>
				‘보이스앤톤’은
				<span class="bold">브랜드와 고객이 커뮤니케이션하는 언어적 표현 방식</span>으로<br/>
				고객과 브랜드를 밀접하게 연결하고 더 친근하게 소통하도록 합니다.
			</p>
		</div>
		<section class="guide-content">
			<div class="guide-card-wrap col2">
				<div class="guide-card">
					<div class="guide-card__head">
						<h3>보이스 (Voice)</h3>
						<div class="divider" aria-hidden="true"></div>
					</div>
					<div class="guide-card__content">
						<div class="list">
							<div class="list__item">
								<p class="text bullet bullet--type2 light">브랜드의 정체성과 개성, 표현방식 및 어조</p>
							</div>
							<div class="list__item">
								<p class="text bullet bullet--type2 light">브랜드만의 고유한 목소리를 가지며
									<span class="blue bold mgl4">일관성이 중요함</span>
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="guide-card">
					<div class="guide-card__head">
						<h3>톤 (Ton)</h3>
						<div class="divider" aria-hidden="true"></div>
					</div>
					<div class="guide-card__content">
						<div class="list">
							<div class="list__item">
								<p class="text bullet bullet--type2 light">상황에 맞는 태도와 말투</p>
							</div>
							<div class="list__item">
								<p class="text bullet bullet--type2 light">메시지 성격이나 상황에 따라
									<span class="blue bold mgl4">유동적</span>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<h2 class="guide-title">왜 필요할까요?</h2>

			<div class="guide-card-wrap">
				<div class="guide-card guide-card--type2">
					<div class="guide-card__head">
						<h3>고객과의
							<span>긍정적인 상호작용</span>
						</h3>
						<div class="divider" aria-hidden="true"></div>
					</div>
					<div class="guide-card__content">
						<div class="list">
							<div class="list__item">
								<p class="text bullet bullet--type3 medium">고객의 65%는
									<span class="bold mgl4 mgr4">긍정적인 목소리를 사용하는 브랜드에 자신이 배려 받고 있다</span>고 느낍니다.</p>
							</div>
							<div class="list__item">
								<p class="text bullet bullet--type3 medium">고객을 배려하는 친근한 태도는 더 많은 상호작용을 하도록 유도하여, 고객의 다양한 요구(needs)를 해결할 수 있게 합니다.</p>
							</div>
						</div>
						<p class="authorship">[출처] Customer Thermometer, 「1,000 Customers Reveal How to Achieve Brand Affinity」</p>
					</div>
				</div>
				<div class="guide-card guide-card--type2">
					<div class="guide-card__head">
						<h3>브랜드
							<span>신뢰감 강화</span>
						</h3>
						<div class="divider" aria-hidden="true"></div>
					</div>
					<div class="guide-card__content">
						<div class="list">
							<div class="list__item">
								<p class="text bullet bullet--type3 medium">사람들은 인간미 있는 대상과 소통하는 것을 좋아하며, 자신과 공감할 수 있는
									<span class="bold mgl4">대상에게 친밀감과 신뢰감</span>을 느낍니다.</p>
							</div>
							<div class="list__item">
								<p class="text bullet bullet--type3 medium">인간적인 보이스앤톤을 통해 브랜드에 대한 고객 신뢰를 강화할 수 있습니다.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="guide-card guide-card--type2">
					<div class="guide-card__head">
						<h3>서비스
							<span>경쟁력 제고</span>
						</h3>
						<div class="divider" aria-hidden="true"></div>
					</div>
					<div class="guide-card__content">
						<div class="list">
							<div class="list__item">
								<p class="text bullet bullet--type3 medium">보이스앤톤을 갖추고 일관성 있게 사용하는 브랜드는 치열한 경쟁시장에서 차별화 됩니다.</p>
							</div>
							<div class="list__item">
								<p class="text bullet bullet--type3 medium">개성있고 일관된 보이스는 브랜드에 대한 인상으로 기억되며 호감도를 높일 수 있습니다.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<!-- //여기서 부터 복사해서 사용하세요 -->
{% endblock %}
{% block scripts %}{% endblock %}
