{% set title = '신한 UX라이팅 시스템 | 보이스앤톤이란?' %}
{% extends '../templates/uxw_guide_layout.njk' %}
{% block guide %}
	<!-- 여기서 부터 복사해서 사용하세요 -->
	<div class="guide">
		<div class="guide-visual guide-visual--type2" aria-hidden="true"></div>
		<div class="guide-head">
			<h1>보이스</h1>
			<p>
				말투(Tone)가 변해도 목소리는 변하지 않습니다.<br/>
				비대면 커뮤니케이션을 위한 문구 작성시, 브랜드 이미지를 일관되게 보여줄 수 있도록 신한 쏠(SOL)의 기본 어조를 기억해 주세요.
			</p>
		</div>
		<section class="guide-content">
			<div class="guide-card-wrap">
				<div class="guide-card guide-card--type2">
					<div class="guide-card__head">
						<h3>
							<span>경쾌하고 즐거운</span>
							보이스(Cheerful)</h3>
						<div class="divider" aria-hidden="true"></div>
					</div>
					<div class="guide-card__content">
						<div class="list">
							<div class="list__item">
								<p class="text bullet bullet--type3 medium">
									<span class="bold">고객에게 익숙하고 일상에서 자주 쓰는 어휘</span>를 사용합니다.</p>
							</div>
							<div class="list__item">
								<p class="text bullet bullet--type3 medium">고객과 부드럽게 대화하듯이 긍정적으로 말합니다.</p>
							</div>
							<div class="list__item">
								<p class="text bullet bullet--type3 medium">진지하고 사무적인 표현 대신 즐거움을 더해주는 친근한 표현을 사용합니다.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="guide-card guide-card--type2">
					<div class="guide-card__head">
						<h3>
							<span>꾸밈없이 명료한</span>
							보이스(Straightforward)</h3>
						<div class="divider" aria-hidden="true"></div>
					</div>
					<div class="guide-card__content">
						<div class="list">
							<div class="list__item">
								<p class="text bullet bullet--type3 medium">
									<span class="bold">고객이 주체가 되는 능동 표현</span>을 사용합니다.</p>
							</div>
							<div class="list__item">
								<p class="text bullet bullet--type3 medium">바로 이해하고 다음단계로 진행할 수 있도록 고객 눈높이에 알맞은
									<span class="bold mgl4 mgr4">쉬운 용어로 간결하게</span>
									말합니다.</p>
							</div>
							<div class="list__item">
								<p class="text bullet bullet--type3 medium">과장되거나 추상적이지 않게,
									<span class="bold mgl4 mgr4">명료하고 구체적으로</span>
									말합니다.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="guide-card guide-card--type2">
					<div class="guide-card__head">
						<h3>고객
							<span>고객 혜택을 강조한</span>
							보이스(Beneficial)</h3>
						<div class="divider" aria-hidden="true"></div>
					</div>
					<div class="guide-card__content">
						<div class="list">
							<div class="list__item">
								<p class="text bullet bullet--type3 medium">고객에게 이로운 가치와
									<span class="bold mgl4 mgr4">실질적인 혜택을 중심으로</span>
									말합니다.</p>
							</div>
							<div class="list__item">
								<p class="text bullet bullet--type3 medium">고객이 놓치는 혜택을 알려주되 강요하거나 부담스럽지 않게 전달합니다.</p>
							</div>
							<div class="list__item">
								<p class="text bullet bullet--type3 medium">고객 불편 상황에서 분명한 해결책을 제시하고 다음 행동으로 연결될 수 있도록 합니다.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<!-- //여기서 부터 복사해서 사용하세요 -->
{% endblock %}
{% block scripts %}{% endblock %}
