{% set title = '신한 UX라이팅 시스템 | 붙여쓰기' %}
{% extends '../templates/uxw_guide_layout.njk' %}
{% block guide %}
	<!-- 여기서 부터 복사해서 사용하세요 -->
	<div class="guide">
		<div class="guide-content">
			<div class="guide-card-wrap">
				<div class="guide-card">
					<div class="guide-card__head">
						<h3>붙여쓰기</h3>
						<div class="divider" aria-hidden="true"></div>
					</div>
					<div class="guide-card__content">
						<div class="list">
							<div class="list__item">
								<p class="text bullet bullet--type2 light">‘~에서/부터/까지’ 등 조사는 앞말에 붙여 씁니다.</p>
							</div>
							<div class="list__item">
								<p class="text bullet bullet--type2 light">‘~당(當)/별(別)/상(上)/씩’ 등 접미사는 앞말에 붙여 씁니다.</p>
							</div>
							<div class="list__item">
								<p class="text bullet bullet--type2 light">‘~이다/되다/하다/받다’ 등 동사를 만드는 접미사는 앞말에 붙여 씁니다.</p>
							</div>
							<div class="list__item">
								<p class="text bullet bullet--type2 light">본용언과 보조용언은 붙여 씁니다. (띄어쓰기가 원칙, 붙여쓰기는 허용 원칙으로 가독성을 고려해 붙여쓰기로 통일함)</p>
							</div>
							<div class="list__item">
								<p class="text bullet bullet--type2 light">국립국어원 표준국어대사전에 등재된 한 단어는 모두 붙여 씁니다. (‘결제계좌’, ‘분실신고’, ‘분할상환’, ‘유효기간’, ‘즐겨찾기’ 등)</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="table-row fixed">
				<table class="table left">
					<colgroup>
						<col style="width:180px"/>
						<col style="width:*"/>
						<col style="width:*"/>
					</colgroup>
					<thead>
						<tr>
							<th aria-hidden="true"></th>
							<th>
								<span>이렇게 쓰지 마세요<i class="ic ic-x--type2" aria-hidden="true"></i>
								</span>
							</th>
							<th>
								이렇게 쓰세요<i class="ic ic-o--type2" aria-hidden="true"></i>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="left">
								<b>조사</b>
								<span class="authorship">(~에서/부터/까지 등)</span>
							</td>
							<td>
								<div class="list list--type4">
									<div class="list__item">
										<p class="text light">
											금융수수료 면제는 소득이 입금된 월의 다음달
											<span class="red">16일 부터</span>
											다다음 달(익익월) 15일까지 적용됩니다.
										</p>
									</div>
								</div>
							</td>
							<td>
								<div class="list list--type4">
									<div class="list__item">
										<p class="text light">
											금융수수료 면제는 소득이 입금된 월의 다음달
											<span class="blue">16일부터</span>
											다 다음달 15일까지 적용됩니다.
										</p>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td class="left">
								<b>접미사</b>
								<span class="authorship">(~당/별/상/씩 등)</span>
							</td>
							<td>
								<div class="list list--type4">
									<div class="list__item">
										<p class="text light">
											<span class="red">이체건 당 / 신청건 당</span>
										</p>
									</div>
									<div class="list__item">
										<p class="text light">
											<span class="red">고객 별 / 등급 별 / 투자성향 별</span>
										</p>
									</div>
									<div class="list__item">
										<p class="text light">
											<span class="red">주민등록등본 상 / 사업자등록증 상 / 여권 상</span>
										</p>
									</div>
								</div>
							</td>
							<td>
								<div class="list list--type4">
									<div class="list__item">
										<p class="text light">
											<span class="blue">이체 건당 / 신청 건당</span>
										</p>
									</div>
									<div class="list__item">
										<p class="text light">
											<span class="blue">고객별 / 등급별 / 투자성향별</span>
										</p>
									</div>
									<div class="list__item">
										<p class="text light">
											<span class="blue">주민등록등본상 / 사업자등록증상 / 여권상</span>
										</p>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td class="left">
								<b>접미사</b>
								<span class="authorship">(~이다/되다/하다/ 받다 등)</span>
							</td>
							<td>
								<div class="list list--type4">
									<div class="list__item">
										<p class="text light">
											익영업일 장중가격으로
											<span class="red">분할매수처리</span>
											됨을 확인하셨습니까?
										</p>
									</div>
									<div class="list__item">
										<p class="text light">
											다시
											<span class="red">증액 하는</span>
											것도 불가하오니 유의하여 주시기 바랍니다.
										</p>
									</div>
									<div class="list__item">
										<p class="text light">
											추후 법인용 신한인증서도
											<span class="red">출시 할</span>
											예정입니다.
										</p>
									</div>
									<div class="list__item">
										<p class="text light">
											<span class="red">공제 받을</span>
											수 있는 최대 예상금액입니다.
										</p>
									</div>
									<div class="list__item">
										<p class="text light">
											이체모드는 ‘설정 > 이체모드 설정’에서 언제든
											<span class="red">변경 할</span>
											수 있습니다.
										</p>
									</div>
								</div>
							</td>
							<td>
								<div class="list list--type4">
									<div class="list__item">
										<p class="text light">
											다음날(영업일 기준) 장중가격으로
											<span class="blue">분할매수됩니다</span>.
										</p>
									</div>
									<div class="list__item">
										<p class="text light">
											다시
											<span class="blue">증액할</span>
											수 없으니 유의해주세요.
										</p>
									</div>
									<div class="list__item">
										<p class="text light">
											추후 법인용 신한인증서도
											<span class="blue">출시할</span>
											예정입니다.
										</p>
									</div>
									<div class="list__item">
										<p class="text light">
											<span class="blue">공제받을 수</span>
											있는 최대 예상금액입니다.
										</p>
									</div>
									<div class="list__item">
										<p class="text light">
											이체모드는 [설정 > 이체모드 설정]에서 언제든
											<span class="blue">변경할</span>
											수 있습니다.
										</p>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td class="left">
								<b>본용언+보조용언</b>
							</td>
							<td>
								<div class="list list--type4">
									<div class="list__item">
										<p class="text light">
											연결하실 카드를
											<span class="red">선택 해</span>
											주세요.
										</p>
									</div>
									<div class="list__item">
										<p class="text light">
											대출 신청 진행 전, 임대차 계약서를
											<span class="red">준비해 주세요</span>.
										</p>
									</div>
								</div>
							</td>
							<td>
								<div class="list list--type4">
									<div class="list__item">
										<p class="text light">
											연결할 카드를
											<span class="blue">선택해</span>주세요.
										</p>
									</div>
									<div class="list__item">
										<p class="text light">
											대출 신청 전, 전월세계약서를
											<span class="blue">준비해주세요</span>.
										</p>
									</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<!-- //여기서 부터 복사해서 사용하세요 -->
{% endblock %}
{% block scripts %}{% endblock %}
