{% set title = '신한 UX라이팅 시스템 | 쉽고 간결한 톤' %}
{% extends '../templates/uxw_guide_layout.njk' %}
{% block guide %}
  <!-- 여기서 부터 복사해서 사용하세요 -->
  <section class="guide-content" id="Easy">
    <div class="guide-card-wrap">
      <div class="guide-card">
        <div class="guide-card__head">
          <h3>쉽고 간결한 톤(Clear)</h3>
          <div class="divider" aria-hidden="true"></div>
        </div>
        <div class="guide-card__content">
          <div class="list">
            <div class="list__item">
              <p class="text bullet bullet--type2 light">원하는 정보를 빠르게 찾고, 한 번에 이해, 의사결정을 바로 할 수 있도록 쉽고 명확하게 표현합니다.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="table-row fixed">
      <table class="table left">
        <thead>
          <tr>
            <th>
              <span>이렇게 쓰세요<i class="ic ic-o--type2" aria-hidden="true"></i></span>
            </th>
            <th>
              이렇게 쓰지 마세요<i class="ic ic-x--type2" aria-hidden="true"></i>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>한 문장에 한 개의 메시지만 담아 간결하게 표현</td>
            <td>지시어, 추상적이고 모호한 표현</td>
          </tr>
          <tr>
            <td>핵심 내용만 짧고 명확하게 표현</td>
            <td>용어반복, 길고 늘어진 표현, 군더더기 표현</td>
          </tr>
          <tr>
            <td>한 번에 빠르게 파악할 수 있는 직관적인 표현</td>
            <td>이해하기 어려운 용어, 낯선 표현, 줄임말 표현</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="guide-bar">
      <i class="guide-arrow guide-arrow-first" aria-hidden="true"></i>
      <span class="guide-bar-list">길고 복잡한 | 어려운</span>
      <span class="guide-bar-list">딱 맞아요!</span>
      <span class="guide-bar-list">모호한 | 과도하게 생략한</span>
      <i class="guide-arrow guide-arrow-last" aria-hidden="true"></i>
    </div>

    <div class="guide-grid">
      <div class="guide-grid__row">
        <div class="guide-grid__col guide-grid__col-ct">
          팩스 또는 휴대폰 통신환경에 따라<br />
          발송이 되지 않을 수도 있사오니<br />
          에러가 발생하는 경우 가까운 영업점<br />
          창구 발급하거나 인터넷 뱅킹을 통한<br />
          출력 서비스를 이용하여 주시기<br />
          바랍니다.
        </div>
        <div class="guide-grid__col guide-grid__col-ct">
          발송이 안 될 경우, 가까운 영업점을<br />
          방문하거나 인터넷뱅킹 출력서비스를<br />
          이용해주세요.
        </div>
        <div class="guide-grid__col guide-grid__col-ct">
          에러 발생 시 영업점 창구 및<br />
          인터넷뱅킹을 이용하세요.
        </div>
      </div>
      <div class="guide-grid__row">
        <div class="guide-grid__col guide-grid__col-des"></div>
        <div class="guide-grid__col guide-grid__col-des">
          <div class="list">
            <div class="list__item">
              <p class="text bullet bullet--type3 medium">핵심적이고 필요한 정보만 간결하게 전달합니다.</p>
            </div>
          </div>
        </div>
        <div class="guide-grid__col guide-grid__col-des"></div>
      </div>

      <div class="guide-grid__row">
        <div class="guide-grid__col guide-grid__col-ct">
          고객님의 지로자동납부 및 아파트/상가<br />
          관리비 자동이체 신청내용을<br />
          해지하고자 하실 때는 이체지정일<br />
          전영업일까지 해지 등록을<br />
          해주셔야 합니다.
        </div>
        <div class="guide-grid__col guide-grid__col-ct">
          지로 및 아파트관리비 자동이체를<br />
          해지하려면 지정한 자동이체일<br />
          전날(영업일 기준)까지 <br />
          신청해주세요.
        </div>
        <div class="guide-grid__col guide-grid__col-ct">
          공과금 자동이체 해지는 <br />
          이체지정일 전날까지 신청해주세요.
        </div>
      </div>

      <div class="guide-grid__row">
        <div class="guide-grid__col guide-grid__col-des"></div>
        <div class="guide-grid__col guide-grid__col-des">
          <div class="list">
            <div class="list__item">
              <p class="text bullet bullet--type3 medium">고객이 이해하기 쉬운 표현으로 안내합니다.</p>
            </div>
          </div>
        </div>
        <div class="guide-grid__col guide-grid__col-des"></div>
      </div>

      <div class="guide-grid__row">
        <div class="guide-grid__col guide-grid__col-ct">
          신한은행 Tops Club 등급은 개인 및<br />
          개인사업자 고객님의 신한은행 예적금,<br />
          펀드, 방카, 대출, 카드, 환전/송금,<br />
          급여/연금이체 등의 금융거래<br />
          실적을 종합적으로 점수화하여<br />
          선정합니다.
        </div>
        <div class="guide-grid__col guide-grid__col-ct">
          신한은행 Tops Club 등급은<br />
          고객님의 모든 신한은행 거래실적을<br />
          종합적으로 반영해 결정합니다.
        </div>
        <div class="guide-grid__col guide-grid__col-ct">
          신한은행 Tops Club 등급은<br />
          신한은행 실적을 기준으로 합니다.
        </div>
      </div>

      <div class="guide-grid__row">
        <div class="guide-grid__col guide-grid__col-des"></div>
        <div class="guide-grid__col guide-grid__col-des">
          <div class="list">
            <div class="list__item">
              <p class="text bullet bullet--type3 medium">꼭 필요한 정보만 직관적인 표현으로 안내합니다.</p>
            </div>
          </div>
        </div>
        <div class="guide-grid__col guide-grid__col-des"></div>
      </div>
    </div>

    <div class="legend">
      <div class="legend__item">
        <label class="label">가</label>
        <span class="text">신한 쏠(SOL)</span>
      </div>
      <div class="legend__item">
        <label class="label label--blue">가</label>
        <span class="text">개선 예시</span>
      </div>
    </div>
  </section>
  <!-- //여기서 부터 복사해서 사용하세요 -->
{% endblock %}
{% block scripts %}

{% endblock %}
