{% set title = '신한 UX라이팅 시스템 | 영어한자단독표기' %}
{% extends '../templates/uxw_guide_layout.njk' %}
{% block guide %}
	<!-- 여기서 부터 복사해서 사용하세요 -->
	<section class="guide-content" id="EnCh_Alone">
		<div class="guide-card-wrap">
			<div class="guide-card">
				<div class="guide-card__head">
					<h3>영어/한자 단독 표기</h3>
					<div class="divider" aria-hidden="true"></div>
				</div>
				<div class="guide-card__content">
					<div class="list">
						<div class="list__item">
							<p class="text bullet bullet--type2 light">우리말 문장에 한자와 영어를 원어 그대로 섞어 쓰지 않습니다.</p>
						</div>
						<div class="list__item">
							<p class="text bullet bullet--type2 light">‘OTP’, ‘ARS’, ‘ATM’ 등 은행서비스에서 자주 쓰이는 약어는 단독으로 쓸 수 있습니다.</p>
						</div>
						<div class="list__item">
							<p class="text bullet bullet--type2 light">의미 전달에 꼭 필요한 영어는 우리말과 함께 표기하되, 같은 화면 안에서 여러 번 나올 때는 처음 한 번만 씁니다.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="table-row fixed">
			<table class="table left">
				<colgroup>
					<col style="width:240px"/>
					<col style="width:*"/>
					<col style="width:*"/>
				</colgroup>
				<thead>
					<tr>
						<th aria-hidden="true"></th>
						<th>
							<span>이렇게 쓰지 마세요<i class="ic ic-x--type2" aria-hidden="true"></i>
							</span>
						</th>
						<th>
							이렇게 쓰세요<i class="ic ic-o--type2" aria-hidden="true"></i>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="center">영어 단독 표기</td>
						<td>
							<div class="list list--type4">
								<div class="list__item">
									<p class="text light">
										App
									</p>
								</div>
								<div class="list__item">
									<p class="text light">
										SMS
									</p>
								</div>
								<div class="list__item">
									<p class="text light">
										FAX
									</p>
								</div>
								<div class="list__item">
									<p class="text light">
										E-Mail
									</p>
								</div>
								<div class="list__item">
									<p class="text light">
										SP
									</p>
								</div>
								<div class="list__item">
									<p class="text light">
										R, PR여권
									</p>
								</div>
								<div class="list__item">
									<p class="text light">
										or
									</p>
								</div>
								<div class="list__item">
									<p class="text light">
										ex.
									</p>
								</div>
							</div>
						</td>
						<td>
							<div class="list list--type4">
								<div class="list__item">
									<p class="text light">
										앱
									</p>
								</div>
								<div class="list__item">
									<p class="text light">
										문자메시지, 문자(공간제약 시)
									</p>
								</div>
								<div class="list__item">
									<p class="text light">
										팩스
									</p>
								</div>
								<div class="list__item">
									<p class="text light">
										이메일
									</p>
								</div>
								<div class="list__item">
									<p class="text light">
										스마트폰
									</p>
								</div>
								<div class="list__item">
									<p class="text light">
										거주여권(R/PR)
									</p>
								</div>
								<div class="list__item">
									<p class="text light">
										또는
									</p>
								</div>
								<div class="list__item">
									<p class="text light">
										예, 예시
									</p>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td class="center">한자 단독 표기</td>
						<td>
							<div class="list list--type4">
								<div class="list__item">
									<p class="text light">
										비여신用, 계좌이전用
									</p>
								</div>
								<div class="list__item">
									<p class="text light">
										서울시 外 지역
									</p>
								</div>
								<div class="list__item">
									<p class="text light">
										해당기간 內, 최근 3개월 內
									</p>
								</div>
								<div class="list__item">
									<p class="text light">
										유동성이 上인 자산
									</p>
								</div>
							</div>
						</td>
						<td>
							<div class="list list--type4">
								<div class="list__item">
									<p class="text light">
										비여신용, 계좌이전용
									</p>
								</div>
								<div class="list__item">
									<p class="text light">
										서울시 외 지역
									</p>
								</div>
								<div class="list__item">
									<p class="text light">
										해당기간 안에, 최근 3개월 이내
									</p>
								</div>
								<div class="list__item">
									<p class="text light">
										유동성이 높은 자산
									</p>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td class="center">영어 전문용어 표기</td>
						<td>
							<div class="list list--type4">
								<div class="list__item">
									<p class="text light">
										SWIFT CODE
									</p>
								</div>
								<div class="list__item">
									<p class="text light">
										MP
									</p>
								</div>
								<div class="list__item">
									<p class="text light">
										CB사
									</p>
								</div>
								<div class="list__item">
									<p class="text light">
										DCC결제서비스
									</p>
								</div>
								<div class="list__item">
									<p class="text light">
										PIN번호
									</p>
								</div>
							</div>
						</td>
						<td>
							<div class="list list--type4">
								<div class="list__item">
									<p class="text light">
										SWIFT CODE(은행식별코드)
									</p>
								</div>
								<div class="list__item">
									<p class="text light">
										모델포트폴리오(MP)
									</p>
								</div>
								<div class="list__item">
									<p class="text light">
										신용평가회사, 신용조회회사
									</p>
								</div>
								<div class="list__item">
									<p class="text light">
										해외원화결제(DCC)
									</p>
								</div>
								<div class="list__item">
									<p class="text light">
										간편비밀번호
									</p>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

	</section>
	<!-- //여기서 부터 복사해서 사용하세요 -->
{% endblock %}
{% block scripts %}{% endblock %}
