{% set title = '신한 UX라이팅 시스템 | 유의해야 할 띄어쓰기' %}
{% extends '../templates/uxw_guide_layout.njk' %}
{% block guide %}
  <div class="side__frame__html">
    <div class="swiper">
      <div class="side__frame__wrap">
        <!-- 여기서 부터 복사해서 사용하세요 -->
        <h4 class="ft20 lh32 medium">유의해야 할 <span class="highlight">띄어쓰기</span></h4>
        <div class="expresstion">
          <div class="expresstion-group">
            <ul class="expresstion-row">
              <li class="expresstion-list">
                <div class="expresstion-head">~건 / 시 / 중 /후</div>
                <div class="expresstion-inner">
                  <div class="expresstion-inner__head">
                    <span>신청한 <span class="highlight3">건</span>, 정보변경 <span class="highlight3">시</span>, 진행 <span class="highlight3">중</span>, 신청 <span class="highlight3">후</span></span>
                  </div>
                  <div class="expresstion-inner__content">
                    <p>의존명사는 앞말과 띄어쓰기</p>
                  </div>
                  <div class="divider--type2" aria-hidden="true"></div>
                  <div class="expresstion-inner__head">
                    <div class="list list-view">
                      <div class="list__item">
                        <label class="label-ct--type4">예외</label>
                        <span>필요시, 평상시, 비상시, 유사시</span>
                      </div>
                    </div>
                    <div class="expresstion-inner__content">
                      <p>국립국어원 표준국어대사전에 등재된 단어</p>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <!-- //여기서 부터 복사해서 사용하세요 -->
      </div>
    </div>
  </div>
{% endblock %}
{% block scripts %}

{% endblock %}
