{% set title = '신한 UX라이팅 시스템 | 유의해야 할 붙여쓰기' %}
{% extends '../templates/uxw_guide_layout.njk' %}
{% block guide %}
  <div class="side__frame__html">
    <div class="swiper">
      <div class="side__frame__wrap">
        <!-- 여기서 부터 복사해서 사용하세요 -->
        <h4 class="ft20 lh32 medium">유의해야 할 <span class="highlight">붙여쓰기</span></h4>
        <div class="expresstion">
          <div class="expresstion-group">
            <ul class="expresstion-row">
              <li class="expresstion-list">
                <div class="expresstion-head">~에서 / 부터 / 까지</div>
                <div class="expresstion-inner">
                  <div class="expresstion-inner__head">
                    <span>기업<span class="highlight3">에서</span>, 16일<span class="highlight3">부터</span>, 16일<span class="highlight3">까지</span></span>
                  </div>
                  <div class="expresstion-inner__content">
                    <p>조사는 앞말과 붙여쓰기</p>
                  </div>
                </div>
              </li>
            </ul>

            <ul class="expresstion-row">
              <li class="expresstion-list">
                <div class="expresstion-head">~당 / 별 / 상 / 씩</div>
                <div class="expresstion-inner">
                  <div class="expresstion-inner__head">
                    <span>이체<span class="highlight3">건당</span>, 고객<span class="highlight3">별</span>, 주민등록본<span class="highlight3">상</span>, 며칠<span class="highlight3">씩</span></span>
                  </div>
                  <div class="expresstion-inner__content">
                    <p>접미사는 앞말과 붙여쓰기</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <!-- //여기서 부터 복사해서 사용하세요 -->
      </div>
    </div>
  </div>
{% endblock %}
{% block scripts %}

{% endblock %}
