{% set title = '신한 UX라이팅 시스템 | 유의사항' %}
{% extends '../templates/uxw_guide_layout.njk' %}
{% block guide %}
	<!-- 여기서 부터 복사해서 사용하세요 -->
	<section class="guide-content" id="Button_Whether">
		<div class="guide-card-wrap">
			<div class="guide-card">
				<div class="guide-card__head">
					<h3>유의사항</h3>
					<div class="divider" aria-hidden="true"></div>
					<p class="guide-card__sub">상대적으로 민감한 정보를 담고 있는 상품/서비스 관련 안내사항은 다음을 기준으로 씁니다.</p>
				</div>
				<div class="guide-card__content">
					<div class="list">
						<div class="list__item">
							<p class="text bullet bullet--type2 light">미사여구 없는 사실 정보만
								<span class="bold mgl4">‘하십시오체’</span>로 씁니다.</p>
						</div>
						<div class="list__item">
							<p class="text bullet bullet--type2 light">유의사항 타이틀은
								<span class="bold mgl4">‘알아두세요’</span>로 통일하고, 마침표는 생략합니다. 단, 대출 등 일부 상품의 중요 고지는
								<span class="bold mgl4">‘유의사항’</span>으로 씁니다.</p>
						</div>
						<div class="list__item">
							<p class="text bullet bullet--type2 light">주요 안내 항목은 불릿(・)으로 구분해 씁니다.
							</p>
						</div>
						<div class="list__item">
							<p class="text bullet bullet--type2 light">제한사항 등
								<span class="bold mgl4">고지성 문구, 중요한 참고사항은 참고표(※)로 구분하고 서술형 종결</span>로 씁니다.
							</p>
						</div>
						<div class="list__item">
							<p class="text bullet bullet--type2 light">부속 항목은 ‘숫자’ 또는 ‘붙임표(-)’로 표기합니다.
							</p>
						</div>
						<div class="list__item">
							<p class="text bullet bullet--type2 light">부속 항목과 소괄호 안 문장은 명사형 종결로 간결하게 씁니다.
							</p>
						</div>
						<div class="list__item">
							<p class="text bullet bullet--type2 light">요청이나 가벼운 당부사항은 ‘~해주세요’로 씁니다.
							</p>
						</div>
					</div>

					<div class="guide-example">
						<div class="guide-example-list">
							<label class="label-ct--type6">예시</label>
							<p class="mgl-none">
								<span>신청하시기 바랍니다, 신청하세요<i class="ic ic-x--type2" aria-hidden="true"></i>
								</span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- 여기서 부터 복사해서 사용하세요 -->
{% endblock %}
{% block scripts %}{% endblock %}
