{% set title = '신한 UX라이팅 시스템 | 유익한톤' %}
{% extends '../templates/uxw_guide_layout.njk' %}
{% block guide %}
	<!-- 여기서 부터 복사해서 사용하세요 -->
	<div class="guide-content">
		<div class="guide-card-wrap">
			<div class="guide-card">
				<div class="guide-card__head">
					<h3>유익한 톤(Informative)</h3>
					<div class="divider" aria-hidden="true"></div>
				</div>
				<div class="guide-card__content">
					<div class="list">
						<div class="list__item">
							<p class="text bullet bullet--type2 light">고객 상황을 정확히 파악하고 적절한 때 도움이 되는 정보를 실질적이고 구체적으로 표현합니다.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="table-row fixed">
			<table class="table left">
				<thead>
					<tr>
						<th>
							<span>이렇게 쓰세요<i class="ic ic-o--type2" aria-hidden="true"></i>
							</span>
						</th>
						<th>
							이렇게 쓰지 마세요<i class="ic ic-x--type2" aria-hidden="true"></i>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>숫자, 데이터를 활용한 실질적이고 유익한 정보전달</td>
						<td>과도한 주의사항, 제한사항 표현 반복</td>
					</tr>
					<tr>
						<td>고객이 무엇을, 어떻게 해야 하는지 분명하게 안내</td>
						<td>고객이 알 필요 없는 불필요한 정보 제시</td>
					</tr>
					<tr>
						<td>고객 행동을 고려한 정보, 조언을 구체적으로 안내</td>
						<td>같은 용어, 표현 등을 기준 없이 여러 가지로 사용</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="guide-bar">
			<i class="guide-arrow guide-arrow-first" aria-hidden="true"></i>
			<span class="guide-bar-list">일반적인</span>
			<span class="guide-bar-list">딱 맞아요!</span>
			<span class="guide-bar-list">추상적인 | 막연한</span>
			<i class="guide-arrow guide-arrow-last" aria-hidden="true"></i>
		</div>

		<div class="guide-grid">
			<div class="guide-grid__row">
				<div class="guide-grid__col guide-grid__col-ct">비밀번호 N회 오류입니다.</div>
				<div class="guide-grid__col guide-grid__col-ct">
					비밀번호를 잘못 입력했습니다.(1/5)<br/>
					계좌비밀번호 재등록 >
				</div>
				<div class="guide-grid__col guide-grid__col-ct">비밀번호 오류입니다.</div>
			</div>
			<div class="guide-grid__row">
				<div class="guide-grid__col guide-grid__col-des"></div>
				<div class="guide-grid__col guide-grid__col-des">
					<div class="list">
						<div class="list__item">
							<p class="text bullet bullet--type3 medium">구체적인 정보와 상황별 선택지를 제시합니다.</p>
						</div>
					</div>
				</div>
				<div class="guide-grid__col guide-grid__col-des"></div>
			</div>

			<div class="guide-grid__row">
				<div class="guide-grid__col guide-grid__col-ct">
					ID/PW 로그인 상태에서는<br/>
					이체가 불가능합니다.<br/>
					로그인 방식 변경 후 이용해주세요.
				</div>
				<div class="guide-grid__col guide-grid__col-ct">
					아이디 로그인을 제외한<br/>
					다른 방법으로 로그인 후<br/>
					이체해주세요.
				</div>
				<div class="guide-grid__col guide-grid__col-ct">다른 로그인 방식으로 이용해주세요.</div>
			</div>

			<div class="guide-grid__row">
				<div class="guide-grid__col guide-grid__col-des"></div>
				<div class="guide-grid__col guide-grid__col-des">
					<div class="list">
						<div class="list__item">
							<p class="text bullet bullet--type3 medium">고객에게 필요한 정보를 긍정적이고 쉬운 우리말로 전달합니다.</p>
						</div>
					</div>
				</div>
				<div class="guide-grid__col guide-grid__col-des"></div>
			</div>

			<div class="guide-grid__row">
				<div class="guide-grid__col guide-grid__col-ct">
					현재 서비스 이용 가능한 계좌가 없습니다.<br/>
					(당행 입출금 계좌 2개 이상 필요)
				</div>
				<div class="guide-grid__col guide-grid__col-ct">
					신한은행 입출금계좌 2개 이상 보유 시<br/>
					이용할 수 있는 서비스입니다.
				</div>
				<div class="guide-grid__col guide-grid__col-ct">
					당행 입출금 계좌<br/>
					2개 이상이 필요한 서비스입니다.
				</div>
			</div>

			<div class="guide-grid__row">
				<div class="guide-grid__col guide-grid__col-des"></div>
				<div class="guide-grid__col guide-grid__col-des">
					<div class="list">
						<div class="list__item">
							<p class="text bullet bullet--type3 medium">서비스 이용에 필요한 유용한 정보를 쉽고 정확하게 전달합니다.</p>
						</div>
					</div>
				</div>
				<div class="guide-grid__col guide-grid__col-des"></div>
			</div>
		</div>

		<div class="legend">
			<div class="legend__item">
				<label class="label">가</label>
				<span class="text">신한 쏠(SOL)</span>
			</div>
			<div class="legend__item">
				<label class="label label--blue">가</label>
				<span class="text">개선 예시</span>
			</div>
		</div>
	</div>
	<!-- //여기서 부터 복사해서 사용하세요 -->
{% endblock %}
{% block scripts %}{% endblock %}
