{% set title = '신한 UX라이팅 시스템 | 일관되게' %}
{% extends '../templates/uxw_guide_layout.njk' %}
{% block guide %}
	<div class="guide">
		<div class="guide-visual" aria-hidden="true"></div>
		<div class="guide-head">
			<h1>일관되게</h1>
			<p>
				같은 의미의 용어는 하나로 통일해서 씁니다.<br/>
				같은 화면/이어지는 프로세스 단계에서 일관된 용어/표현을 사용합니다.<br/>
				문장 톤앤매너를 맞춰서 씁니다.<br/>
				기호/문장부호/날짜/시간/금액 등 표기를 통일해서 씁니다.
			</p>
		</div>

		<!-- section이 들어갈 영역 -->
	<!-- ... -->
		<!-- //section이 들어갈 영역 -->
	</div>

{% endblock %}
{% block scripts %}{% endblock %}
