{% set title = '신한 UX라이팅 시스템 | 차별표현' %}
{% extends '../templates/uxw_guide_layout.njk' %}
{% block guide %}
	<!-- 여기서 부터 복사해서 사용하세요 -->
	<section class="guide-content" id="Negative_Ex">
		<div class="guide-card-wrap">
			<div class="guide-card">
				<div class="guide-card__head">
					<h3>차별 표현</h3>
					<div class="divider" aria-hidden="true"></div>
				</div>
				<div class="guide-card__content">
					<div class="list">
						<div class="list__item">
							<p class="text bullet bullet--type2 light">편견 혹은 차별의 뜻이 있는 표현은 사용하지 않습니다.</p>
						</div>
						<div class="list__item">
							<p class="text bullet bullet--type2 light">특정 집단을 비하하거나 논란이 될 수 있는 표현은 사용하지 않습니다.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="table-row fixed">
			<table class="table left">
				<colgroup>
					<col style="min-width:120px"/>
					<col style="width:50%"/>
					<col style="width:50%"/>
				</colgroup>
				<thead>
					<tr>
						<th aria-hidden="true"></th>
						<th>
							<span>이렇게 쓰지 마세요<i class="ic ic-x--type2" aria-hidden="true"></i>
							</span>
						</th>
						<th>
							이렇게 쓰세요<i class="ic ic-o--type2" aria-hidden="true"></i>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="center" rowspan="10">성별/연령 등<br/>차별 표현</td>
						<td>
							효자상품
						</td>
						<td>
							인기상품
						</td>
					</tr>
					<tr>
						<td>학부형</td>
						<td>학부모</td>
					</tr>
					<tr>
						<td>자매결연</td>
						<td>상호결연</td>
					</tr>
					<tr>
						<td>유모차</td>
						<td>유아차</td>
					</tr>
					<tr>
						<td>독거노인</td>
						<td>홀몸 어르신(독거노인)</td>
					</tr>
					<tr>
						<td>편모, 편부</td>
						<td>한부모</td>
					</tr>
					<tr>
						<td>불우이웃</td>
						<td>어려운 이웃</td>
					</tr>
					<tr>
						<td>사회지도층, 상류층, 특권층</td>
						<td>(쓰지 않음)</td>
					</tr>
					<tr>
						<td>미망인</td>
						<td>유족, 고인의 아내</td>
					</tr>
					<tr>
						<td>헬린이, 주린이, 요린이</td>
						<td>초보자</td>
					</tr>
					<tr>
						<td class="center" rowspan="6">직업<br/>
							비하 표현
						</td>
						<td>유모</td>
						<td>육아돌보미</td>
					</tr>
					<tr>
						<td>파출부, 가정부</td>
						<td>가사도우미</td>
					</tr>
					<tr>
						<td>청소부</td>
						<td>환경미화원</td>
					</tr>
					<tr>
						<td>수위</td>
						<td>경비원</td>
					</tr>
					<tr>
						<td>우체부</td>
						<td>우편집배원</td>
					</tr>
					<tr>
						<td>택시 운전수</td>
						<td>택시기사</td>
					</tr>
					<tr>
						<td class="center" rowspan="4">
							장애인<br/>차별 표현
						</td>
						<td>
							장애자, 장애우<br/>
							정상인
						</td>
						<td>
							장애인<br/>
							비장애인
						</td>
					</tr>
					<tr>
						<td>
							저능아, 정신지체
						</td>
						<td>
							발달장애인, 지적장애인
						</td>
					</tr>
					<tr>
						<td>
							맹인, 장님<br/>
							농아<br/>
							벙어리
						</td>
						<td>
							시각장애인<br/>
							청각장애인<br/>
							언어장애인
						</td>
					</tr>
					<tr>
						<td>
							난쟁이, 왜소증
						</td>
						<td>
							지체장애인, 저신장장애인
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>
	<!-- //여기서 부터 복사해서 사용하세요 -->
{% endblock %}
{% block scripts %}{% endblock %}
