{% set title = '신한 UX라이팅 시스템 | 친근한 톤' %}
{% extends '../templates/uxw_guide_layout.njk' %}
{% block guide %}
	<!-- 여기서 부터 복사해서 사용하세요 -->
	<div class="guide">
		<div class="guide-visual" aria-hidden="true"></div>
		<div class="guide-head">
			<h1>톤</h1>
			<p>
				각 톤 별 커뮤니케이션 표현 방법을 안내하는 톤 차트로<br/>
				이용 상황에 맞게 쏠(SOL) 콘텐츠에 적용합니다.
			</p>
		</div>
		<div class="guide-content">
			<div class="guide-card-wrap">
				<div class="guide-card">
					<div class="guide-card__head">
						<h3>친근한 톤</h3>
						<div class="divider" aria-hidden="true"></div>
					</div>
					<div class="guide-card__content">
						<div class="list">
							<div class="list__item">
								<p class="text bullet bullet--type2 light">고객과 친근감을 형성할 수 있도록 익숙하고 친근한 언어로 표현합니다.</p>
							</div>
							<div class="list__item">
								<p class="text bullet bullet--type2 light">말하듯 자연스럽게 표현합니다.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="table-row fixed">
				<table class="table left">
					<thead>
						<tr>
							<th>
								<span>이렇게 쓰세요<i class="ic ic-o--type2" aria-hidden="true"></i>
								</span>
							</th>
							<th>
								이렇게 쓰지 마세요<i class="ic ic-x--type2" aria-hidden="true"></i>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>친근함을 느낄 수 있는 대화체 표현</td>
							<td>전문용어, 업계 내부용어 등 낯선 표현</td>
						</tr>
						<tr>
							<td>일상에서 쓰는 이해가 쉽고 명확한 표현</td>
							<td>과도한 높임말 등 거리감 있는 표현</td>
						</tr>
						<tr>
							<td>부드럽게 선택지를 권유/제안하는 어투</td>
							<td>딱딱한 문어체 표현 및 기계적인 시스템 언어표현</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="guide-bar">
				<i class="guide-arrow guide-arrow-first" aria-hidden="true"></i>
				<span class="guide-bar-list">사무적인 / 진지한</span>
				<span class="guide-bar-list">딱 맞아요!</span>
				<span class="guide-bar-list">가벼운 / 무례한</span>
				<i class="guide-arrow guide-arrow-last" aria-hidden="true"></i>
			</div>

			<div class="guide-grid">
				<div class="guide-grid__row">
					<div class="guide-grid__col guide-grid__col-ct">
						미확인 시 광고게시가 되지 않는 점<br/>
						감안하시어, 반드시 확인버튼을<br/>
						클릭 해주시기 바랍니다.
					</div>
					<div class="guide-grid__col guide-grid__col-ct">
						마지막에 [확인]을 눌러야<br/>
						광고가 게시되니 꼭 눌러주세요.
					</div>
					<div class="guide-grid__col guide-grid__col-ct">
						광고 확인 후<br/>
						[확인]을 반드시 누르세요!
					</div>
				</div>
				<div class="guide-grid__row">
					<div class="guide-grid__col guide-grid__col-des"></div>
					<div class="guide-grid__col guide-grid__col-des">
						<div class="list">
							<div class="list__item">
								<p class="text bullet bullet--type3 medium">익숙한 표현으로 친근하게 안내합니다.</p>
							</div>
						</div>
					</div>
					<div class="guide-grid__col guide-grid__col-des"></div>
				</div>

				<div class="guide-grid__row">
					<div class="guide-grid__col guide-grid__col-ct">
						최근 1개월 내에 영업점에서<br/>
						대출상담하신 이력이 있습니다.
					</div>
					<div class="guide-grid__col guide-grid__col-ct">최근 대출상담을 받은 적이 있어요.</div>
					<div class="guide-grid__col guide-grid__col-ct">이미 대출상담을 받았어요.</div>
				</div>
				<div class="guide-grid__row">
					<div class="guide-grid__col guide-grid__col-des"></div>
					<div class="guide-grid__col guide-grid__col-des">
						<div class="list">
							<div class="list__item">
								<p class="text bullet bullet--type3 medium">자연스러운 일상어를 사용합니다.</p>
							</div>
						</div>
					</div>
					<div class="guide-grid__col guide-grid__col-des"></div>
				</div>

				<div class="guide-grid__row">
					<div class="guide-grid__col guide-grid__col-ct">0개 금융기관이 연결되어 있습니다.</div>
					<div class="guide-grid__col guide-grid__col-ct">
						아직 연결한 금융기관이 없어요.<br/>
						내 자산 연결하고 꼼꼼한 자산관리<br/>
						시작해보세요.
					</div>
					<div class="guide-grid__col guide-grid__col-ct">
						연결 안 하면 손해~<br/>
						지금 바로 연결해봐요.
					</div>
				</div>

				<div class="guide-grid__row">
					<div class="guide-grid__col guide-grid__col-des"></div>
					<div class="guide-grid__col guide-grid__col-des">
						<div class="list">
							<div class="list__item">
								<p class="text bullet bullet--type3 medium">현황만 안내하지 않고, 부드럽게 제안합니다.</p>
							</div>
						</div>
					</div>
					<div class="guide-grid__col guide-grid__col-des"></div>
				</div>

				<div class="guide-grid__row">
					<div class="guide-grid__col guide-grid__col-ct">
						우리동네 응원 프로그램<br/>
						연장 신청이 취소되었습니다.<br/>
						감사합니다.
					</div>
					<div class="guide-grid__col guide-grid__col-ct">
						연장신청 취소 완료<br/>
						우리동네 응원 프로그램,<br/>
						다음에 또 이용해주세요!
					</div>
					<div class="guide-grid__col guide-grid__col-ct">
						연장신청을 취소했어요.<br/>
						다음에 또 봐요.
					</div>
				</div>

				<div class="guide-grid__row">
					<div class="guide-grid__col guide-grid__col-des"></div>
					<div class="guide-grid__col guide-grid__col-des">
						<div class="list">
							<div class="list__item">
								<p class="text bullet bullet--type3 medium">고객과 대화하듯 친근한 어투로 권유합니다.</p>
							</div>
						</div>
					</div>
					<div class="guide-grid__col guide-grid__col-des"></div>
				</div>
			</div>
			<div class="legend">
				<div class="legend__item">
					<label class="label">가</label>
					<span class="text">신한 쏠(SOL)</span>
				</div>
				<div class="legend__item">
					<label class="label label--blue">가</label>
					<span class="text">개선 예시</span>
				</div>
			</div>
		</div>
	</div>
	<!-- //여기서 부터 복사해서 사용하세요 -->
{% endblock %}
{% block scripts %}{% endblock %}
