{% set title = '신한 UX라이팅 시스템 | 텍스트기능별톤' %}
{% extends '../templates/uxw_guide_layout.njk' %}
{% block guide %}
	<!-- 여기서 부터 복사해서 사용하세요 -->
	<section class="guide-content" id="Feature_Text">
		<div class="guide-card-wrap">
			<div class="guide-card">
				<div class="guide-card__head">
					<h3>텍스트 기능별 톤</h3>
					<div class="divider" aria-hidden="true"></div>
				</div>
				<div class="guide-card__content">
					<div class="list">
						<div class="list__item">
							<p class="text bullet bullet--type2 light">텍스트 기능을 설득, 책무, 정보 전달, 정서 교감 등 4가지로 구분하고, 각 기능에 맞는 톤을 적용합니다.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="guide-grid guide-grid--type2">
			<div class="guide-grid__row">
				<div class="guide-grid__col guide-grid__col-ct">텍스트기능</div>
				<div class="guide-grid__col guide-grid__col-ct">정서 교감</div>
				<div class="guide-grid__col guide-grid__col-ct">정보 전달</div>
				<div class="guide-grid__col guide-grid__col-ct">설득</div>
				<div class="guide-grid__col guide-grid__col-ct">책무</div>
			</div>
			<div class="guide-grid__row">
				<div class="guide-grid__col guide-grid__col-des">적용보이스</div>
				<div class="guide-grid__col guide-grid__col-des">
					경쾌하고 즐거운<br/>(Cheerful)
				</div>
				<div class="guide-grid__col guide-grid__col-des">
					꾸밈없이 명료한<br/>(Straightforward)
				</div>
				<div class="guide-grid__col guide-grid__col-des">
					고객 혜택을 강조한<br/>(Beneficial)
				</div>
				<div class="guide-grid__col guide-grid__col-des">보이스 적용 안함</div>
			</div>

			<div class="guide-grid__row">
				<div class="guide-grid__col guide-grid__col-ct">적용톤</div>
				<div class="guide-grid__col guide-grid__col-ct">
					고객에게 친근하게<br/>
					다가가는 톤<br/>
					(Friendly)
				</div>
				<div class="guide-grid__col guide-grid__col-ct">
					고객에게 쉽고<br/>
					명확하게 전달하는 톤<br/>
					(Clear + Informative)
				</div>
				<div class="guide-grid__col guide-grid__col-ct">
					고객 행동을 부드럽게<br/>
					유도하는 톤<br/>
					(Caring)
				</div>
				<div class="guide-grid__col guide-grid__col-ct">사실 기반의 정중한 톤</div>
			</div>

			<div class="guide-grid__row">
				<div class="guide-grid__col guide-grid__col-des">적용 영역</div>
				<div class="guide-grid__col guide-grid__col-des">
					첫인사 / 개인화 메시지 /<br/>
					마케팅 카피 /
					<br/>
					서비스 이용 유도
				</div>
				<div class="guide-grid__col guide-grid__col-des">
					상품 및 서비스 소개 /<br/>
					서비스 이용방법 /
					<br/>
					단순 안내
				</div>
				<div class="guide-grid__col guide-grid__col-des">
					회원가입 / 탈퇴 / 동의 /<br/>
					상품 및 서비스 가입 프로세스
				</div>
				<div class="guide-grid__col guide-grid__col-des">서비스 약관 / 제한사항 / 유의사항</div>
			</div>
		</div>

		<h2 class="guide-title">서술어 톤앤매너</h2>

		<div class="guide-card-wrap">
			<div class="guide-card guide-card--type2">
				<div class="guide-card__content">
					<div class="list">
						<div class="list__item">
							<p class="text bullet bullet--type3 medium">문장은 기본적으로 서술어 종결 형태로 씁니다.</p>
						</div>
						<div class="list__item">
							<p class="text bullet bullet--type3 medium">요청, 제안, 권유, 행동 유도인 콘텐츠는 ‘~해주세요’, ‘~해보세요’ 형태의 ‘해요체’를 사용합니다.</p>
						</div>
						<div class="list__item">
							<p class="text bullet bullet--type3 medium">사실 전달을 기반으로 하는 안내사항, 유의사항은 ‘~ㅂ니다’ 형태의 ‘하십시오체’를 사용합니다.</p>
						</div>
						<div class="list__item">
							<p class="text bullet bullet--type3 medium">흥미 유발과 더 친근한 소통을 위해 ‘~어때요?’, ‘~ㄹ까요?’ 등의 의문형 표현도 활용합니다.</p>
						</div>
						<div class="list__item">
							<p class="text bullet bullet--type3 medium">상품소개/가입 시 헤드카피성 문구와 이벤트/광고성 안내 문구는 ‘명사형 종결’ 표현도 사용할 수 있습니다.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="table-row fixed align-top">
			<table class="table left">
				<colgroup>
					<col style="width:234px"/>
					<col style="width:*"/>
					<col style="width:*"/>
				</colgroup>
				<thead>
					<tr>
						<th></th>
						<th>설명</th>
						<th>
							<span>이렇게 쓰세요<i class="ic ic-o--type2" aria-hidden="true"></i>
							</span>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<b>정보 안내 시</b>
							<span class="authorship">예) 이용안내, 유의사항, 바텀/팝업 문구</span>
						</td>
						<td>
							<div class="list list--type4 list--type4__smb">
								<div class="list__item">
									<p class="text light">‘~ㅂ니다’ 형태의 ‘하십시오체’를 사용합니다.</p>
								</div>
								<div class="list__item">
									<p class="text light">단, ‘~하시기 바랍니다’는 ‘~해주세요’ 형태로 사용합니다.</p>
								</div>
							</div>
							<span class="authorship">예) 확인하시기 바랍니다 (X), 확인해주세요 (O)</span>
						</td>
						<td>
							<div class="list list--type4 list--type4__smb">
								<div class="list__item">
									<p class="text light">이미 등록된 쿠폰입니다.</p>
								</div>
								<div class="list__item">
									<p class="text light">계좌 개설 후 이용할 수 있습니다.</p>
								</div>
								<div class="list__item">
									<p class="text light">개인회원의 비밀번호만 재등록할 수 있습니다.</p>
								</div>
								<div class="list__item">
									<p class="text light">이중납입되지 않도록 다시 한번 확인해주세요.</p>
								</div>
								<div class="list__item">
									<p class="text light">휴대폰번호를 변경하려면 고객정보에서 변경해주세요.</p>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<b>흥미 유발 시</b>
							<span class="authorship">예) 서비스/상품 소개, 설득/제안 문구 등</span>
						</td>
						<td>
							<div class="list list--type4 list--type4__smb">
								<div class="list__item">
									<p class="text light">‘~요’, ‘~해보세요’와 함께 ‘~ㄴ?’, ‘~다면?’, ‘~할까요?’, ‘~ 어때요?’ 등의 의문형 서술어미를 사용합니다.</p>
								</div>
							</div>
						</td>
						<td>
							<div class="list list--type4 list--type4__smb">
								<div class="list__item">
									<p class="text light">KBO 팬을 위한 혜택은?</p>
								</div>
								<div class="list__item">
									<p class="text light">친구와 함께 이자 더 받으세요!</p>
								</div>
								<div class="list__item">
									<p class="text light">자산 전문가의 솔루션을 알려드려요.</p>
								</div>
								<div class="list__item">
									<p class="text light">든든한 노후 준비, 개인형 퇴직연금으로 준비해보세요.</p>
								</div>
								<div class="list__item">
									<p class="text light">우리 팀 승리 다음날 적금 입금하면 랜덤 포인트 드려요!</p>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<b>행동 요청 시</b>
							<span class="authorship">예) 참여유도 메시지, 입력/선택/검색 등 액션이 필요한 경우 등</span>
						</td>
						<td>
							<div class="list list--type4 list--type4__smb">
								<div class="list__item">
									<p class="text light">‘~해주세요.’, ‘~해보세요’ 등의 서술어미를 사용합니다.</p>
								</div>
								<div class="list__item">
									<p class="text light">지시적인 느낌이 강한 ‘~하세요’는 되도록 지양합니다.</p>
								</div>
							</div>
						</td>
						<td>
							<div class="list list--type4 list--type4__smb">
								<div class="list__item">
									<p class="text light">올바른 비밀번호를 입력해주세요.</p>
								</div>
								<div class="list__item">
									<p class="text light">OTP를 준비해주세요.</p>
								</div>
								<div class="list__item">
									<p class="text light">환전 선물하기로 마음을 전해보세요.</p>
								</div>
								<div class="list__item">
									<p class="text light">각종 공과금 이제 간편하게 납부해보세요.</p>
								</div>
								<div class="list__item">
									<p class="text light">촬영 영역에 맞춰서 촬영해주세요.</p>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<b>고객 의사를 물을 시</b>
							<span class="authorship">예) 팝업창 등 피드백 문구</span>
						</td>
						<td>
							<div class="list list--type4 list--type4__smb">
								<div class="list__item">
									<p class="text light">고객 의사를 물을 때는 ‘~하시겠어요?’를 사용합니다.</p>
								</div>
								<div class="list__item">
									<p class="text light">어감이 딱딱한 ‘~하시겠습니까?’는 사용하지 않습니다.</p>
								</div>
							</div>
						</td>
						<td>
							<div class="list list--type4 list--type4__smb">
								<div class="list__item">
									<p class="text light">앱을 설치하시겠어요?</p>
								</div>
								<div class="list__item">
									<p class="text light">휴대폰번호도 함께 변경하시겠어요?</p>
								</div>
								<div class="list__item">
									<p class="text light">신한 쏠(SOL)에 처음 오셨나요?</p>
								</div>
								<div class="list__item">
									<p class="text light">어떤 방법으로 쏠(SOL)에 로그인하시겠어요?</p>
								</div>
								<div class="list__item">
									<p class="text light">거래내역을 복사하시겠어요?</p>
								</div>
								<div class="list__item">
									<p class="text light">이체를 중단하시겠어요?</p>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<b>가입/참여 유도 시</b>
							<span class="authorship">예) 마케팅 배너, 이벤트, 상품/서비스 헤드라인 문구</span>
						</td>
						<td>
							<div class="list list--type4 list--type4__smb">
								<div class="list__item">
									<p class="text light">서비스 헤드카피, 이벤트/광고성 문구 등 가입이나 참여를 유도할 때 명사형 종결을 사용할 수 있습니다.</p>
								</div>
							</div>
						</td>
						<td>
							<div class="list list--type4 list--type4__smb">
								<div class="list__item">
									<p class="text light">친구에게 적금 추천하기</p>
								</div>
								<div class="list__item">
									<p class="text light">카카오톡에 공유하기</p>
								</div>
								<div class="list__item">
									<p class="text light">동전기부로 응원하기</p>
								</div>
								<div class="list__item">
									<p class="text light">재예치 가능계좌 확인하기</p>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>
	<!-- //여기서 부터 복사해서 사용하세요 -->
{% endblock %}
{% block scripts %}{% endblock %}
