{% set title = '신한 UX라이팅 시스템 | 톤' %}
{% extends '../templates/uxw_guide_layout.njk' %}
{% block guide %}
  <div class="guide">
    <div class="guide-visual" aria-hidden="true"></div>
    <div class="guide-head">
      <h1>톤</h1>
      <p>
        각 톤 별 커뮤니케이션 표현 방법을 안내하는 톤 차트로<br />
        이용 상황에 맞게 쏠(SOL) 콘텐츠에 적용합니다.
      </p>
    </div>
    <!-- section이 들어갈 영역 -->
    <!-- ... -->
    <!-- //section이 들어갈 영역 -->
  </div>
{% endblock %}
{% block scripts %}

{% endblock %}
