<div class="modal modal--layer" id="layerModal3" data-layer-opend="false">
  <div class="modal__dialog">
    <div class="modal__content">
      <button type="button" class="ic-button" data-layer-close aria-label="팝업닫기">
        <i class="ic ic-close-large" aria-hidden="true"></i>
      </button>
      <!-- 페이지 컨텐츠와 동일 element 사용 -->
      <div class="ly-content-box">
        <div class="title">
          <h2 class="text ft24 bold">교정된 콘텐츠 <span class="text-sub">다른 직원들이 작성하고 교정한 글을 참고해 볼 수 있어요.</span></h2>
        </div>

        <!-- 검색박스 영역 -->
        <div class="search-box search-box--small search-box--between">
          <div class="search-box__wrap">
            <div class="input-box">
              <input name="search" type="text" class="input" placeholder="검색어을 입력해주세요." value="가구">
              <button type="button" class="ic-button-clear" data-visible="" aria-label="클리어버튼" aria-pressed="false" onclick="Input.ClearButton(this)">
                <i class="ic ic-clear" aria-hidden="true"></i>
              </button>
              <button type="button" class="ic-button-search" aria-label="검색버튼">
                <i class="ic ic-search--small" aria-hidden="true"></i>
              </button>
            </div>
            <div id="sorting" class="button-group">
              <div class="swiper swiper-pind">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <input class="radio radio--sort" id="rad01" type="radio" name="radCheck" checked>
                    <label for="rad01">전체</label>
                  </div>
                  <div class="swiper-slide">
                    <input class="radio radio--sort" id="rad02" type="radio" name="radCheck">
                    <label for="rad02">개인전체</label>
                  </div>
                  <div class="swiper-slide">
                    <input class="radio radio--sort" id="rad03" type="radio" name="radCheck">
                    <label for="rad03">외환</label>
                  </div>
                  <div class="swiper-slide">
                    <input class="radio radio--sort" id="rad04" type="radio" name="radCheck">
                    <label for="rad04">상품</label>
                  </div>
                  <div class="swiper-slide">
                    <input class="radio radio--sort" id="rad05" type="radio" name="radCheck">
                    <label for="rad05">대출</label>
                  </div>
                  <div class="swiper-slide">
                    <input class="radio radio--sort" id="rad06" type="radio" name="radCheck">
                    <label for="rad06">이벤트</label>
                  </div>
                  <div class="swiper-slide">
                    <input class="radio radio--sort" id="rad07" type="radio" name="radCheck">
                    <label for="rad07">챗봇</label>
                  </div>
                  <div class="swiper-slide">
                    <input class="radio radio--sort" id="rad08" type="radio" name="radCheck">
                    <label for="rad08">기업특화</label>
                  </div>
                </div>
              </div>

              <input class="radio radio--sort" id="rad09" type="radio" name="radCheck">
              <label for="rad09">내 부서</label>
            </div>
          </div>
        </div>
        <!-- //검색박스 영역 -->

        <div class="title--type2">
          <div class="total">총 <span class="total__count">34</span>건</div>
        </div>

        <!-- 그리드 영역 -->
        <div class="grid--type2 col5">
          <div class="grid__box">
            <div class="title--type2 flex-end">
              <i class="ic-bookmark-y" aria-hidden="true"></i>
            </div>
            <h4 class="ellipsis">신한은행과 BNP파리</h4>
            <div class="grid__content">
              <p class="text ellipsis--type5">신한은행과 BNP파리바카디프생명이 합작품인 '(무)더세이프대출안심보험' 을 28일 대납하는 대출상품으로 새롭게 고객들에 선보이는 이벤트로 참여자 전원</p>
            </div>
            <div class="thumnail" data-visible="">
              <div class="thumnail__content">
                <a href="#none" type="button" class="ic-button" aria-label="상세보기">
                  <i class="ic ic-move-w" aria-hidden="true"></i>
                </a>
                <button type="button" class="ic-button" aria-label="북마크" data-toggle="true">
                  <i class="ic ic-bookmark" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="grid__box">
            <div class="title--type2">
              <span class="grid__ct--blue">내 콘텐츠</span>
            </div>
            <h4 class="ellipsis">미상환 위험 대비의 필요성</h4>
            <div class="grid__content">
              <p class="text ellipsis--type5">신가구의 DTI가 낮아질 것으로 예상돼 대출 미상환 위험 대비의 필요성이 한층 가중되고 있다. 더 세이프 대출안심대출에 신규 투자..</p>
            </div>
            <div class="thumnail" data-visible="">
              <div class="thumnail__content">
                <a href="#none" type="button" class="ic-button" aria-label="상세보기">
                  <i class="ic ic-move-w" aria-hidden="true"></i>
                </a>
                <button type="button" class="ic-button" aria-label="북마크" data-toggle="false">
                  <i class="ic ic-bookmark" aria-hidden="true"></i>
                </button>
                <button type="button" class="ic-button" aria-label="삭제">
                  <i class="ic ic-delete-w" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="grid__box">
            <div class="title--type2 flex-end">
              <i class="ic-bookmark-y" aria-hidden="true"></i>
            </div>
            <h4 class="ellipsis">신한은행과 BNP파리</h4>
            <div class="grid__content">
              <p class="text ellipsis--type5">신한은행과 BNP파리바카디프생명이 합작품인 '(무)더세이프대출안심보험' 을 28일 대납하는 대출상품으로 새롭게 고객들에 선보이는 이벤트로 참여자 전원</p>
            </div>
            <div class="thumnail" data-visible="">
              <div class="thumnail__content">
                <a href="#none" type="button" class="ic-button" aria-label="상세보기">
                  <i class="ic ic-move-w" aria-hidden="true"></i>
                </a>
                <button type="button" class="ic-button" aria-label="북마크" data-toggle="true">
                  <i class="ic ic-bookmark" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="grid__box">
            <div class="title--type2">
              <span class="grid__ct--blue">내 콘텐츠</span>
            </div>
            <h4 class="ellipsis">미상환 위험 대비의 필요성</h4>
            <div class="grid__content">
              <p class="text ellipsis--type5">신가구의 DTI가 낮아질 것으로 예상돼 대출 미상환 위험 대비의 필요성이 한층 가중되고 있다. 더 세이프 대출안심대출에 신규 투자..</p>
            </div>
            <div class="thumnail" data-visible="">
              <div class="thumnail__content">
                <a href="#none" type="button" class="ic-button" aria-label="상세보기">
                  <i class="ic ic-move-w" aria-hidden="true"></i>
                </a>
                <button type="button" class="ic-button" aria-label="북마크" data-toggle="false">
                  <i class="ic ic-bookmark" aria-hidden="true"></i>
                </button>
                <button type="button" class="ic-button" aria-label="삭제">
                  <i class="ic ic-delete-w" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="grid__box">
            <div class="title--type2 flex-between">
              <span class="grid__ct--blue">내 콘텐츠</span>
              <i class="ic-bookmark-y" aria-hidden="true"></i>
            </div>
            <h4 class="ellipsis">신한은행과 BNP파리</h4>
            <div class="grid__content">
              <p class="text ellipsis--type5">신가구의 DTI가 낮아질 것으로 예상돼 대출 미상환 위험 대비의 필요성이 한층 가중되고 있다. 더 세이프 대출안심대출에 신규 투자..</p>
            </div>
            <div class="thumnail" data-visible="">
              <div class="thumnail__content">
                <a href="#none" type="button" class="ic-button" aria-label="상세보기">
                  <i class="ic ic-move-w" aria-hidden="true"></i>
                </a>
                <button type="button" class="ic-button" aria-label="북마크" data-toggle="true">
                  <i class="ic ic-bookmark" aria-hidden="true"></i>
                </button>
                <button type="button" class="ic-button" aria-label="삭제">
                  <i class="ic ic-delete-w" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="grid__box">
            <div class="title--type2">
              <span class="grid__ct--blue">내 콘텐츠</span>
            </div>
            <h4 class="ellipsis">미상환 위험 대비의 필요성</h4>
            <div class="grid__content">
              <p class="text ellipsis--type5">신한은행과 BNP파리바카디프생명이 합작품인 '(무)더세이프대출안심보험' 을 28일 대납하는 대출상품으로 새롭게 고객들에 선보이는 이벤트로 참여자 전원</p>
            </div>
            <div class="thumnail" data-visible="">
              <div class="thumnail__content">
                <a href="#none" type="button" class="ic-button" aria-label="상세보기">
                  <i class="ic ic-move-w" aria-hidden="true"></i>
                </a>
                <button type="button" class="ic-button" aria-label="북마크" data-toggle="false">
                  <i class="ic ic-bookmark" aria-hidden="true"></i>
                </button>
                <button type="button" class="ic-button" aria-label="삭제">
                  <i class="ic ic-delete-w" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="grid__box">
            <div class="title--type2 flex-end">
              <i class="ic-bookmark-y" aria-hidden="true"></i>
            </div>
            <h4 class="ellipsis">신한은행과 BNP파리</h4>
            <div class="grid__content">
              <p class="text ellipsis--type5">신한은행과 BNP파리바카디프생명이 합작품인 '(무)더세이프대출안심보험' 을 28일 대납하는 대출상품으로 새롭게 고객들에 선보이는 이벤트로 참여자 전원</p>
            </div>
            <div class="thumnail" data-visible="">
              <div class="thumnail__content">
                <a href="#none" type="button" class="ic-button" aria-label="상세보기">
                  <i class="ic ic-move-w" aria-hidden="true"></i>
                </a>
                <button type="button" class="ic-button" aria-label="북마크" data-toggle="true">
                  <i class="ic ic-bookmark" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="grid__box">
            <div class="title--type2">
              <span class="grid__ct--blue">내 콘텐츠</span>
            </div>
            <h4 class="ellipsis">미상환 위험 대비의 필요성</h4>
            <div class="grid__content">
              <p class="text ellipsis--type5">신가구의 DTI가 낮아질 것으로 예상돼 대출 미상환 위험 대비의 필요성이 한층 가중되고 있다. 더 세이프 대출안심대출에 신규 투자..</p>
            </div>
            <div class="thumnail" data-visible="">
              <div class="thumnail__content">
                <a href="#none" type="button" class="ic-button" aria-label="상세보기">
                  <i class="ic ic-move-w" aria-hidden="true"></i>
                </a>
                <button type="button" class="ic-button" aria-label="북마크" data-toggle="false">
                  <i class="ic ic-bookmark" aria-hidden="true"></i>
                </button>
                <button type="button" class="ic-button" aria-label="삭제">
                  <i class="ic ic-delete-w" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="grid__box">
            <div class="title--type2 flex-end">
              <i class="ic-bookmark-y" aria-hidden="true"></i>
            </div>
            <h4 class="ellipsis">신한은행과 BNP파리</h4>
            <div class="grid__content">
              <p class="text ellipsis--type5">신한은행과 BNP파리바카디프생명이 합작품인 '(무)더세이프대출안심보험' 을 28일 대납하는 대출상품으로 새롭게 고객들에 선보이는 이벤트로 참여자 전원</p>
            </div>
            <div class="thumnail" data-visible="">
              <div class="thumnail__content">
                <a href="#none" type="button" class="ic-button" aria-label="상세보기">
                  <i class="ic ic-move-w" aria-hidden="true"></i>
                </a>
                <button type="button" class="ic-button" aria-label="북마크" data-toggle="true">
                  <i class="ic ic-bookmark" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="grid__box">
            <div class="title--type2">
              <span class="grid__ct--blue">내 콘텐츠</span>
            </div>
            <h4 class="ellipsis">미상환 위험 대비의 필요성</h4>
            <div class="grid__content">
              <p class="text ellipsis--type5">신가구의 DTI가 낮아질 것으로 예상돼 대출 미상환 위험 대비의 필요성이 한층 가중되고 있다. 더 세이프 대출안심대출에 신규 투자..</p>
            </div>
            <div class="thumnail" data-visible="">
              <div class="thumnail__content">
                <a href="#none" type="button" class="ic-button" aria-label="상세보기">
                  <i class="ic ic-move-w" aria-hidden="true"></i>
                </a>
                <button type="button" class="ic-button" aria-label="북마크" data-toggle="false">
                  <i class="ic ic-bookmark" aria-hidden="true"></i>
                </button>
                <button type="button" class="ic-button" aria-label="삭제">
                  <i class="ic ic-delete-w" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- //그리드 영역 -->

        {% include '../base/pagination.njk' %}
      </div>
      <!-- 페이지 컨텐츠와 동일 element 사용 -->
    </div>
  </div>
</div>