<div class="modal modal--layer modal--layer__type2" id="layerModal3" data-layer-opend="false">
  <div class="modal__dialog">
    <div class="modal__content">
      <button type="button" class="ic-button" data-layer-close aria-label="팝업닫기">
        <i class="ic ic-close-large" aria-hidden="true"></i>
      </button>
      <!-- 페이지 컨텐츠와 동일 element 사용 -->
      <div class="ly-content-box">
        <div class="title">
          <div class="title-lt">
            <a href="#none" alt="뒤로가기">
              <i class="ic ic-back" aria-hidden="true"></i>
            </a>
            <h2 class="text ft24 bold">일반</h2>
          </div>
          <div class="title-rt">
            <div class="label-cate">
              <span class="ft18 medium">내 콘텐츠</span>
              <!-- 북마크 on/off class제공 -->
              <button type="button" class="ic-button" data-toggle="true" aria-label="북마크">
                <i class="ic ic-bookmark-g" aria-hidden="true"></i>
              </button>
              <!-- //북마크 on/off class제공 -->
            </div>
          </div>
        </div>
        <div class="form form-head">
          <div class="fields">
            <div class="field">
              <label class="label ellipsis">[2022.09.02] (1)</label>
              <button type="button" class="ic-button" aria-label="제목수정" id="title_edit" data-dialog-trigger="#modal5">
                <i class="ic ic-edit" aria-hidden="true"></i>
              </button>
            </div>
            <div class="field">
              <label class="label">2022.09.13</label>
            </div>
          </div>
        </div>

        <div class="form">
          <div class="fields">
            <div class="field">
              <label class="dpb medium ft14">내용</label>
              <textarea data-bytes-check="" class="textarea textarea--medium" maxlength="5000" placeholder="내용 입력">
신한은행과 BNP파리바카디프생명이 합작품인'(무)더세이프 대출안심보험'을 28일 런칭했다. BNP파리바 카디프생명은 글로벌 종합 금융그룹 BNP파리바의 보험 자회사이자 신용보험 글로벌 리더인 BNP파리바카디프 산하의 한국 생명보험법인이다. 이날 신한은행 에서 발간한 '보통사람 금융생활 보고서 2022'을 개관해 보면 지난 4년 동안 부채 보유 세대의 총 대출평균잔액은 꾸준히 증가했다. 작년 소득 대비 부채 규모는 20배로 증대할 것으로 나타났다. 연소득 증가 속도보다 부채 잔액이 점점 늘어나는 속도가 매년 빨라지면서 가구의 DTI가 낮아질 것으로 예상돼 대출 미상환 위험 대비의 필요성이 한층 가중되고 있다. '(무)더세이프 대출안심보험'의 부보조건은 대출 고객이 대출 기간 중 사망 또는 80% 이상의 고도장해, 암·뇌출혈·급성심근경색증 진단 등으로 대출금 상환이 어려울 경우 보험사가 고객 대신 남은 대출금'(무)더세이프 대출안심보험'의 부보조건은 대출 고객이 대출 기간 중 사망 또는 80% 이상의 고도장해 출안심보험'의 부
              </textarea>
            </div>
          </div>
        </div>

        <div class="ly-bottom-group">
          <div class="button-group">
            <div class="tooltip__list">
              <button type="button" class="ic-button-edit" aria-label="복사" onclick="UXW.Message.show('텍스트를 복사하였습니다.', '1', '#toast2')">
                <i class="ic ic-copy" aria-hidden="true"></i>
              </button>
            </div>
            <div class="tooltip__list">
              <button type="button" class="ic-button-edit" aria-label="다운로드">
                <i class="ic ic-download" aria-hidden="true"></i>
              </button>
            </div>
            <div class="tooltip__list">
              <button type="button" class="ic-button-edit" aria-label="삭제">
                <i class="ic ic-delete" aria-hidden="true"></i>
              </button>
            </div>
          </div>

          <div class="message" id="toast2"></div>

          <div class="button-group">
            <button type="button" class="button button--type2">수정하기</button>
          </div>
        </div>
      </div>
    
      <div class="side" id="redacted_side">
        <div class="side__wrap is-active">
          <h3 class="sr-only">교정 가이드</h3>
          <div class="side__inner">
            <div class="expresstion expresstion--type3">
              <ul class="expresstion-group">
                <li class="expresstion-list">
                  <button type="button" class="expresstion-button" aria-hidden="true"></button>
                  <span>네비게이션</span>
                  <i class="ic ic-expresstion-arrow--type2" aria-hidden="true"></i>
                  <span>내비게이션</span>
                </li>
                <li class="expresstion-list">
                  <button type="button" class="expresstion-button" aria-hidden="true"></button>
                  <span>개인종합자산관리계좌 (ISA)</span>
                  <i class="ic ic-expresstion-arrow--type2" aria-hidden="true"></i>
                  <span>ISA (개인종합자산관리계좌)</span>
                </li>
                <li class="expresstion-list">
                  <button type="button" class="expresstion-button" aria-hidden="true"></button>
                  <span>라이센스</span>
                  <i class="ic ic-expresstion-arrow--type2" aria-hidden="true"></i>
                  <span>라이선스</span>
                </li>
                <li class="expresstion-list">
                  <button type="button" class="expresstion-button" aria-hidden="true"></button>
                  <span>휴대폰 인증서 서비스(UBIKey)</span>
                  <i class="ic ic-expresstion-arrow--type2" aria-hidden="true"></i>
                  <span>휴대폰 인증서 서비스(유비키)</span>
                </li>
                <li class="expresstion-list">
                  <button type="button" class="expresstion-button" aria-hidden="true"></button>
                  <span>추산</span>
                  <i class="ic ic-expresstion-arrow--type2" aria-hidden="true"></i>
                  <span>어림잡다</span>
                </li>
                <li class="expresstion-list">
                  <button type="button" class="expresstion-button" aria-hidden="true"></button>
                  <span>네비게이션</span>
                  <i class="ic ic-expresstion-arrow--type2" aria-hidden="true"></i>
                  <span>내비게이션</span>
                </li>
                <li class="expresstion-list">
                  <button type="button" class="expresstion-button" aria-hidden="true"></button>
                  <span>개인종합자산관리계좌 (ISA)</span>
                  <i class="ic ic-expresstion-arrow--type2" aria-hidden="true"></i>
                  <span>ISA (개인종합자산관리계좌)</span>
                </li>
                <li class="expresstion-list">
                  <button type="button" class="expresstion-button" aria-hidden="true"></button>
                  <span>라이센스</span>
                  <i class="ic ic-expresstion-arrow--type2" aria-hidden="true"></i>
                  <span>라이선스</span>
                </li>
                <li class="expresstion-list">
                  <button type="button" class="expresstion-button" aria-hidden="true"></button>
                  <span>휴대폰 인증서 서비스(UBIKey)</span>
                  <i class="ic ic-expresstion-arrow--type2" aria-hidden="true"></i>
                  <span>휴대폰 인증서 서비스(유비키)</span>
                </li>
                <li class="expresstion-list">
                  <button type="button" class="expresstion-button" aria-hidden="true"></button>
                  <span>추산</span>
                  <i class="ic ic-expresstion-arrow--type2" aria-hidden="true"></i>
                  <span>어림잡다</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- 페이지 컨텐츠와 동일 element 사용 -->
    </div>
  </div>
</div>