<div class="modal modal--layer modal--layer__type2" id="layerModal3" data-layer-opend="false">
  <div class="modal__dialog">
    <div class="modal__content">
      <button type="button" class="ic-button" data-layer-close aria-label="팝업닫기"><i class="ic ic-close-large" aria-hidden="true"></i></button>
      <!-- 페이지 컨텐츠와 동일 element 사용 -->
      <div class="ly-content-box">
        <div class="title">
          <div class="title-lt">
            <a href="#none" alt="뒤로가기"><i class="ic ic-back" aria-hidden="true"></i></a>
            <h2 class="text ft24 bold">
              스마트오퍼
              <span class="text-sub">메인 바텀시트배너</span>
            </h2>
          </div>
          <div class="title-rt">
            <div class="label-cate">
              <!-- 북마크 on/off class제공 -->
              <button type="button" class="ic-button" data-toggle="false" aria-label="북마크"><i class="ic ic-bookmark-g" aria-hidden="true"></i></button>
              <!-- //북마크 on/off class제공 -->
            </div>
          </div>
        </div>
        <div class="form form-head">
          <div class="fields">
            <div class="field">
              <label class="label ellipsis">신한은행과 BNP파리바카디프생명</label>
              <button type="button" class="ic-button" aria-label="제목수정" id="title_edit" data-dialog-trigger="#modal5"><i class="ic ic-edit" aria-hidden="true"></i></button>
            </div>
            <div class="field">
              <label class="label">2022.09.13</label>
            </div>
          </div>
        </div>

        <div class="form">
          <div class="fields">
            <div class="field">
              <label class="dpb medium ft14">메인 카피</label>
              <textarea class="textarea textarea--max mxh68" maxlength="48" placeholder="메인 카피 최대 2줄까지 입력 (한 줄당 24 Byte)">신한은행과 BNP파리바카디프생명이 합작품인'(무)더세이프 대출안심보험'을 28일 런칭했다.</textarea>
            </div>
          </div>
          <div class="fields">
            <div class="field">
              <label class="dpb medium ft14">서브 카피</label>
              <textarea class="textarea textarea--max mxh68" maxlength="120" placeholder="서브 카피 최대 3줄까지 입력 (한 줄당 40 Byte)">쏠 야구 100원 집에서도 함께 참여하세요!</textarea>
            </div>
          </div>
        </div>

        <div class="ly-bottom-group">
          <div class="button-group">
            <div class="tooltip__list">
              <button type="button" class="ic-button-edit" aria-label="다운로드"><i class="ic ic-download" aria-hidden="true"></i></button>
            </div>
          </div>

          <div class="message" id="toast2"></div>
        </div>
      </div>

      <div class="side" id="redacted_side">
        <div class="side__wrap is-active">
          <h3 class="sr-only">교정 가이드</h3>
          <div class="side__inner">
            <div class="expresstion expresstion--type3">
              <ul class="expresstion-group">
                <li class="expresstion-list">
                  <button type="button" class="expresstion-button" aria-hidden="true"></button>
                  <span>런칭</span>
                  <i class="ic ic-expresstion-arrow--type2" aria-hidden="true"></i>
                  <span>출시</span>
                </li>
                <li class="expresstion-list">
                  <button type="button" class="expresstion-button" aria-hidden="true"></button>
                  <span>세대</span>
                  <i class="ic ic-expresstion-arrow--type2" aria-hidden="true"></i>
                  <span>가구</span>
                </li>
                <li class="expresstion-list">
                  <button type="button" class="expresstion-button" aria-hidden="true"></button>
                  <span>총대출평잔</span>
                  <i class="ic ic-expresstion-arrow--type2" aria-hidden="true"></i>
                  <span>대출평균잔액</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- 페이지 컨텐츠와 동일 element 사용 -->
    </div>
  </div>
</div>
