<!-- 220926 플로팅 순서 변경으로 인한 모달 ID 수정 -->
<div class="modal modal--layer" id="layerModal2" data-layer-opend="false">
  <div class="modal__dialog">
    <div class="modal__content">
      <button type="button" class="ic-button" data-layer-close aria-label="팝업닫기"><i class="ic ic-close-large" aria-hidden="true"></i></button>
      <!-- 페이지 컨텐츠와 동일 element 사용 -->
      <div class="ly-content-box">
        <div class="title title--center">
          <div class="title-lt">
            <h2 class="text ft24 bold">용어/표현 검색<span class="text-sub">고객에게 어렵지 않을까 고민되는 표현은 검색해보세요.</span></h2>
          </div>
          <div class="title-rt">
            <button type="button" class="button button--medium button--type4" data-dialog-trigger="#modal6">직접 제안하기</button>
          </div>
        </div>

        <div class="search-box search-box--small">
          <div class="search-box__wrap">
            <div class="input-box">
              <input name="search" type="text" class="input" placeholder="검색어을 입력해주세요." value="가구" />
              <button type="button" class="ic-button-clear" data-visible="" aria-label="클리어버튼" aria-pressed="false" onclick="Input.ClearButton(this)"><i class="ic ic-clear" aria-hidden="true"></i></button>
              <button type="button" class="ic-button-search" aria-label="검색버튼"><i class="ic ic-search--small" aria-hidden="true"></i></button>
            </div>
          </div>
        </div>

        <div class="none-data none-data--info__type2 pxh500">
          <p>
            <span class="text-blue">‘가구’</span> 를 포함하는<br />검색결과가 없습니다.
          </p>
          <span>새로운 용어등록을 제안하거나,<br />고객경험혁신센터 담당자에게 검토 요청해보세요.</span>
          <div class="button-group">
            <button class="button button--type5 button--medium" type="button">이전으로</button>
          </div>
        </div>
        <!-- //페이지 컨텐츠와 동일 element 사용 -->
      </div>
    </div>
  </div>
</div>
<!-- //220926 플로팅 순서 변경으로 인한 모달 ID 수정 -->
