<div class="modal modal--layer" id="layerModal1" data-layer-opend="false">
  <div class="modal__dialog">
    <div class="modal__content">
      <button type="button" class="ic-button" data-layer-close aria-label="팝업닫기">
        <i class="ic ic-close" aria-hidden="true"></i>
      </button>
      <!-- 페이지 컨텐츠와 동일 element 사용 -->
      <div class="ly-content-box">
        <div class="title">
          <h2 class="text ft24 bold">용어/표현 검색</h2>
        </div>
      </div>
      <!-- 페이지 컨텐츠와 동일 element 사용 -->
    </div>
  </div>
</div>