<div class="modal modal--layer modal--layer__type3 modal-scroll" id="layerModal2" data-layer-opend="false">
  <div class="modal__dialog">
    <div class="modal__content">
      <button type="button" class="ic-button" data-layer-close aria-label="팝업닫기">
        <i class="ic ic-close-large" aria-hidden="true"></i>
      </button>
      <!-- 페이지 컨텐츠와 동일 element 사용 -->
      <div class="ly-content-box">
        <div class="tab" data-ui-tab>
          <div class="title">
            <div class="tab__list" role="tablist">
              <button type="button" role="tab" id="tablist7" class="tab__button" aria-controls="tabpanel7" aria-selected="false">보이스앤톤</button>
              <button type="button" role="tab" id="tablist8" class="tab__button" aria-controls="tabpanel8" aria-selected="false">라이팅 기본원칙</button>
              <button type="button" role="tab" id="tablist9" class="tab__button" aria-controls="tabpanel9" aria-selected="false">콘텐츠 유형</button>
              <button type="button" role="tab" id="tablist10" class="tab__button" aria-controls="tabpanel9" aria-selected="false">자주 틀리는 표현</button>
            </div>
          </div>
          <div id="tabpanel7" class="tab__panel" role="tabpanel" aria-labelledby="tablist7" tabindex="-1">
            <div class="tab__inner">
              <div class="tab__inner-box">
                <div class="floating-menu-wrap floating-menu-wrap--type2">
                  <!-- 아코디언 영역 -->
                  <div class="accordion accordion--type3" data-ui-accordion data-accordion-onlyOne="true">
                      <div class="accordion__box">
                          <div class="accordion__item">
                              <div class="accordion__head">
                                  <button class="accordion__button" id="acc_header1" type="button" aria-expanded="false" aria-controls="acc_panel1" aria-label="버튼"></button>
                                  <strong>TEST</strong>
                              </div>
                              <div class="accordion__panel expand" id="acc_panel1" aria-labelledby="acc_header1">
                                  <div class="accordion__inner">
                                    패널
                                  </div>
                              </div>
                          </div>
                          <div class="accordion__item">
                              <div class="accordion__head">
                                  <button class="accordion__button" id="acc_header2" type="button" aria-expanded="false" aria-controls="acc_panel2" aria-label="버튼"></button>
                                  <strong>TEST</strong>
                              </div>
                              <div class="accordion__panel expand" id="acc_panel2" aria-labelledby="acc_header2">
                                  <div class="accordion__inner">
                                    패널
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- //아코디언 영역 -->
                </div>
                <div class="side__frame__html">
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                  나는 컨텐츠양<br/>
                </div>
              </div>
            </div>
          </div>
          <div id="tabpanel8" class="tab__panel" role="tabpanel" aria-labelledby="tablist8" tabindex="-1"></div>
          <div id="tabpanel9" class="tab__panel" role="tabpanel" aria-labelledby="tablist9" tabindex="-1"></div>
          <div id="tabpanel10" class="tab__panel" role="tabpanel" aria-labelledby="tablist9" tabindex="-1"></div>
        </div>
      </div>
      <!-- 페이지 컨텐츠와 동일 element 사용 -->
    </div>
  </div>
</div>