<div class="guide__menu" data-ui-guide-menu>
    <nav class="guide__menu__nav">
        <ul>
            <li>
                <button type="button" class="button" aria-expanded="true" aria-controls="nav1">Layout</button>
                <ul id="nav1">
                    <li>
                        <a href="@@webRoot/index.html" alt="헤더 바로가기">Header</a>
                    </li>
                </ul>
            </li>
            <li>
                <button type="button" class="button" aria-expanded="false" aria-controls="nav2">Components</button>
                <ul id="nav2">
                    <li>
                        <a href="@@webRoot/tabs.html" alt="탭 바로가기">Tab</a>
                    </li>
                    <li>
                        <a href="#none" alt="아코디언 바로가기">Accordion</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>