{# { set user = login or logout} #}
{% set user = "logout" %}
{# { set user = 페이지명에 타이틀명 입력 } #}
{% set title = "신한 UX라이팅 시스템 | 페이지명" %}
{% extends "../templates/layout.njk" %}
{# { set activePage = "현재 페이지 is-active 클래스가 붙는 매크로 " currect, mypage, faq, notice } #}
 
{% block content %}
    {{super()}}
{% endblock %}
{% block scripts %}{% endblock %}