<div class="pagination">
    <button type="button" class="ic-button pagination__button" aria-label="처음 페이지" disabled>
        <i class="ic ic-prev-arrow--first" aria-hidden="true"></i>
    </button>
    <button type="button" class="ic-button pagination__button" aria-label="이전 페이지" disabled>
        <i class="ic ic-prev-arrow" aria-hidden="true"></i>
    </button>
    <div class="pagination__number">
        <ul>
            <li>
                <a class="pagination__button--num is-active" href="#none" aria-label="첫번째페이지">1</a>
            </li>
            <li>
                <a class="pagination__button--num" href="#none" aria-label="두번째페이지">2</a>
            </li>
            <li>
                <a class="pagination__button--num" href="#none" aria-label="세번째페이지">3</a>
            </li>
            <li>
                <a class="pagination__button--num" href="#none" aria-label="네번째페이지">4</a>
            </li>
            <li>
                <a class="pagination__button--num" href="#none" aria-label="다섯번째페이지">5</a>
            </li>
        </ul>
    </div>
    <button type="button" class="ic-button pagination__button" aria-label="다음 페이지">
        <i class="ic ic-next-arrow" aria-hidden="true"></i>
    </button>
    <button type="button" class="ic-button pagination__button" aria-label="마지막 페이지">
        <i class="ic ic-next-arrow--last" aria-hidden="true"></i>
    </button>
</div>