.ly-wrap.main {
	background: #f8f8f8;
}

.ly-wrap.main .ly-header {
	border-bottom: none;
}

.ly-wrap.main .ly-content {
	display: block;
	width: 100vw;
	height: calc(100% - 200px);
	padding: 140px 0 0 242px;
	margin: 0;
	overflow-x: hidden;
	overflow-y: auto;
}

.ly-wrap.main .ly-content-wrap {
	width: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
			-ms-flex-align: end;
					align-items: flex-end;
}

.ly-wrap.main .ly-content-wrap .swiper-slide {
	display: inline-block;
	position: relative;
	opacity: 1;
	-webkit-box-flex: 0;
			-ms-flex: 0 0 auto;
					flex: 0 0 auto;
	width: 380px;
	height: 430px;
	-webkit-transition: opacity .5s;
	transition: opacity .5s;
}

.ly-wrap.main .ly-content-wrap .swiper-slide > div {
	position: relative;
	width: 100%;
	height: 100%;
	border: 1px solid #eee;
	border-radius: 8px;
}

.ly-wrap.main .ly-content-wrap .swiper-slide > div:only-child:hover {
	border-color: #111;
}

.ly-wrap.main .ly-content-wrap .swiper-slide > div:first-child {
	padding: 36px;
	background: #fff;
}

.ly-wrap.main .ly-content-wrap .swiper-slide > div:first-child .slide-title {
	font-size: 14px;
	font-weight: 400;
	color: #666;
}

.ly-wrap.main .ly-content-wrap .swiper-slide > div:first-child .day {
	position: absolute;
	top: 36px;
	right: 36px;
	width: 45px;
	height: 50px;
	font-size: 12px;
	color: #c8c8c8;
}

.ly-wrap.main .ly-content-wrap .swiper-slide > div:first-child .day > strong {
	display: block;
	font-weight: 400;
	font-size: 42px;
}

.ly-wrap.main .ly-content-wrap .swiper-slide > div:first-child .slide-content {
	display: -webkit-box;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
	height: 167px;
	margin-top: 80px;
	font-size: 15px;
	line-height: 1.4;
	color: #666;
	overflow: hidden;
	text-overflow: ellipsis;
}

.ly-wrap.main .ly-content-wrap .swiper-slide > div:first-child .slide-content > strong {
	display: block;
	font-size: 24px;
	color: #111;
	margin-bottom: 26px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.ly-wrap.main .ly-content-wrap .swiper-slide > div:first-child .slide-footer {
	position: relative;
	height: 30px;
	margin-top: 62px;
}

.ly-wrap.main .ly-content-wrap .swiper-slide > div:first-child .slide-footer .pipe {
	position: relative;
	top: 12px;
	font-size: 14px;
	color: #999;
}

.ly-wrap.main .ly-content-wrap .swiper-slide > div:first-child .slide-footer .pipe dt {
	margin-right: 20px;
}

.ly-wrap.main .ly-content-wrap .swiper-slide > div:first-child .slide-footer .pipe dt:after {
	top: 1px;
	right: -10px;
	height: 14px;
	background: #ddd;
}

.ly-wrap.main .ly-content-wrap .swiper-slide > div:first-child .slide-footer:after {
	content: "";
	display: table;
	clear: both;
}

.ly-wrap.main .ly-content-wrap .swiper-slide > div:first-child .slide-footer > strong {
	float: right;
	width: 90px;
	height: 30px;
	background: url("/res/images/common/ico_comment.png") no-repeat;
	padding-left: 35px;
	font-size: 28px;
	line-height: 1;
}

.ly-wrap.main .ly-content-wrap .swiper-slide > div:first-child .slide-footer > strong.accept {
	color: #00c3b8;
}

.ly-wrap.main .ly-content-wrap .swiper-slide > div:first-child .slide-footer > strong.wait {
	width: 110px;
	background: none;
	padding: 0;
	color: #5c6977;
	text-align: right;
}

.ly-wrap.main .ly-content-wrap .swiper-slide > div:first-child .slide-footer .btn-type1 {
	padding: 3px 15px;
	height: 36px;
	font-size: 16px;
	font-weight: 700;
	border-radius: 18px;
}

.ly-wrap.main .ly-content-wrap .swiper-slide > div:first-child .slide-footer a + a {
	margin-left: 5px;
}

.ly-wrap.main .ly-content-wrap .swiper-slide > div.hover-content {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 1px solid #00d9cc;
	pointer-events: none;
}

.ly-wrap.main .ly-content-wrap .swiper-slide > div.hover-content > a {
	display: block;
	position: absolute;
	bottom: 25px;
	left: 50%;
	-webkit-transform: translateX(-50%);
					transform: translateX(-50%);
	line-height: 1;
	pointer-events: initial;
}

.ly-wrap.main .ly-content-wrap .swiper-slide:hover .hover-content {
	display: block;
}

.ly-wrap.main .ly-content-wrap .swiper-slide + div {
	margin-left: 10px;
}

.ly-wrap.main .ly-content-wrap .swiper-slide.short-cut > div {
	background: #f5f7fc;
	border: 1px solid #d4dbff;
}

.ly-wrap.main .ly-content-wrap .swiper-slide.short-cut > div .slide-content {
	margin: 80px -28px 0 -35px;
	padding: 0 36px;
	background: repeating-linear-gradient(#e4e9fe, #e4e9fe 1px, #f5f7fc 0, #f5f7fc 50px);
}

.ly-wrap.main .ly-content-wrap .swiper-slide.short-cut > div .slide-content .textarea {
	width: 100%;
	height: 150px;
	padding: 0;
	background: transparent;
	border: none;
	font-size: 16px;
	line-height: 50px;
	color: #a79889;
	-ms-overflow-style: none;
}

.ly-wrap.main .ly-content-wrap .swiper-slide.short-cut > div .slide-content .textarea::-webkit-scrollbar {
	display: none;
}

.ly-wrap.main .ly-content-wrap .swiper-slide.swiper-slide-active + div + div ~ div {
	opacity: .3;
	-webkit-transition: opacity .5s;
	transition: opacity .5s;
}

.ly-wrap.main .ly-content-wrap .swiper-slide.ex-content > div {
	text-align: center;
	line-height: 1.3;
}

.ly-wrap.main .ly-content-wrap .swiper-slide.ex-content > div > .flex.column .title {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 30px;
	font-size: 26px;
	height: 66px;
	-webkit-box-flex: 0;
			-ms-flex: 0 0 auto;
					flex: 0 0 auto;
	-webkit-box-align: center;
			-ms-flex-align: center;
					align-items: center;
	-webkit-box-pack: center;
			-ms-flex-pack: center;
					justify-content: center;
}

.ly-wrap.main .ly-content-wrap .swiper-slide.ex-content > div > .flex.column > div {
	-webkit-box-flex: 0;
			-ms-flex: 0 0 auto;
					flex: 0 0 auto;
	height: 90px;
}

.ly-wrap.main .ly-content-wrap .swiper-slide.ex-content > div > .flex.column > div p {
	margin-top: 20px;
}

.ly-wrap.main .ly-content-wrap .swiper-slide.ex-content > div > .flex.column .top {
	margin-top: 40px;
}

.ly-wrap.main .ly-content-wrap .swiper-slide.ex-content > div > .flex.column .top + .bottom {
	position: relative;
	color: #5367ff;
	margin-top: 40px;
}

.ly-wrap.main .ly-content-wrap .swiper-slide.ex-content > div > .flex.column .top + .bottom .icon-circle {
	border-color: #5367ff;
}

.ly-wrap.main .ly-content-wrap .swiper-slide.ex-content > div > .flex.column .top + .bottom:before {
	content: "";
	position: absolute;
	top: -40px;
	left: 50%;
	width: 267px;
	height: 17px;
	background: url("/res/images/common/ico_shadow.png") no-repeat top center;
	-webkit-transform: translateX(-50%);
					transform: translateX(-50%);
}

.ly-wrap.main .ly-content-wrap .swiper-slide.ex-content2 {
	width: 770px !important;
}

.ly-wrap.main .ly-content-wrap .swiper-slide.ex-content2 > .flex {
	height: 430px;
	-webkit-box-align: center;
			-ms-flex-align: center;
					align-items: center;
	-webkit-box-pack: center;
			-ms-flex-pack: center;
					justify-content: center;
}

.ly-wrap.main .ly-content-wrap .swiper-slide.ex-content2 > .flex > * {
	-webkit-box-flex: 0;
			-ms-flex: 0 0 auto;
					flex: 0 0 auto;
}

.ly-wrap.main .ly-content-wrap .swiper-slide.ex-content2 > .flex strong {
	font-size: 24px;
	color: #111;
}

.ly-wrap.main .ly-content-wrap .swiper-slide.ex-content2 > .flex p {
	font-size: 18px;
	color: #666;
	margin-top: 18px;
}

.ly-wrap.main .ly-content-wrap .swiper-slide.ex-content3 {
	text-align: center;
}

.ly-wrap.main .ly-content-wrap .swiper-slide.ex-content3 > div {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
			-ms-flex-pack: center;
					justify-content: center;
	-webkit-box-align: center;
			-ms-flex-align: center;
					align-items: center;
	height: 430px;
}

.ly-wrap.main .ly-content-wrap .swiper-slide.ex-content3 > div .slide-content {
	height: auto;
	margin-top: 0;
}

.ly-wrap.main .ly-content-wrap .swiper-slide.ex-content3 > div .slide-content p {
	font-size: 16px;
}

.ly-wrap.main .ly-content-wrap .swiper-slide.ex-content3 > div .slide-content .btn-area a {
	padding: 4px 16px;
	font-size: 13px;
	color: #666;
}

.ly-wrap.main .ly-content-wrap .short-cut {
	width: 380px;
	height: 430px;
}

.ly-wrap.main .ly-content-wrap .short-cut + div {
	width: calc(100% - 390px);
}

.ly-wrap.main .ly-content-wrap > div {
	-webkit-box-flex: 0;
			-ms-flex: 0 0 auto;
					flex: 0 0 auto;
}

.ly-wrap.main .ly-content .ui-tab-type2 {
	overflow: hidden;
}

.ly-wrap.main .ly-content .ui-tab-type2 .ui-tab-sub {
	margin-left: -632px;
	min-width: 1680px;
	width: 100vw;
}

.ly-wrap.main .ly-content .main-slide {
	position: relative;
}

.ly-wrap.main .ly-content .main-slide .ui-toggle {
	display: block;
	min-width: 760px;
	margin: -30px 110px 20px 0;
	text-align: right;
}

.ly-wrap.main .ly-content .main-slide > .swiper-wrapper {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-overflow-style: none;
}

.ly-wrap.main .ly-content .main-slide > .swiper-wrapper::-webkit-scrollbar {
	display: none;
}

.ly-wrap.main .ly-content .main-slide > .swiper-wrapper > button {
	display: inline-block;
	position: absolute;
	top: 50%;
	width: 48px;
	height: 48px;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 50%;
	color: transparent;
	font-size: 0;
	-webkit-transform: translateY(-50%);
					transform: translateY(-50%);
	z-index: 1;
}

.ly-wrap.main .ly-content .main-slide > .swiper-wrapper > button:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 12px;
	width: 20px;
	height: 4px;
	background: #231f20;
	border-radius: 2px;
}

.ly-wrap.main .ly-content .main-slide > .swiper-wrapper > button:after {
	content: "";
	position: absolute;
	top: 19px;
	left: 12px;
	width: 8px;
	height: 8px;
	border-left: 4px solid #231f20;
	border-bottom: 4px solid #231f20;
	border-radius: 3px 0 3px 0;
	-webkit-transform: rotate(45deg);
					transform: rotate(45deg);
}

.ly-wrap.main .ly-content .main-slide > .swiper-wrapper > button.slick-prev {
	right: 75px;
}

.ly-wrap.main .ly-content .main-slide > .swiper-wrapper > button.slick-next {
	right: 20px;
}

.ly-wrap.main .ly-content .main-slide > .swiper-wrapper > button.slick-next:after {
	left: 20px;
	-webkit-transform: rotate(-135deg);
					transform: rotate(-135deg);
}

.ly-wrap.main .ly-content .main-slide > .swiper-wrapper > button:active {
	background: #5367ff;
	border-color: #5367ff;
}

.ly-wrap.main .ly-content .main-slide > .swiper-wrapper > button:active:before {
	background: #fff;
}

.ly-wrap.main .ly-content .main-slide > .swiper-wrapper > button:active:after {
	border-color: #fff;
}

.ly-wrap.main .ly-content .main-slide > .swiper-wrapper > button.slick-disabled {
	pointer-events: none;
	opacity: .9;
	border-color: #eee;
}

.ly-wrap.main .ly-content .main-slide > .swiper-wrapper > button.slick-disabled:before {
	background: #d3d3d3;
}

.ly-wrap.main .ly-content .main-slide > .swiper-wrapper > button.slick-disabled:after {
	border-color: #d3d3d3;
}

.ly-wrap.main .ly-content .main-slide .btn-slide {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
					transform: translateY(-50%);
}

.ly-wrap.main .ly-content .main-slide .btn-slide.prev {
	right: 100px;
}

.ly-wrap.main .ly-content .main-slide .btn-slide.next {
	right: 40px;
}

.ly-wrap.main .main-footer {
	position: relative;
	min-width: 1080px;
	width: 100vw;
	height: 100px;
	line-height: 20px;
	text-align: center;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.ly-wrap.main .main-footer .check-list {
	position: absolute;
	bottom: 30px;
	left: 60px;
	width: 122px;
	height: 40px;
	font-size: 0;
	color: transparent;
	background: url("/res/images/common/ico_checklist.png") no-repeat left center;
}

.ly-wrap.main .main-footer .check-list:after {
	content: "";
	position: absolute;
	top: 15px;
	right: 0;
	width: 6px;
	height: 6px;
	border-left: 2px solid #000;
	border-bottom: 2px solid #000;
	-webkit-transform: rotate(-135deg);
					transform: rotate(-135deg);
}

.ly-wrap.main .main-footer-info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
			-ms-flex-align: center;
					align-items: center;
	-webkit-box-pack: center;
			-ms-flex-pack: center;
					justify-content: center;
	height: 100%;
}

.ly-wrap.main .main-footer-info dl {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	font-size: 13px;
	color: #999;
}

.ly-wrap.main .main-footer-info dl dt {
	font-weight: 700;
}

.ly-wrap.main .main-footer-info dl dd {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	margin-left: 20px;
}

.ly-wrap.main .main-footer-info dl + dl {
	margin-left: 25px;
}