{% set title = "가이드 UXW 아코디언"%}
{% extends "../templates/layout.njk" %}
{% block content %}
    <div class="guide-wrap">
        <h2 class="ex-name">Accordion</h2>
        <div class="ex-content">
            <div class="ex-title">
                <h3>아코디언 구성 주의사항(웹 접근성 관련)</h3>
                <p class="ex-desc" style="color: #ff0000"> 아래 예시는 마크업 구성 시 반드시 포함되어야 하는 속성을 설명하는 구조입니다. 실제 아코디언 구성 시에는 css style 구조에 맞는 마크업이 필요합니다.</p>
                <p class="ex-desc">* 아코디언 헤더의 [aria-controls] => 아코디언 컨텐츠의 [id]와 매칭
                <br>* 아코디언 헤더의 [id] => 아코디언 컨텐츠의 [aria-labelledby]와 매칭
            </p>
            </div>

            <div class="ex-body">
                <div class="ex-preview">
                    <!-- accordion -->
                    <div class="accordion" data-ui-accordion>
                        <ul class="accordion__box">
                            <li class="accordion__item">
                                <div class="accordion__head">
                                    <strong>타이틀</strong>
                                    <button type="button" role="accordion" id="acc_header1" class="button__accordion--arrow" aria-controls="acc_content1" aria-expanded="false" aria-label="아코디언 버튼">
                                        <span aria-label=""></span>
                                        <span aria-label=""></span>
                                    </button>
                                </div>
                                <div class="accordion__panel" id="acc_content1" role="accordionpanel" aria-labelledby="acc_header1"></div>
                            </li>
                            <li class="accordion__item">
                                <div class="accordion__head">
                                    <strong>타이틀</strong>
                                    <button type="button" role="accordion" id="acc_header2" class="button__accordion--arrow" aria-controls="acc_content2" aria-expanded="false" aria-label="아코디언 버튼">
                                        <span aria-label=""></span>
                                        <span aria-label=""></span>
                                    </button>
                                </div>
                                <div class="accordion__panel" id="acc_content2" role="accordionpanel" aria-labelledby="acc_header2"></div>
                            </li>
                            <li class="accordion__item">
                                <div class="accordion__head">
                                    <strong>타이틀</strong>
                                    <button type="button" role="accordion" id="acc_header3" class="button__accordion--arrow" aria-controls="acc_content3" aria-expanded="false" aria-label="아코디언 버튼">
                                        <span aria-label=""></span>
                                        <span aria-label=""></span>
                                    </button>
                                </div>
                                <div class="accordion__panel" id="acc_content3" role="accordionpanel" aria-labelledby="acc_header3"></div>
                            </li>
                        </ul>
                        <!-- //accordion -->
                    </div>

                    <div class="html-view">
                        <pre>
                    <code class="ex-code-block render-html">
                    <!-- accordion -->
                    <div class="accordion" data-ui-accordion>
                        <ul class="accordion__box">
                            <li class="accordion__item">
                                <div class="accordion__head">
                                    <strong>타이틀</strong>
                                    <button type="button" role="accordion" id="{acc_header}" class="button__accordion--arrow" aria-controls="{acc_content}" aria-expanded="false" aria-label="">
                                        <span aria-label=""></span>
                                        <span aria-label=""></span>
                                    </button>
                                </div>
                                <div class="accordion__panel" id="{acc_content}" role="accordionpanel" aria-labelledby="{acc_header}"></div>
                            </li>
                            <li class="accordion__item">
                                <div class="accordion__head">
                                    <strong>타이틀</strong>
                                    <button type="button" role="accordion" id="{acc_header}" class="button__accordion--arrow" aria-controls="{acc_content}" aria-expanded="false">아코디언1</button>
                                </div>
                                <div class="accordion__panel" id="{acc_content}" role="accordionpanel" aria-labelledby="{acc_header}"></div>
                            </li>
                            <li class="accordion__item">
                                <div class="accordion__head">
                                    <strong>타이틀</strong>
                                    <button type="button" role="accordion" id="{acc_header}" class="button__accordion--arrow" aria-controls="{acc_content}" aria-expanded="false">아코디언1</button>
                                </div>
                                <div class="accordion__panel" id="{acc_content}" role="accordionpanel" aria-labelledby="{acc_header}"></div>
                            </li>
                        </ul>
                        <!-- //accordion -->
                    </div>
                    </code>
                </pre>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}