{% set title = "가이드 UXW Header"%}
{% extends "../templates/layout.njk" %}
{% block content %}
	<div class="guide-wrap">
		<h2 class="ex-name">Header</h2>
		<div class="ex-content">
			<div class="ex-title">
				<h3>헤더 구성 방법</h3>
			</p>
		</div>

		<div class="ex-body">
			{# <div class="ex-preview">
				<!-- header -->
				<header class="head">
					<h1 class="head__logo">
						<a href="#none" alt="홈 바로가기">홈</a>
					</h1>
					<nav class="head__menu">
						<ul>
							<li>
								<button tpye="button" class="head__menu__list" href="#none" alt="{바로가기}" aria-expanded="false" aria-controls="{control.id}">메뉴버튼</button>
								<ul id="{control.id}">
									<li>
										<a href="#none" alt="{바로가기}">메뉴</a>
									</li>
									<li>
										<a href="#none" alt="{바로가기}">메뉴</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="#none" alt="{바로가기}">메뉴</a>
							</li>
						</ul>
					</nav>
				</header>
				<!-- //header -->
			</div> #}

			<div class="html-view">
				<pre>
                    <code class="ex-code-block render-html">
						<header class="head">
							<h1 class="head__logo">
								<a href="#none" alt="홈 바로가기">홈</a>
							</h1>
							<nav class="head__menu">
								<ul>
									<li>
										<button tpye="button" class="head__menu__list" href="#none" alt="{바로가기}" aria-expanded="false" aria-controls="{control.id}">메뉴버튼</button>
										<ul id="{control.id}">
											<li>
												<a href="#none" alt="{바로가기}">메뉴</a>
											</li>
											<li>
												<a href="#none" alt="{바로가기}">메뉴</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="#none" alt="{바로가기}">메뉴</a>
									</li>
								</ul>
							</nav>
						</header>
                    </code>
                </pre>
			</div>
		</div>
	</div>
</div>
{% endblock %}