//default
$white: #fff;
$black: #121619;
$colors: (
    grey: (
        50: #f8f9fc,
        100: #f3f6fb,
        // 150: #f6f6f6,
        200: #ebeff5,
        300: #d6dbe1,
        400: #b9c1c9,
        500: #808892,
        600: #565c63,
        700: #343a3f,
        // 800: #444,
        900: #121619,
    ),
    yellow: (
        50: #fffee6,
        100: #fffcc5,
        200: #fff8a5,
        300: #fff28b,
        400: #ffeb74,
        500: #ffe261,
        600: #ffd851,
        700: #ffcc45,
        800: #f4c342,
        900: #e8ba3f,
    ),
    light-green: (
        50: #effbed,
        100: #dbf5d7,
        200: #c7eec1,
        300: #b3e7ab,
        400: #a0e096,
        500: #8cd981,
        600: #7ad16c,
        700: #67c858,
        800: #62be54,
        900: #5db44f,
    ),
    red: (
        50: #fce9e9,
        100: #f8d3d3,
        200: #f5bdbd,
        300: #f1a7a7,
        400: #ee9191,
        500: #eb7a7a,
        600: #e76464,
        700: #c7192b,
        800: #e03838,
        900: #d22,
    ),
    orange: (
        // 50: #fff7ef,
        // 100: #fce4c8,
        // 200: #fbd8b0,
        // 300: #facc98,
        // 400: #f9c07f,
        // 500: #f8b467,
        // 600: #f6a84f,
        // 700: #f59c36,
        800: #d87b63,
        // 900: #ed840c,
    ),
    purple: (
        800: #5f74fb,
        // 100: #dfd4ff,
        // 200: #c9b6ff,
        // 300: #b597ff,
        // 400: #a179ff,
        // 500: #8d5bff,
        // 600: #7b3dff,
        // 700: #6a1ef7,
        // 800: #5902e8,
        // 900: #5003d0,,,,,,,,
    ),
    darkblue: (
        50: #f4f4f9,
        100: #dbdbe5,
        200: #bcbdd1,
        300: #a3a5c0,
        400: #8b8d80,
        500: #73759f,
        600: #5f618b,
        700: #4e5072,
        800: #3e3f5a,
        900: #2d2e42,
    ),
    blue: (
        // 30: #f5f5f7,
        // 50: #e6effb,
        100: #e5f0fc,
        200: #d7e8fb,
        300: #c3ddfa,
        // 400: #629edd,
        500: #87bbf5,
        600: #59a1f1,
        700: #368ded,
        800: #0471e9,
        900: #1150c5,
    ),
    turquoise: (
        50: #e6faf8,
        100: #c6f2ee,
        200: #a7eae3,
        300: #88e1d8,
        400: #6ad8cd,
        500: #4dcec1,
        600: #30c385,
        700: #14b8a8,
        800: #0bad9d,
        900: #03a091,
    ),
    natural: (
        1: #2175d3,
        2: #5902e8,
        3: #f4f4f4,
        4: #5656dc,
    ),
);

//example:  get-color(gray, 150)
@function color($color, $value: 0) {
    @return map-get(map-get($colors, $color), $value);
}
