@charset "utf-8";

/* font */
@font-face {
    font-family: 'Shinhan'; // 볼드체 700
    font-weight: bold;
    font-display: fallback;
    src: url('../fonts/OneShinhan-Bold.eot');
    src: local('OneShinhan-Bold'),
        url('../fonts/OneShinhan-Bold.woff2') format('woff2'),
        url('../fonts/OneShinhan-Bold.woff') format('woff'),
        url('../fonts/OneShinhan-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Shinhan'; // 미디엄 500
    font-weight: 500;
    font-display: fallback;
    src: url('../fonts/OneShinhan-Medium.eot');
    src: local('OneShinhan-Medium'),
        url('../fonts/OneShinhan-Medium.woff2') format('woff2'),
        url('../fonts/OneShinhan-Medium.woff') format('woff'),
        url('../fonts/OneShinhan-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Shinhan'; // 라이트 300
    font-weight: 300;
    font-display: fallback;
    src: url('../fonts/OneShinhan-Light.eot');
    src: local('OneShinhan-Light'),
        url('../fonts/OneShinhan-Light.woff2') format('woff2'),
        url('../fonts/OneShinhan-Light.woff') format('woff'),
        url('../fonts/OneShinhan-Light.ttf') format('truetype');
}