.light {
    font-weight: 300 !important;
}

.medium {
    font-weight: 500 !important;
}

.bold {
    font-weight: bold !important;
}

.ft28 {
    font-size: 28px !important;
}

.ft24 {
    font-size: 24px !important;
}

.ft20 {
    font-size: 20px !important;
}

.ft18 {
    font-size: 18px !important;
}

.ft14 {
    font-size: 14px !important;
}

.dpb {
    display: block !important;
}

.mgb6 {
    margin-bottom: 6px;
}

.mgt6 {
    margin-top: 6px;
}

.mgt20 {
    margin-top: 20px;
}

.pw100 {
    width: 100% !important;
}

.blue100-bg {
    background-color: color(blue, 100) !important;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.pxh170 {
    height: 170px;
}
