@charset 'utf-8';

.light {
  font-weight: 300 !important;
}

.medium {
  font-weight: 500 !important;
}

.bold {
  font-weight: bold !important;
}

.ft28 {
  font-size: 28px !important;
}

.ft24 {
  font-size: 24px !important;
}

.ft20 {
  font-size: 20px !important;
}

.ft18 {
  font-size: 18px !important;
}

.ft14 {
  font-size: 14px !important;
}

.dpb {
  display: block !important;
}

.mgb6 {
  margin-bottom: 6px;
}

.mgt6 {
  margin-top: 6px;
}

.mgt20 {
  margin-top: 20px !important;
}
.mgt18 {
  margin-top: 18px;
}
.mgt30 {
  margin-top: 30px;
}

.pw100 {
  width: 100% !important;
}

.blue100-bg {
  background-color: color(blue, 100) !important;
}

.grey50-bg {
  background-color: color(grey, 50) !important;
}

.blue700-ft {
  color: color(blue, 700) !important;
}

.purple80-ft {
  color: color(purple, 80) !important;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.pxh170 {
  height: 170px !important;
}

.pxh128 {
  height: 128px !important;
}

.pxh260 {
  height: 260px !important;
}

.pxh500 {
  height: 500px !important;
}

.pxh550 {
  height: 550px !important;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.ellipsis--type5 {
  display: -webkit-box !important;
  word-wrap: break-word;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.flex-end {
  justify-content: flex-end !important;
}

.flex-start {
  justify-content: flex-start !important;
}

.highlight {
  color: #21ff7a;
}

.highlight--type2 {
  background-color:rgba(4, 113, 233, 0.2);
}

@for $i from 1 through 200 {
  @if ($i % 2 == 0) {
    &.mxh#{$i} {
      min-height: $i + px !important;
      max-height: $i + px !important;
    }
  }
}
