<div class="modal modal--medium" id="modal5" role="dialog" aria-labelledby="#modal5Title">
  <div class="modal__dialog" role="document">
    <div class="modal__content">
      <div class="modal__header">
        <div class="modal__title" id="modal5Title">제목 수정</div>
        <button type="button" class="ic-button" data-dialog-close aria-label="팝업닫기"><i class="ic ic-close" aria-hidden="true"></i></button>
      </div>
      <div class="modal__body">
        <div class="form">
          <div class="fields">
            <div class="field">
              <label class="dpb medium ft14">제목</label>
              <textarea class="textarea textarea--tiny mxh68" maxlength="50">[2022.07.28] (1)</textarea>
              <div class="textarea__lengths">
                <label class="error" aria-hidden="true">입력 가능한 글자수를 초과했어요. 안정적인 교정을 위해 글자수를 조정해주세요.</label>
                <div class="textarea__lengths__box">
                  <span class="textarea__lengths--current">16</span>/ <span class="textarea__lengths--total">50</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal__footer">
        <button type="button" class="button pw100">저장하기</button>
      </div>
    </div>
  </div>
</div>
