<div class="modal modal--medium" id="modal6" role="dialog" aria-labelledby="#modal6Title">
  <div class="modal__dialog" role="document">
    <div class="modal__content">
      <div class="modal__header">
        <div class="modal__title" id="modal6Title">용어 문의 및 제안</div>
        <button type="button" class="ic-button" data-dialog-close aria-label="팝업닫기"><i class="ic ic-close" aria-hidden="true"></i></button>
      </div>
      <div class="modal__body">
        <div class="form">
          <div class="fields">
            <div class="field">
              <input type="radio" class="radio" name="radc01" id="radc01" checked />
              <label for="radc01">용어 문의</label>
              <input type="radio" class="radio" name="radc01" id="radc02" />
              <label for="radc02">용어 제안</label>
            </div>
          </div>
          <div class="divider" aria-hidden="true"></div>
          <div class="fields">
            <div class="field">
              <label class="dpb medium ft14">문의내용</label>
              <textarea class="textarea textarea--tiny" maxlength="500" placeholder="검토가 필요한 요청 사항을 입력해주세요."></textarea>
              <div class="textarea__lengths">
                <label class="error" aria-hidden="true">입력 가능한 글자수를 초과했어요. 안정적인 교정을 위해 글자수를 조정해주세요.</label>
                <div class="textarea__lengths__box">
                  <span class="textarea__lengths--current">0</span>/ <span class="textarea__lengths--total">500</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal__footer">
        <button type="button" class="button pw100">전달하기</button>
      </div>
    </div>
  </div>
</div>
