<div class="modal modal--medium" id="modal5" role="dialog" aria-labelledby="#modal5Title">
  <div class="modal__dialog modal__dialog--type2" role="document">
    <div class="modal__content">
      <div class="modal__header">
        <div class="modal__title" id="modal5Title">내 문의사항</div>
        <button type="button" class="ic-button" data-dialog-close aria-label="팝업닫기"><i class="ic ic-close" aria-hidden="true"></i></button>
      </div>
      <div class="modal__body">
        <div class="form">
          <div class="fields">
            <div class="field">
              <div class="textarea-box">
                <textarea class="textarea textarea--type2 textarea--tiny mxh150" readonly>문의 답변 내용이 마음에 들지 않습니다.</textarea>
                <div class="divider" aria-hidden="true"></div>
                <span class="text-date">2022.08.31</span>
              </div>
            </div>
          </div>
        </div>
        <div class="info info--type2">
          <p class="text text-blue">의견주신 내용은 검토하여 추후 용어/표현 사전 개선에 참고 자료로 활용됩니다.</p>
        </div>
        <div class="info info--type2">
          <p class="text">고객경험혁신센터 (02-000-0000)</p>
        </div>
      </div>
    </div>
  </div>
</div>
