<div class="modal modal--medium" id="modal4" role="dialog" aria-labelledby="#modal4Title">
    <div class="modal__dialog" role="document">
        <div class="modal__content">
            <div class="modal__header">
                <div class="modal__header__inner">
                    <div class="modal__title" id="modal4Title">내 문의사항</div>
                    <label class="label-ct">답변대기</label>
                </div>
                <button type="button" class="ic-button" data-dialog-close aria-label="팝업닫기">
                    <i class="ic ic-close" aria-hidden="true"></i>
                </button>
            </div>
            <div class="modal__body">
                <div class="form">
                    <div class="fields">
                        <div class="field">
                            <div class="title--type2 title--qa">
                                <strong class="medium ft14">Q</strong>
                                <span class="text">2022.08.22</span>
                            </div>
                            <textarea class="textarea textarea--type2 textarea--tiny" readonly>고객언어란 무엇인가요?</textarea>

                        </div>
                    </div>
                    <div class="fields">
                        <div class="field">
                            <div class="title--type2 title--qa">
                                <strong class="medium ft14">A</strong>
                                <span class="text">2022.08.22</span>
                            </div>
                            <div class="data-none data-none--qa">
                                <p>아직 답변이 등록되지 않았어요.</p>
                            </div>
                            <textarea class="textarea textarea--type2 textarea--tiny" readonly data-none></textarea>
                        </div>
                    </div>
                </div>
                <div class="info">
                    <i class="ic ic-exclamation" aria-hidden="true"></i>
                    <p class="text">고객경험혁신센터 (02-000-0000)</p>
                </div>
            </div>
        </div>
    </div>
</div>