.wrap {
  position: relative;
  width: 100%;
  height: 100vh;
}

.floating-menu-wrap {
  width: 360px;
  flex-shrink: 0;

  &--type2 {
    position: absolute;
    width: 204px;
    &.is-fixed {
      position: fixed;
      top:224px;
    }
  }
}

.ly {
  $root: ly;
  &-container {
    width: 100%;
    height: calc(100% - 80px);
    display: flex;
    background-color: $body-base-color;
    padding-top: 0px;
    flex-shrink: 1;
  }

  &-content {
    // position: relative;
    height: 100%;
    margin: 0 102px 0 0px;
    // min-width: 996px;
    // overflow: auto;
    width: 100%;
    // padding-right: 100px;

    @media all and(min-width:1921px) {
      width: 100%;
      max-width: 100%;
    }

    &-box {
      height: 100%;
      // max-width: 1200px;
      // margin: 0 auto;
      &:before {
        content: '';
        height: 40px;
        display: block;
      }
    }

    &__inner {
      padding: 40px 0;
    }
  }

  &-bottom-group {
    max-width: 996px;
    display: flex;
    align-items: center;
    flex-flow: wrap;
    justify-content: space-between;
    position: absolute;
    // margin: 0 460px 0 360px;
    // max-width: 996px;
    // min-width: 996px;
    left: 360px;
    right: 0;
    bottom: 0px;
    min-height: 56px;
    background-color: $body-base-color;

    @media all and(min-width:1921px) {
      padding-right: 100px;
      max-width: 100%;
    }

    &:before,
    &:after {
      content: '';
      display: block;
      width: 100%;
      background-color: $body-base-color;
    }

    &:before {
      height: 20px;
    }

    &:after {
      height: 40px;
    }

    > .tooltip__list {
      height: 100%;
    }
  }
}

.is-beside {
  .ly-content {
    margin: 0 0px 0 0px;
    padding: 0;
    min-width: auto;
    max-width: 996px;
    flex-shrink: 0;
  }
}
