$root : head;

.#{$root} {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: color(grey, 50);
    border-bottom: 1px solid color(gray, 200);
    padding: 0 40px;
    z-index: 100;

    &__logo {
        font-size: 18px;
        font-weight: bold;
        height: 100%;
        min-width: 184px;

        a {
            display: flex;
            align-items: center;
            height: 100%;
            color: $header-color;

            span {
                margin-left: 10px;
            }
        }
    }

    &__nav {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        ul {
            font-size: 0;

            li {
                display: inline-block;
                vertical-align: top;
            }
        }
    }


    &__btn {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $white;
        box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
        margin-right: 24px;

        &.is-active {
            background-color: color(blue, 800);
        }
    }

    &__log {
        display: inline-block;
        vertical-align: top;
    }
}