{% macro active(activePage = 'currect') %}
    <li>
        <a href="#none" type="button" class="ic-button-head {%if activePage == 'currect' %}is-active{% endif %}" href="/res/html/currect_before.html" aria-label="글쓰기">
            <i class="ic ic-writing" aria-hidden="true"></i>
        </a>
    </li>
    <li>
        <a href="#none" type="button" class="ic-button-head {%if activePage == 'mypage' %}is-active{% endif %}" href="/res/html/mypage.html" aria-label="마이페이지">
            <i class="ic ic-my" aria-hidden="true"></i>
        </a>
    </li>
    <li>
        <a href="#none" type="button" class="ic-button-head {%if activePage == 'qa' %}is-active{% endif %}" href="#noen" aria-label="Q&A">
            <i class="ic ic-qa" aria-hidden="true"></i>
        </a>
    </li>
    <li>
        <a href="#none" type="button" class="ic-button-head {%if activePage == 'menu' %}is-active{% endif %}" href="#noen" aria-controls="nav_content" aria-label="메뉴">
            <i class="ic ic-menu" aria-hidden="true"></i>
        </a>
    </li>
{% endmacro %}