{% extends '../templates/layout.njk' %}
{% block content %}
  <div class="guide-wrap">
    <h2 class="ex-name">Expresstion</h2>
    <div class="ex-content">
      <div class="ex-title">
        <h3>List형태의 표현방식을 변경합니다.</h3>
        <p class="ex-desc">
          기본 expresstion 입니다.
          <br /> * 배경색이 있을경우 기본 expresstion을 사용합니다.
        </p>
      </div>

      <div class="ex-body">
        <div class="ex-preview">
          <div class="side__frame__wrap" style="background-color:#0471E9">
            <h4 class="ft18 medium">김픽스님, 이런 표현들을 조심하세요!</h4>
            <div class="expresstion">
              <ul class="expresstion-group">
                <li class="expresstion-list">
                  <span>네비게이션</span>
                  <i class="ic ic-expresstion-arrow" aria-hidden="true"></i>
                  <span>내비게이션</span>
                </li>
                <li class="expresstion-list">
                  <span>개인종합자산관리계좌 (ISA)</span>
                  <i class="ic ic-expresstion-arrow" aria-hidden="true"></i>
                  <span>ISA (개인종합자산관리계좌)</span>
                </li>
                <li class="expresstion-list">
                  <span>라이센스</span>
                  <i class="ic ic-expresstion-arrow" aria-hidden="true"></i>
                  <span>라이선스</span>
                </li>
                <li class="expresstion-list">
                  <span>휴대폰 인증서 서비스(UBIKey)</span>
                  <i class="ic ic-expresstion-arrow" aria-hidden="true"></i>
                  <span>휴대폰 인증서 서비스(유비키)</span>
                </li>
                <li class="expresstion-list">
                  <span>추산</span>
                  <i class="ic ic-expresstion-arrow" aria-hidden="true"></i>
                  <span>어림잡다</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="html-view">
            <pre>
              <code class="ex-code-block render-html">
                <div class="side__frame__wrap">
                  <h4 class="ft18 medium">김픽스님, 이런 표현들을 조심하세요!</h4>
                  <div class="expresstion">
                    <ul class="expresstion-group">
                      <li class="expresstion-list">
                        <span>네비게이션</span>
                        <i class="ic ic-expresstion-arrow" aria-hidden="true"></i>
                        <span>내비게이션</span>
                      </li>
                      <li class="expresstion-list">
                        <span>개인종합자산관리계좌 (ISA)</span>
                        <i class="ic ic-expresstion-arrow" aria-hidden="true"></i>
                        <span>ISA (개인종합자산관리계좌)</span>
                      </li>
                      <li class="expresstion-list">
                        <span>라이센스</span>
                        <i class="ic ic-expresstion-arrow" aria-hidden="true"></i>
                        <span>라이선스</span>
                      </li>
                      <li class="expresstion-list">
                        <span>휴대폰 인증서 서비스(UBIKey)</span>
                        <i class="ic ic-expresstion-arrow" aria-hidden="true"></i>
                        <span>휴대폰 인증서 서비스(유비키)</span>
                      </li>
                      <li class="expresstion-list">
                        <span>추산</span>
                        <i class="ic ic-expresstion-arrow" aria-hidden="true"></i>
                        <span>어림잡다</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </code>
            </pre>
          </div>
        </div>
      </div>
    </div>

    <div class="ex-content">
      <div class="ex-title">
        <h3>expresstion type2</h3>
        <p class="ex-desc">
          expresstion type2 입니다
          <br /> * class에 .expresstion--type2를 함께 사용합니다.
        </p>
      </div>

      <div class="ex-body">
        <div class="ex-preview">
          <div class="expresstion expresstion--type2">
            <ul class="expresstion-group">
              <li class="expresstion-list">
                <span>네비게이션</span>
                <i class="ic ic-expresstion-arrow--type2" aria-hidden="true"></i>
                <span>내비게이션</span>
              </li>
              <li class="expresstion-list">
                <span>개인종합자산관리계좌 (ISA)</span>
                <i class="ic ic-expresstion-arrow--type2" aria-hidden="true"></i>
                <span>ISA (개인종합자산관리계좌)</span>
              </li>
              <li class="expresstion-list">
                <span>라이센스</span>
                <i class="ic ic-expresstion-arrow--type2" aria-hidden="true"></i>
                <span>라이선스</span>
              </li>
              <li class="expresstion-list">
                <span>휴대폰 인증서 서비스(UBIKey)</span>
                <i class="ic ic-expresstion-arrow--type2" aria-hidden="true"></i>
                <span>휴대폰 인증서 서비스(유비키)</span>
              </li>
              <li class="expresstion-list">
                <span>추산</span>
                <i class="ic ic-expresstion-arrow--type2" aria-hidden="true"></i>
                <span>어림잡다</span>
              </li>
            </ul>
          </div>
          <div class="html-view">
            <pre>
              <code class="ex-code-block render-html">
                <div class="expresstion expresstion--type2">
                  <ul class="expresstion-group">
                    <li class="expresstion-list">
                      <span>네비게이션</span>
                      <i class="ic ic-expresstion-arrow--type2" aria-hidden="true"></i>
                      <span>내비게이션</span>
                    </li>
                    <li class="expresstion-list">
                      <span>개인종합자산관리계좌 (ISA)</span>
                      <i class="ic ic-expresstion-arrow--type2" aria-hidden="true"></i>
                      <span>ISA (개인종합자산관리계좌)</span>
                    </li>
                    <li class="expresstion-list">
                      <span>라이센스</span>
                      <i class="ic ic-expresstion-arrow--type2" aria-hidden="true"></i>
                      <span>라이선스</span>
                    </li>
                    <li class="expresstion-list">
                      <span>휴대폰 인증서 서비스(UBIKey)</span>
                      <i class="ic ic-expresstion-arrow--type2" aria-hidden="true"></i>
                      <span>휴대폰 인증서 서비스(유비키)</span>
                    </li>
                    <li class="expresstion-list">
                      <span>추산</span>
                      <i class="ic ic-expresstion-arrow--type2" aria-hidden="true"></i>
                      <span>어림잡다</span>
                    </li>
                  </ul>
                </div>
              </code>
            </pre>
          </div>
        </div>
      </div>
    </div>

    <div class="ex-content">
      <div class="ex-title">
        <h3>expresstion type3</h3>
        <p class="ex-desc">
          List내부에 버튼이 필요할시 expresstion type3을 사용합니다.
          <br /> * class에 .expresstion--type3를 함께 사용합니다.
        </p>
      </div>

      <div class="ex-body">
        <div class="ex-preview">
          <div class="expresstion expresstion--type3">
            <ul class="expresstion-group">
              <li class="expresstion-list">
                <button type="button" class="expresstion-button" aria-hidden="true"></button>
                <span>네비게이션</span>
                <i class="ic ic-expresstion-arrow--type2" aria-hidden="true"></i>
                <span>내비게이션</span>
              </li>
              <li class="expresstion-list">
                <button type="button" class="expresstion-button" aria-hidden="true"></button>
                <span>개인종합자산관리계좌 (ISA)</span>
                <i class="ic ic-expresstion-arrow--type2" aria-hidden="true"></i>
                <span>ISA (개인종합자산관리계좌)</span>
              </li>
              <li class="expresstion-list">
                <button type="button" class="expresstion-button" aria-hidden="true"></button>
                <span>라이센스</span>
                <i class="ic ic-expresstion-arrow--type2" aria-hidden="true"></i>
                <span>라이선스</span>
              </li>
              <li class="expresstion-list">
                <button type="button" class="expresstion-button" aria-hidden="true"></button>
                <span>휴대폰 인증서 서비스(UBIKey)</span>
                <i class="ic ic-expresstion-arrow--type2" aria-hidden="true"></i>
                <span>휴대폰 인증서 서비스(유비키)</span>
              </li>
              <li class="expresstion-list">
                <button type="button" class="expresstion-button" aria-hidden="true"></button>
                <span>추산</span>
                <i class="ic ic-expresstion-arrow--type2" aria-hidden="true"></i>
                <span>어림잡다</span>
              </li>
              <li class="expresstion-list">
                <button type="button" class="expresstion-button" aria-hidden="true"></button>
                <span>네비게이션</span>
                <i class="ic ic-expresstion-arrow--type2" aria-hidden="true"></i>
                <span>내비게이션</span>
              </li>
              <li class="expresstion-list">
                <button type="button" class="expresstion-button" aria-hidden="true"></button>
                <span>개인종합자산관리계좌 (ISA)</span>
                <i class="ic ic-expresstion-arrow--type2" aria-hidden="true"></i>
                <span>ISA (개인종합자산관리계좌)</span>
              </li>
              <li class="expresstion-list">
                <button type="button" class="expresstion-button" aria-hidden="true"></button>
                <span>라이센스</span>
                <i class="ic ic-expresstion-arrow--type2" aria-hidden="true"></i>
                <span>라이선스</span>
              </li>
              <li class="expresstion-list">
                <button type="button" class="expresstion-button" aria-hidden="true"></button>
                <span>휴대폰 인증서 서비스(UBIKey)</span>
                <i class="ic ic-expresstion-arrow--type2" aria-hidden="true"></i>
                <span>휴대폰 인증서 서비스(유비키)</span>
              </li>
              <li class="expresstion-list">
                <button type="button" class="expresstion-button" aria-hidden="true"></button>
                <span>추산</span>
                <i class="ic ic-expresstion-arrow--type2" aria-hidden="true"></i>
                <span>어림잡다</span>
              </li>
            </ul>
          </div>
          <div class="html-view">
            <pre>
              <code class="ex-code-block render-html">
                <div class="expresstion expresstion--type3">
                  <ul class="expresstion-group">
                    <li class="expresstion-list">
                      <button type="button" class="expresstion-button" aria-hidden="true"></button>
                      <span>네비게이션</span>
                      <i class="ic ic-expresstion-arrow--type2" aria-hidden="true"></i>
                      <span>내비게이션</span>
                    </li>
                    <li class="expresstion-list">
                      <button type="button" class="expresstion-button" aria-hidden="true"></button>
                      <span>개인종합자산관리계좌 (ISA)</span>
                      <i class="ic ic-expresstion-arrow--type2" aria-hidden="true"></i>
                      <span>ISA (개인종합자산관리계좌)</span>
                    </li>
                    <li class="expresstion-list">
                      <button type="button" class="expresstion-button" aria-hidden="true"></button>
                      <span>라이센스</span>
                      <i class="ic ic-expresstion-arrow--type2" aria-hidden="true"></i>
                      <span>라이선스</span>
                    </li>
                    <li class="expresstion-list">
                      <button type="button" class="expresstion-button" aria-hidden="true"></button>
                      <span>휴대폰 인증서 서비스(UBIKey)</span>
                      <i class="ic ic-expresstion-arrow--type2" aria-hidden="true"></i>
                      <span>휴대폰 인증서 서비스(유비키)</span>
                    </li>
                    <li class="expresstion-list">
                      <button type="button" class="expresstion-button" aria-hidden="true"></button>
                      <span>추산</span>
                      <i class="ic ic-expresstion-arrow--type2" aria-hidden="true"></i>
                      <span>어림잡다</span>
                    </li>
                    <li class="expresstion-list">
                      <button type="button" class="expresstion-button" aria-hidden="true"></button>
                      <span>네비게이션</span>
                      <i class="ic ic-expresstion-arrow--type2" aria-hidden="true"></i>
                      <span>내비게이션</span>
                    </li>
                    <li class="expresstion-list">
                      <button type="button" class="expresstion-button" aria-hidden="true"></button>
                      <span>개인종합자산관리계좌 (ISA)</span>
                      <i class="ic ic-expresstion-arrow--type2" aria-hidden="true"></i>
                      <span>ISA (개인종합자산관리계좌)</span>
                    </li>
                    <li class="expresstion-list">
                      <button type="button" class="expresstion-button" aria-hidden="true"></button>
                      <span>라이센스</span>
                      <i class="ic ic-expresstion-arrow--type2" aria-hidden="true"></i>
                      <span>라이선스</span>
                    </li>
                    <li class="expresstion-list">
                      <button type="button" class="expresstion-button" aria-hidden="true"></button>
                      <span>휴대폰 인증서 서비스(UBIKey)</span>
                      <i class="ic ic-expresstion-arrow--type2" aria-hidden="true"></i>
                      <span>휴대폰 인증서 서비스(유비키)</span>
                    </li>
                    <li class="expresstion-list">
                      <button type="button" class="expresstion-button" aria-hidden="true"></button>
                      <span>추산</span>
                      <i class="ic ic-expresstion-arrow--type2" aria-hidden="true"></i>
                      <span>어림잡다</span>
                    </li>
                  </ul>
                </div>
              </code>
            </pre>
          </div>
        </div>
      </div>
    </div>

    <div class="ex-content">
      <div class="ex-title">
        <h3>expresstion type4</h3>
        <p class="ex-desc">
          그리드 형태의 List이며 우측 Text가 클릭이 가능한 형태에 type4를 사용합니다.
          <br /> * class에 .expresstion--type4를 함께 사용합니다.
          <br /> * 색상은 기본이 블루이며 expresstion--purple 사용시 보라색으로 변경됩니다.
        </p>
      </div>

      <div class="ex-body">
        <div class="ex-preview">
          <div class="expresstion expresstion--type4">
            <ul class="expresstion-group">
              <li class="expresstion-list">
                <span>네비게이션</span>
                <i class="ic ic-expresstion-arrow--type2" aria-hidden="true"></i>
                <label role="button">내비게이션</label>
              </li>
              <li class="expresstion-list">
                <span>개인종합자산관리계좌 (ISA)</span>
                <i class="ic ic-expresstion-arrow--type2" aria-hidden="true"></i>
                <label role="button">ISA (개인종합자산관리계좌)</label>
              </li>
              <li class="expresstion-list">
                <span>라이센스</span>
                <i class="ic ic-expresstion-arrow--type2" aria-hidden="true"></i>
                <label role="button">라이선스</label>
              </li>
              <li class="expresstion-list">
                <span>추산</span>
                <i class="ic ic-expresstion-arrow--type2" aria-hidden="true"></i>
                <label role="button">어림잡다</label>
              </li>
              <li class="expresstion-list">
                <span>휴대폰 인증서 서비스(UBIKey)</span>
                <i class="ic ic-expresstion-arrow--type2" aria-hidden="true"></i>
                <label role="button">휴대폰 인증서 서비스(유비키)</label>
              </li>
              <li class="expresstion-list">
                <span>네비게이션</span>
                <i class="ic ic-expresstion-arrow--type2" aria-hidden="true"></i>
                <label role="button">내비게이션</label>
              </li>
              <li class="expresstion-list">
                <span>개인종합자산관리계좌 (ISA)</span>
                <i class="ic ic-expresstion-arrow--type2" aria-hidden="true"></i>
                <label role="button">ISA (개인종합자산관리계좌)</label>
              </li>
              <li class="expresstion-list">
                <span>라이센스</span>
                <i class="ic ic-expresstion-arrow--type2" aria-hidden="true"></i>
                <label role="button">라이선스</label>
              </li>
              <li class="expresstion-list">
                <span>휴대폰 인증서 서비스(UBIKey)</span>
                <i class="ic ic-expresstion-arrow--type2" aria-hidden="true"></i>
                <label role="button">휴대폰 인증서 서비스(유비키)</label>
              </li>
              <li class="expresstion-list">
                <span>추산</span>
                <i class="ic ic-expresstion-arrow--type2" aria-hidden="true"></i>
                <label role="button">어림잡다</label>
              </li>
            </ul>
          </div>
          <br /><br />
          <div class="expresstion expresstion--type4 expresstion--purple">
            <ul class="expresstion-group">
              <li class="expresstion-list">
                <label role="button">ISA (개인종합자산관리계좌)</label>
              </li>
              <li class="expresstion-list">
                <label role="button">라이선스</label>
              </li>
              <li class="expresstion-list">
                <label role="button">휴대폰 인증서 서비스(유비키)</label>
              </li>
              <li class="expresstion-list">
                <label role="button">어림잡다</label>
              </li>
              <li class="expresstion-list">
                <label role="button">내비게이션</label>
              </li>
              <li class="expresstion-list">
                <label role="button">ISA (개인종합자산관리계좌)</label>
              </li>
            </ul>
          </div>
          <div class="html-view">
            <pre>
              <code class="ex-code-block render-html">
                <div class="expresstion expresstion--type4">
                  <ul class="expresstion-group">
                    <li class="expresstion-list">
                      <span>네비게이션</span>
                      <i class="ic ic-expresstion-arrow--type2" aria-hidden="true"></i>
                      <label role="button">내비게이션</label>
                    </li>
                    <li class="expresstion-list">
                      <span>개인종합자산관리계좌 (ISA)</span>
                      <i class="ic ic-expresstion-arrow--type2" aria-hidden="true"></i>
                      <label role="button">ISA (개인종합자산관리계좌)</label>
                    </li>
                    <li class="expresstion-list">
                      <span>라이센스</span>
                      <i class="ic ic-expresstion-arrow--type2" aria-hidden="true"></i>
                      <label role="button">라이선스</label>
                    </li>
                    <li class="expresstion-list">
                      <span>추산</span>
                      <i class="ic ic-expresstion-arrow--type2" aria-hidden="true"></i>
                      <label role="button">어림잡다</label>
                    </li>
                    <li class="expresstion-list">
                      <span>휴대폰 인증서 서비스(UBIKey)</span>
                      <i class="ic ic-expresstion-arrow--type2" aria-hidden="true"></i>
                      <label role="button">휴대폰 인증서 서비스(유비키)</label>
                    </li>
                    <li class="expresstion-list">
                      <span>네비게이션</span>
                      <i class="ic ic-expresstion-arrow--type2" aria-hidden="true"></i>
                      <label role="button">내비게이션</label>
                    </li>
                    <li class="expresstion-list">
                      <span>개인종합자산관리계좌 (ISA)</span>
                      <i class="ic ic-expresstion-arrow--type2" aria-hidden="true"></i>
                      <label role="button">ISA (개인종합자산관리계좌)</label>
                    </li>
                    <li class="expresstion-list">
                      <span>라이센스</span>
                      <i class="ic ic-expresstion-arrow--type2" aria-hidden="true"></i>
                      <label role="button">라이선스</label>
                    </li>
                    <li class="expresstion-list">
                      <span>휴대폰 인증서 서비스(UBIKey)</span>
                      <i class="ic ic-expresstion-arrow--type2" aria-hidden="true"></i>
                      <label role="button">휴대폰 인증서 서비스(유비키)</label>
                    </li>
                    <li class="expresstion-list">
                      <span>추산</span>
                      <i class="ic ic-expresstion-arrow--type2" aria-hidden="true"></i>
                      <label role="button">어림잡다</label>
                    </li>
                  </ul>
                </div>

                <div class="expresstion expresstion--type4 expresstion--purple">
                  <ul class="expresstion-group">
                    <li class="expresstion-list">
                      <label role="button">ISA (개인종합자산관리계좌)</label>
                    </li>
                    <li class="expresstion-list">
                      <label role="button">라이선스</label>
                    </li>
                    <li class="expresstion-list">
                      <label role="button">휴대폰 인증서 서비스(유비키)</label>
                    </li>
                    <li class="expresstion-list">
                      <label role="button">어림잡다</label>
                    </li>
                    <li class="expresstion-list">
                      <label role="button">내비게이션</label>
                    </li>
                    <li class="expresstion-list">
                      <label role="button">ISA (개인종합자산관리계좌)</label>
                    </li>
                  </ul>
                </div>
              </code>
            </pre>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
