{% set user = "logout" %}
{% set title = "가이드 UXW 플로팅메뉴"%}
{% extends "../templates/layout.njk" %}
{% block content %}
    <div class="guide-wrap">
        <h2 class="ex-name">Floating-Menu</h2>
        <div class="ex-content">
            <div class="ex-title">
                <h3>좌측사이드의 floating</h3>
                <p class="ex-desc">제작중입니다.
                </p>
            </div>

            <div class="ex-body">
                <div class="ex-preview">
                    <div class="html-view">
                        <pre>
                        <code class="ex-code-block render-html">
                        
                        </code>
                    </pre>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}