{% set user = "logout" %}
{% set title = "가이드 UXW 그리드"%}
{% extends "../templates/layout.njk" %}
{% block content %}
  <div class="guide-wrap">
    <h2 class="ex-name">Grid</h2>
    <div class="ex-content">
      <div class="ex-title">
        <h3>기본</h3>
        <p class="ex-desc">기본 Grid입니다.
          <br/>* Grid의 column 갯수는 col1 ~ 5까지 조절가능합니다.
          <br/>* grid__box의 갯수와 col{number}는 같아야 합니다.
          <br/>* 기본 grid는 row가 1개일때 사용합니다.
        </p>
      </div>

      <div class="ex-body">
        <div class="ex-preview">
          <div class="grid col1">
            <div class="grid__box"></div>
          </div>
          <br/>
          <div class="grid col2">
            <div class="grid__box"></div>
            <div class="grid__box"></div>
          </div>
          <br/>
          <div class="grid col3">
            <div class="grid__box"></div>
            <div class="grid__box"></div>
            <div class="grid__box"></div>
          </div>
          <br/>
          <div class="grid col4">
            <div class="grid__box"></div>
            <div class="grid__box"></div>
            <div class="grid__box"></div>
            <div class="grid__box"></div>
          </div>
          <br/>
          <div class="grid col5">
            <div class="grid__box"></div>
            <div class="grid__box"></div>
            <div class="grid__box"></div>
            <div class="grid__box"></div>
            <div class="grid__box"></div>
          </div>
          <div class="html-view">
            <pre>
                <code class="ex-code-block render-html">
                  <div class="grid col1">
                    <div class="grid__box"></div>
                  </div>
                  <br/>
                  <div class="grid col2">
                    <div class="grid__box"></div>
                    <div class="grid__box"></div>
                  </div>
                  <br/>
                  <div class="grid col3">
                    <div class="grid__box"></div>
                    <div class="grid__box"></div>
                    <div class="grid__box"></div>
                  </div>
                  <br/>
                  <div class="grid col4">
                    <div class="grid__box"></div>
                    <div class="grid__box"></div>
                    <div class="grid__box"></div>
                    <div class="grid__box"></div>
                  </div>
                  <br/>
                  <div class="grid col5">
                    <div class="grid__box"></div>
                    <div class="grid__box"></div>
                    <div class="grid__box"></div>
                    <div class="grid__box"></div>
                    <div class="grid__box"></div>
                  </div>
                </code>
            </pre>
          </div>
        </div>
      </div>
    </div>

    <div class="ex-content">
      <div class="ex-title">
        <h3>grid--type2</h3>
        <p class="ex-desc">
          row가 2개이상 일때 사용합니다.
          <br/>* col{number}에 따라 column의 갯수가 지정됩니다. 1 ~ 5까지 조절가능합니다.
        </p>
      </div>

      <div class="ex-body">
        <div class="ex-preview">
          <div class="grid--type2 col4">
            <div class="grid__box"></div>
            <div class="grid__box"></div>
            <div class="grid__box"></div>
            <div class="grid__box"></div>
            <div class="grid__box"></div>
            <div class="grid__box"></div>
            <div class="grid__box"></div>
            <div class="grid__box"></div>
          </div>
          <br/>

          <div class="html-view">
            <pre>
                <code class="ex-code-block render-html">
                  <div class="grid--type2 col4">
                    <div class="grid__box"></div>
                    <div class="grid__box"></div>
                    <div class="grid__box"></div>
                    <div class="grid__box"></div>
                    <div class="grid__box"></div>
                    <div class="grid__box"></div>
                    <div class="grid__box"></div>
                    <div class="grid__box"></div>
                  </div>
                </code>
            </pre>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}