{% set user = "logout" %}
{% set title = "가이드 UXW 아이콘"%}
{% extends "../templates/layout.njk" %}
{% block content %}
  <div class="guide-wrap">
    <h2 class="ex-name">Icon</h2>
    <div class="ex-content">
      <div class="ex-title">
        <h3>기본</h3>
        <p class="ex-desc">기본 Icon입니다.</p>
      </div>

      <div class="ex-body">
        <div class="ex-preview">
          <i class="ic ic-edit" aria-hidden="true"></i>
          <i class="ic ic-writing" aria-hidden="true"></i>
          <i class="ic ic-my" aria-hidden="true"></i>
          <i class="ic ic-qa" aria-hidden="true"></i>
          <i class="ic ic-menu" aria-hidden="true"></i>
          <i class="ic ic-text-arrow" aria-hidden="true"></i>
          <i class="ic ic-text-arrow--type2" aria-hidden="true"></i>
          <i class="ic ic-guidebook" aria-hidden="true"></i>
          <i class="ic ic-edition" aria-hidden="true"></i>
          <i class="ic ic-search" aria-hidden="true"></i>
          <i class="ic ic-download" aria-hidden="true"></i>
          <i class="ic ic-upload" aria-hidden="true"></i>
          <i class="ic ic-delete" aria-hidden="true"></i>
          <i class="ic ic-copy" aria-hidden="true"></i>
          <i class="ic ic-clear" aria-hidden="true"></i>
          <i class="ic ic-exclamation" aria-hidden="true"></i>
          <i class="ic ic-close-large" aria-hidden="true"></i>
          <i class="ic ic-close" aria-hidden="true"></i>
          <i class="ic ic-search--small" aria-hidden="true"></i>
          <i class="ic ic-bookmark-g" aria-hidden="true"></i>
          <i class="ic ic-bookmark-y" aria-hidden="true"></i>
          <i class="ic ic-back" aria-hidden="true"></i>
          <i class="ic ic-pind" aria-hidden="true"></i>
          <i class="ic ic-prev-arrow--first" aria-hidden="true"></i>
          <i class="ic ic-next-arrow--last" aria-hidden="true"></i>
          <i class="ic ic-prev-arrow" aria-hidden="true"></i>
          <i class="ic ic-next-arrow" aria-hidden="true"></i>
          <i class="ic ic-expresstion-arrow--type2" aria-hidden="true"></i>

          <div style="background-color:rgba(17, 80, 197, 0.9)">
            <i class="ic ic-writing-w" aria-hidden="true"></i>
            <i class="ic ic-refresh" aria-hidden="true"></i>
            <i class="ic ic-arrow" aria-hidden="true"></i>
            <i class="ic ic-bookmark" aria-hidden="true"></i>
            <i class="ic ic-bookmark-active" aria-hidden="true"></i>
            <i class="ic ic-delete-w" aria-hidden="true"></i>
            <i class="ic ic-move-w" aria-hidden="true"></i>
            <i class="ic ic-expresstion-arrow" aria-hidden="true"></i>
          </div>

          <div class="html-view">
            <pre>
                <code class="ex-code-block render-html">
                    <i class="ic ic-edit" aria-hidden="true"></i>
                    <i class="ic ic-writing" aria-hidden="true"></i>
                    <i class="ic ic-my" aria-hidden="true"></i>
                    <i class="ic ic-qa" aria-hidden="true"></i>
                    <i class="ic ic-menu" aria-hidden="true"></i>
                    <i class="ic ic-text-arrow" aria-hidden="true"></i>
                    <i class="ic ic-text-arrow--type2" aria-hidden="true"></i>
                    <i class="ic ic-guidebook" aria-hidden="true"></i>
                    <i class="ic ic-edition" aria-hidden="true"></i>
                    <i class="ic ic-search" aria-hidden="true"></i>
                    <i class="ic ic-download" aria-hidden="true"></i>
                    <i class="ic ic-upload" aria-hidden="true"></i>
                    <i class="ic ic-delete" aria-hidden="true"></i>
                    <i class="ic ic-copy" aria-hidden="true"></i>
                    <i class="ic ic-clear" aria-hidden="true"></i>
                    <i class="ic ic-exclamation" aria-hidden="true"></i>
                    <i class="ic ic-close-large" aria-hidden="true"></i>
                    <i class="ic ic-close" aria-hidden="true"></i>
                    <i class="ic ic-search--small" aria-hidden="true"></i>
                    <i class="ic ic-bookmark-g" aria-hidden="true"></i>
                    <i class="ic ic-bookmark-y" aria-hidden="true"></i>
                    <i class="ic ic-back" aria-hidden="true"></i>
                    <i class="ic ic-pind" aria-hidden="true"></i>
                    <i class="ic ic-prev-arrow--first" aria-hidden="true"></i>
                    <i class="ic ic-next-arrow--last" aria-hidden="true"></i>
                    <i class="ic ic-prev-arrow" aria-hidden="true"></i>
                    <i class="ic ic-next-arrow" aria-hidden="true"></i>
                    <i class="ic ic-expresstion-arrow--type2" aria-hidden="true"></i>
                    <i class="ic ic-writing-w" aria-hidden="true"></i>
                    <i class="ic ic-refresh" aria-hidden="true"></i>
                    <i class="ic ic-arrow" aria-hidden="true"></i>
                    <i class="ic ic-bookmark" aria-hidden="true"></i>
                    <i class="ic ic-bookmark-active" aria-hidden="true"></i>
                    <i class="ic ic-delete-w" aria-hidden="true"></i>
                    <i class="ic ic-move-w" aria-hidden="true"></i>
                    <i class="ic ic-expresstion-arrow" aria-hidden="true"></i>
                </code>
            </pre>
          </div>
        </div>
      </div>
    </div>

  </div>
{% endblock %}